<div class="pull-right">
	{{ i18n('m.change.catalog.document.billingarea.enable-deletion', ['ucf', 'lab']) }}
	<switch data-ng-model="TaxesSection.deletionMode" />
</div>
<div class="btn-toolbar">
	<form class="input-append btn-group">
		<input type="text" data-ng-model="TaxesSection.newCategoryCode" class="input-mini" />
		<button class="btn btn-info" ng-click="TaxesSection.addCategory()" type="submit">
			<i class="icon-plus"></i> {{ i18n('m.change.catalog.document.billingarea.tax-category', ['ucf']) }}
		</button>
	</form>
	<form class="input-append btn-group">
		<input type="text" data-ng-model="TaxesSection.newZoneCode" class="input-mini" />
		<button class="btn btn-info" ng-click="TaxesSection.addZone()" type="submit">
			<i class="icon-plus"></i> {{ i18n('m.change.catalog.document.billingarea.tax-zone', ['ucf']) }}
		</button>
	</form>
</div>

<table class="table table-striped table-bordered">
	<thead>
		<tr>
			<th></th>
			<th style="text-align: center;" data-ng-repeat="(categoryIndex, category) in TaxesSection.categories">
				(= category.code =)
				<button class="btn btn-danger btn-mini" ng-show="TaxesSection.deletionMode" ng-click="TaxesSection.removeCategory(categoryIndex)" type="button">
					<i class="icon-trash icon-white"></i>
				</button>
			</th>
		</tr>
	</thead>
	<tbody>
		<tr data-ng-repeat="(lineIndex, line) in TaxesSection.lines">
			<th>
				(= line.zone.code =)
				<button class="btn btn-danger btn-mini" ng-show="TaxesSection.deletionMode" ng-click="TaxesSection.removeZone(lineIndex)" type="button">
					<i class="icon-trash icon-white"></i>
				</button>
			</th>
			<td style="text-align: center;" data-ng-repeat="rate in line.rates">
				<div class="input-append">
					<input type="number" data-ng-model="rate.value" style="width: 40px" />
					<span class="add-on">%</span>
				</div>
			</td>
		</tr>
	</tbody>
</table>

