<div class="document-form" data-ng-controller="Rbs_Website_Website_FormController">
	<page-header document="document" sub-title="{{ i18nAttr('m.rbs.website.document.website', ['ucf']) }}"></page-header>
	<div class="document-editor change-editor-website-website"
		document="document"
		section="section"
		on-save="onSave(document)"
		on-cancel="onCancel()">
	</div>
</div>