<div>
	<ul class="nav nav-list">
		<li class="nav-header">{{ i18n('m.rbs.admin.contents', ['ucf']) }}</li>
		<li><a href="Rbs/Stock/Sku/"><i class="icon-list-alt"></i> {{ i18n('m.rbs.stock.admin.js.sku-list', ['ucf']) }}</a></li>
		<li><a href="Rbs/Stock/InventoryEntry/"><i class="icon-list-alt"></i> {{ i18n('m.rbs.stock.admin.js.inventoryentry-list', ['ucf']) }}</a></li>
	</ul>
</div>