{% use 'Rbs_Simpleform/form-templates.twig' %}

<label for="{{ fieldId }}" class="{{ leftColumnElementClass }} control-label">
	{%- if fieldInfos.field.getRequired() -%}
		{{ block('rbsSimpleformRequiredSymbol') }}
	{%- endif -%}
	{{- fieldInfos.field.currentLocalization.getTitle() -}}
</label>