<div>
	<ul class="nav nav-list">
		<li class="nav-header">{{ i18n('m.rbs.admin.contents', ['ucf']) }}</li>
		<li><a href="Rbs/Review/Review"><i class="icon-bar-chart"></i> {{ i18nAttr('m.rbs.review.documents.review-list', ['ucf']) }}</a></li>
	</ul>
</div>