<form name="form" ng-submit="submit()" novalidate="">

	<rbs-field-rich-text property="description" input-class="input-block-level"
		label="{{ i18nAttr('m.rbs.catalog.document.category.description', ['ucf']) }}">
	</rbs-field-rich-text>

	<form-button-bar></form-button-bar>

</form>