<div data-ng-controller="Rbs_Catalog_Category_ListController">
	<page-header sub-title="{{ i18nAttr('m.rbs.catalog.document.category-list', ['ucf']) }}"></page-header>
	<search-filters model="Rbs_Catalog_Category" query="query" text-search="textSearch"></search-filters>

	<div>
		<!-- TODO Add current category in URL -->
		<a href="Rbs/Catalog/Category/new">{{ i18n('m.rbs.catalog.document.category-create', ['ucf']) }}</a>
	</div>

	<h3>Catégories</h3>

	<document-list data-dlid="DLRbsCatalogCategory"
	               model="Rbs_Catalog_Category"
	               publishable="true"
	               tree="Rbs_Catalog"
	               query="query">
		<column name="label" primary="true"></column>
	</document-list>

	<h3>Produits</h3>

	<document-list data-dlid="DLRbsCatalogProduct"
	               model="Rbs_Catalog_Product"
	               publishable="true"
	               query="query" parent-property="category">
		<column name="visual" thumbnail="XS" thumbnail-path="doc.visual[0].id"></column>
		<column name="label" primary="true"></column>
		<preview>
			<div class="muted" ng-if="!doc.document.visual.length">Aucun visuel défini</div>
			<h4>(= doc.document.label =)</h4>
			<img ng-repeat="visual in doc.document.visual" rbs-storage-image="(= visual.id =)" thumbnail="m" class="img-polaroid margin-right"/>
		</preview>
	</document-list>
</div>