<div data-ng-controller="Rbs_Catalog_Category_ListController">
	<page-header sub-title="{{ i18nAttr('m.rbs.catalog.document.category-list', ['ucf']) }}"></page-header>
	<search-filters model="Rbs_Catalog_Category" filter-query="query" text-search="textSearch"></search-filters>

	<h3>Catégories</h3>
	<div>
		<a href ng-href="(= 'Rbs_Catalog_Category' | documentURL =)">{{ i18n('m.rbs.catalog.document.category-create', ['ucf']) }}</a>
	</div>

	<rbs-document-list data-dlid="DLRbsCatalogCategory"
	               model="Rbs_Catalog_Category"
	               publishable="true"
	               tree="Rbs_Catalog"
	               filter-query="query">

		<column name="visual" thumbnail="XS" thumbnail-path="doc.visual.id"></column>
		<column name="label" primary="true"></column>

		<grid-item class="folder">
			<img rbs-storage-image="(= doc.visual.id =)" thumbnail="L"/>
			<div class="caption">
				<h4><status data-ng-model="doc" class="small"/> <a href ng-href="(= doc | documentURL:'tree' =)">(=doc.label=)</a></h4>
			</div>
		</grid-item>

	</rbs-document-list>

	<hr/>

	<h3>Produits</h3>
	<div>
		<a href ng-href="(= 'Rbs_Catalog_Product' | documentURL =)">{{ i18n('m.rbs.catalog.document.product-create', ['ucf']) }}</a>
	</div>

	<rbs-document-list data-dlid="DLRbsCatalogProduct"
	               model="Rbs_Catalog_Product"
	               publishable="true"
	               filter-query="query" parent-property="category">

		<column name="visual" thumbnail="XS" thumbnail-path="doc.visual[0].id"></column>
		<column name="label" primary="true"></column>

		<preview>
			<div class="muted" ng-if="!doc.document.visual.length">Aucun visuel défini</div>
			<h4>(= doc.document.label =)</h4>
			<img ng-repeat="visual in doc.document.visual" rbs-storage-image="(= visual.id =)" thumbnail="m" class="img-polaroid margin-right"/>
		</preview>

		<grid-item>
			<img rbs-storage-image="(= doc.visual[0].id =)" thumbnail="L"/>
			<div class="caption">
				<h4><status data-ng-model="doc" class="small"/> <a href ng-href="(= doc | documentURL =)">(=doc.label=)</a></h4>
			</div>
		</grid-item>

	</rbs-document-list>
</div>