<div data-ng-controller="Rbs_Catalog_Category_ListController">
	<page-header sub-title="{{ i18nAttr('m.rbs.catalog.document.category-list', ['ucf']) }}"></page-header>
	<search-filters model="Rbs_Catalog_Category" filter-query="query" text-search="textSearch"></search-filters>

	<div>
		<a href ng-href="(= 'Rbs_Catalog_Category' | documentURL =)">{{ i18n('m.rbs.catalog.document.category-create', ['ucf']) }}</a>
	</div>

	<rbs-document-list data-dlid="DLRbsCatalogCategory" model="Rbs_Catalog_Category" publishable="true" tree="Rbs_Catalog"
		filter-query="query" modification-date ="false">
		<column name="visual" thumbnail="XS" thumbnail-path="doc.visuals.id"></column>
		<column name="label" primary="true"></column>
		<column name="shop">
			<a ng-if="doc.shop" href="(= doc.shop | documentURL =)">(= doc.shop.label =)</a>
		</column>
		<column name="section">
			<a ng-if="doc.section" href="(= doc.section | documentURL =)">(= doc.section.label =)</a>
		</column>

		<grid-item class="folder">
			<img rbs-storage-image="doc.visual.id" thumbnail="L"/>
			<div class="caption">
				<h4><status data-ng-model="doc" class="small"/> <a href ng-href="(= doc | documentURL:'tree' =)">(=doc.label=)</a></h4>
			</div>
		</grid-item>
	</rbs-document-list>
</div>