<div class="panel panel-danger">
	<div class="panel-heading">{{ i18n('m.rbs.commerce.front.payment_failed', ['ucf']) }}</div>
	<div class="panel-body">{{ i18n('m.rbs.commerce.front.payment_confirmation_failed', ['ucf']) }}</div>
</div>