<div class="panel panel-warning">
	<div class="panel-heading">{{ i18n('m.rbs.commerce.front.waiting_payment', ['ucf']) }}</div>
	<div class="panel-body">{{ transaction.processingData.PaymentReturn_Message|raw }}</div>
</div>