<div class="panel panel-warning">
	<div class="panel-heading">{{ i18n('m.rbs.commerce.front.waiting_payment', ['ucf']) }}</div>
	<div class="panel-body">{{ connector.currentLocalization.instructions|richText }}</div>
</div>