<form name="form" data-ng-submit="submit()" novalidate="">

	<rbs-field-text property="title" label="{{ i18nAttr(propertyKey('Rbs_Geo_AddressField', 'title'), ['ucf']) }}">
	</rbs-field-text>

	<form-button-bar></form-button-bar>

</form>