<rbs-links-panel title="{{ i18nAttr('m.rbs.admin.contents', ['ucf']) }}" icon="icon-list-alt">
	<a href="Rbs/Simpleform/Form/" class="rbs-panel-link">{{ i18n('m.rbs.simpleform.documents.form-list', ['ucf']) }}</a>
</rbs-links-panel>