<div>

	<ul class="nav nav-list">
		<li class="nav-header">{{ i18nAttr('m.rbs.collection.documents.collection-list', ['ucf']) }}</li>
		<li><a href="Rbs/Collection/Collection/"><i class="icon-list-alt"></i> {{ i18nAttr('m.rbs.collection.documents.collection', ['ucf']) }}</a></li>
	</ul>

</div>