<form name="form" data-ng-submit="submit()" class="form-horizontal" novalidate>

	<fieldset data-ng-show="section==''" data-form-section-label="Propriétés générales" data-form-section-group="Propriétés">

		<div class="control-group required property" data-ng-class="{'success': hasCorrectionOnProperty('label')}">
			<label class="control-label" for="label">Titre</label>
			<div class="controls">
				<input type="text" id="label" name="label" required data-ng-model="document.label">
			</div>
		</div>

		<div class="control-group" data-ng-class="{'success': hasCorrectionOnProperty('pathPart')}">
			<label class="control-label" for="pathPart">Chemin</label>
			<div class="controls">
				<input type="text" id="pathPart" name="pathPart" data-ng-model="document.pathPart">
			</div>
		</div>

		<div class="control-group property" data-ng-class="{'success': hasCorrectionOnProperty('indexPage')}">
			<label class="control-label" for="indexPage">Page d'index de la rubrique</label>
			<div class="controls">
				<div class="document-picker-single"
				     document="document.indexPage"
				     accepted-model="Change_Website_StaticPage"
				     selector-title="Sélectionner la page d'index"
				     property-label="Page d'index de la rubrique"
				     master-label="(=document.label=)">
				</div>
			</div>
		</div>

	</fieldset>

	<fieldset
		data-ng-show="section=='systeminfo'"
		data-form-section-label="État"
		data-form-section-group="Informations"
		data-document-system-info-section>
	</fieldset>

	<form-button-bar></form-button-bar>

</form>