<div class="document-form" data-ng-controller="Change_Website_TopicFormController">

	<page-header document="document" sub-title="Rubrique"></page-header>

	<div class="document-editor change-editor-website-topic"
		document="document"
		section="section"
		on-save="onSave(document)"
		on-cancel="onCancel()">
	</div>

</div>