<div>
	<div class="input-group">
		<input type="text" ng-disabled="disabled" rbs-smart-float="" class="form-control" size="6" ng-model="value" ng-required="required"/>
		<span class="input-group-addon" ng-show="currencyCode">(= currencyCode =)</span>
		<span class="input-group-addon">
			<span ng-show="priceWithTax">{{ i18n('m.rbs.price.admin.directives_with_tax_abbr') }}</span>
			<span ng-hide="priceWithTax" ng-cloak="">{{ i18n('m.rbs.price.admin.directives_without_tax_abbr') }}</span>
		</span>
	</div>
</div>
