<div class="row">

	<div rbs-aside-column>
		<rbs-default-asides-for-editor></rbs-default-asides-for-editor>

		<div class="rbs-aside-block" ng-show="document.product">
			<h3 class="panel-title">{{ i18n('m.rbs.catalog.admin.product_concerned_product', ['ucf']) }}</h3>
			<rbs-document-preview document="document.product"></rbs-document-preview>
		</div>

		<a rbs-aside-other-link href="" ng-href="(= document | rbsURL:'productListItems' =)">{{ i18n('m.rbs.catalog.admin.productlist_products_aside_link', ['ucf']) | raw }}</a>
	</div>

	<div class="document-form" rbs-main-column>
		<rbs-page-header document="document" sub-title="{{ i18nAttr(modelKey('Rbs_Catalog_ProductList'), ['ucf']) }}"></rbs-page-header>
		<rbs-document-editor rbs-document-editor-rbs-catalog-product-list=""></rbs-document-editor>
	</div>

</div>