<div class="row">
	<div data-rbs-aside-column="">
		<rbs-default-asides-for-editor></rbs-default-asides-for-editor>

		<a data-rbs-aside-other-link href="" data-ng-href="(= document | rbsURL:'productListItems' =)">
			{{ i18n('m.rbs.catalog.admin.productlist_products_aside_link', ['ucf']) | raw }}
		</a>
	</div>

	<div class="document-form" data-rbs-main-column="">
		<rbs-page-header document="document" sub-title="{{ i18nAttr(modelKey('Rbs_Catalog_ProductList'), ['ucf']) }}"></rbs-page-header>
		<rbs-document-editor rbs-document-editor-rbs-catalog-product-list=""></rbs-document-editor>
	</div>
</div>