<rbs-links-panel>
	<a rbs-active-route="" class="list-group-item" href="" ng-href="(= document | documentURL:'productListItems' =)">{{ i18nAttr('m.rbs.catalog.documents.productlist_products', ['ucf']) }}</a>
</rbs-links-panel>