<rbs-links-panel title="{{ i18nAttr('m.rbs.catalog.documents.productlist_products', ['ucf']) }}">
	<a url-match-class="" class="list-group-item" href="(= document | documentURL:'productListItems' =)">{{ i18nAttr('m.rbs.catalog.documents.productlist_products', ['ucf']) }}</a>
</rbs-links-panel>