<rbs-links-panel title="{{ i18nAttr('m.rbs.catalog.admin.variantgroup_variant', ['ucf']) }}">
	<a rbs-url-match-class="" class="list-group-item" href="(= document | rbsURL:'variantEdit' =)" >
		{{ i18nAttr('m.rbs.catalog.admin.variantgroup_edit', ['ucf']) }}
	</a>
	<a rbs-url-match-class="" class="list-group-item" href="(= document | rbsURL:'variantList' =)">
		{{ i18nAttr('m.rbs.catalog.admin.variantgroup_variantlist', ['ucf']) }}
	</a>
</rbs-links-panel>