<div class="row">

	<div rbs-aside-column>
		<rbs-aside-editor-menu></rbs-aside-editor-menu>
		<rbs-aside ng-if="! document.isNew()" template="Document/Rbs/Catalog/VariantGroup/aside.twig"></rbs-aside>
		<rbs-aside-tag-selector document="document"></rbs-aside-tag-selector>
	</div>

	<div class="document-form" rbs-main-column>
		<rbs-page-header document="document" sub-title="{{ i18nAttr(modelKey('Rbs_Catalog_VariantGroup'), ['ucf']) }}"></rbs-page-header>
		<rbs-document-editor rbs-document-editor-rbs-catalog-variant-group=""></rbs-document-editor>
	</div>

</div>