<div class="row">
	<div data-rbs-aside-column="">
		{% set currentRootName = 'variant-config' %}
		{% include '@Rbs_Catalog/Documents/VariantGroup/variant-aside-column.twig' %}
	</div>

	<div class="document-form" data-rbs-main-column="">
		<rbs-page-header document="document" sub-title="{{ i18nAttr(modelKey('Rbs_Catalog_VariantGroup'), ['ucf']) }}"></rbs-page-header>
		<rbs-document-editor rbs-document-editor-rbs-catalog-variant-group=""></rbs-document-editor>
	</div>
</div>