<div class="row" ng-controller="Rbs_Catalog_VariantGroup_VariantListController">

	<div rbs-aside-column>
		<rbs-links-panel>
			<a rbs-active-route="" class="list-group-item" href="(= document | rbsURL =)">{{ i18nAttr('m.rbs.admin.admin.properties', ['ucf']) }}</a>
		</rbs-links-panel>
		<rbs-aside template="Document/Rbs/Catalog/VariantGroup/aside.twig"></rbs-aside>
	</div>

	<div rbs-main-column>
		<rbs-document-list data-dlid="DLRbsCatalogVariantList" model="Rbs_Catalog_Product"
				publishable="true" load-query="loadQuery">
			<rbs-column name="label" primary="true"></rbs-column>
			<rbs-quick-actions>[action edit] || [action delete]</rbs-quick-actions>
			<rbs-column name="sku">(= doc.sku.label =)</rbs-column>
		</rbs-document-list>
	</div>
</div>