<div class="row">

	<div rbs-aside-column>
		<rbs-links-panel>
			<a rbs-active-route="" class="list-group-item" href="(= document | rbsURL =)">{{ i18nAttr('m.rbs.admin.admin.properties', ['ucf']) }}</a>
		</rbs-links-panel>
		<rbs-default-asides-for-editor></rbs-default-asides-for-editor>
		<rbs-aside template="Document/Rbs/Catalog/VariantGroup/aside.twig"></rbs-aside>
	</div>

	<div class="document-form" rbs-main-column>
		<rbs-page-header document="document" sub-title="{{ i18nAttr(modelKey('Rbs_Catalog_VariantGroup'), ['ucf']) }}"></rbs-page-header>
		<rbs-document-editor rbs-document-editor-rbs-catalog-variant-group-editor=""></rbs-document-editor>
	</div>

</div>