<div data-ng-controller="Rbs_Catalog_VariantGroup_VariantListController">
	<rbs-document-list data-dlid="DLRbsCatalogVariantList" model="Rbs_Catalog_Product"
			activable="true" publishable="true" load-query="loadQuery">
		<column name="label" primary="true"></column>
		<quick-actions>[action edit] || [action delete]</quick-actions>
		<column name="sku">(= doc.sku.label =)</column>
	</rbs-document-list>
</div>