<div class="row" data-ng-controller="Rbs_Catalog_VariantGroup_VariantListController">
	<div data-rbs-aside-column="">
		{% set currentRootName = 'variant-list' %}
		{% include '@Rbs_Catalog/Documents/VariantGroup/variant-aside-column.twig' %}
	</div>

	<div data-rbs-main-column="">
		<rbs-page-header document="document" sub-title="{{ i18nAttr(modelKey('Rbs_Catalog_VariantGroup'), ['ucf']) }}"></rbs-page-header>

		<div data-ng-show="loaded">
			<div class="well" style="margin-top: 20px;" data-ng-show="hasJobs">
				{{ i18n('m.rbs.catalog.admin.variantgroup_jobs_infos', ['ucf']) | raw}}
			</div>

			<rbs-document-list data-dlid="DLRbsCatalogVariantList" model="Rbs_Catalog_Product" data-ng-hide="hasJobs"
					publishable="true" load-query="loadQuery">
				<rbs-column name="label" primary="true"></rbs-column>
				<rbs-quick-actions>[action edit] || [action delete]</rbs-quick-actions>
				<rbs-column name="sku">(= doc.sku.label =)</rbs-column>
			</rbs-document-list>
		</div>
	</div>
</div>