<div class="row">

	<rbs-workspace-config>
		<rbs-breadcrumb-config>
			<location href="(= 'Rbs_Catalog'|rbsURL:'home' =)">{{ i18n('m.rbs.catalog.admin.module_name', ['ucf']) }}</location>
			<location href="(= 'Rbs_Catalog_VariantGroup'|rbsURL:'list' =)">{{ i18n('m.rbs.catalog.admin.variantgroup_list', ['ucf']) }}</location>
		</rbs-breadcrumb-config>
	</rbs-workspace-config>

	<div rbs-aside-column>
		<rbs-links-panel>
			<a rbs-active-route="" class="list-group-item" href="(= document | rbsURL =)">{{ i18nAttr('m.rbs.admin.admin.properties', ['ucf']) }}</a>
		</rbs-links-panel>
		<rbs-default-asides-for-editor></rbs-default-asides-for-editor>
		<rbs-aside template="Document/Rbs/Catalog/VariantGroup/aside.twig"></rbs-aside>
	</div>

	<div class="document-form" rbs-main-column>
		<page-header document="document" sub-title="{{ i18nAttr(modelKey('Rbs_Catalog_VariantGroup'), ['ucf']) }}"></page-header>
		<div class="rbs-document-editor rbs-document-editor-rbs-catalog-variant-group-editor"></div>
	</div>

</div>