<div data-rbs-collection-collection-item-editor="">
	<rbs-field-text property="label" required="true"
			label="{{ i18nAttr(propertyKey('Rbs_Collection_CollectionItem', 'label'), ['ucf']) }}">
	</rbs-field-text>

	<rbs-field property="value" required="required"
		label="{{ i18nAttr(propertyKey('Rbs_Collection_CollectionItem', 'value'), ['ucf']) }}">
		<input type="text" class="form-control" data-ng-disabled="document.locked" name="value"
			data-ng-model="document.value" required="required">
	</rbs-field>

	<hr />

	<rbs-field property="title" required="true"
		label="{{ i18nAttr(propertyKey('Rbs_Collection_CollectionItem', 'title'), ['ucf']) }}">
		<div class="input-group">
			<span class="input-group-addon input-group-addon-select">
				<select required="required" class="form-control" data-ng-model="localization.LCID"
					data-ng-options="key as value.label for (key , value) in LCIDArray()">
				</select>
			</span>
			<input type="text" class="form-control" data-ng-disabled="!localization.LCID" name="label"
				data-ng-model="document.LCID[localization.LCID].title" required="required">
		</div>
	</rbs-field>
</div>

