<div class="dropdown">
	<a href="#" data-toggle="dropdown" class="dropdown-toggle">
		<i class="glyphicon glyphicon-shopping-cart"></i>
		{{ i18n('m.rbs.commerce.tpl.my-cart', ['ucf']) }}
		<span class="badge">{{ i18n('m.rbs.commerce.tpl.empty') }}</span>
		<b class="caret"></b>
	</a>
	<ul class="dropdown-menu">
		<li><a href="{{ functionURL('Rbs_Commerce_Cart') }}">{{ i18n('m.rbs.commerce.tpl.empty-cart', ['ucf']) }}</a></li>
	</ul>
</div>