nbproject
.idea
.buildpath
.project
.settings/
.DS_Store
/.htaccess
/modules/
/config/
/framework/
/bin/
/build/
/cache/
/changeicons/
/installedpatch/
/libs/
/log/
/mailbox/
/media/
/mockups/
/override/
/publicmedia/
/repository/
/securemedia/
/themes/
/www/
/tmp/
/profile
/install.xml
/change.properties
/changecron.php
/changecronconsole.php
/changescriptexec.php
/index.php
/publicmedia
/sessionKeepAlive.php
/site-disabled.php
/xchrome_controller.php
/xul_controller.php
/Compilation
/Libraries
/composer.phar
/composer.lock
/travisconfig
/listener.php
/phpinfo.php
/App/Config
/App/Modules
/App/*.db
./test*
/ChangeTests/UnitTestWorkspace/App/*.db
/ChangeTests/UnitTestWorkspace/App/Config/*
/ChangeTests/UnitTestWorkspace/Compilation/*
/ChangeTests/report/
/App/OldBootstrap.php
/change.xml
/tests/
