<div data-ng-controller="Rbs_Catalog_BillingArea_ListController">
	<page-header sub-title="{{ i18nAttr('m.rbs.catalog.document.billingarea-list', ['ucf']) }}"></page-header>
	<search-filters model="Rbs_Catalog_BillingArea" query="query" text-search="textSearch"></search-filters>

	<div>
		<a href="Rbs/Catalog/BillingArea/new">{{ i18n('m.rbs.catalog.document.billingarea-create', ['ucf']) }}</a>
	</div>

	<document-list data-dlid="DLRbsCatalogBillingArea"
	               publishable="true"
	               model="Rbs_Catalog_BillingArea"
	               query="query">
		<column name="label" label="Libellé" primary="true"></column>
	</document-list>
</div>