<div ng-controller="Change_Theme_MenuController">

	<ul class="nav nav-list">
		<li class="nav-header">Thème</li>
		<li><a href="Change/Theme/Theme">Tous les thèmes</a></li>
		<li class="divider"></li>
		<li ng-repeat="theme in themes"><a href="Change/Theme/Theme/(=theme.id=)/Templates">(=theme.label=)</a></li>
	</ul>

</div>