<rbs-links-panel title="{{ i18nAttr('m.rbs.admin.admin.contents', ['ucf']) }}" icon="icon-list-alt">
	<a href="Rbs/Brand/Brand/" class="rbs-panel-link" icon="icon-list-alt">{{ i18n('m.rbs.brand.documents.brand-list', ['ucf']) }}</a>
</rbs-links-panel>