<div class="row">

	<div rbs-full-width>
		<rbs-page-header title="{{ i18nAttr('m.rbs.review.admin.review_list', ['ucf']) }}"></rbs-page-header>
		<rbs-document-filter-panel open-by-default="false"
				model="Rbs_Review_Review" filter="filter" ></rbs-document-filter-panel>

		<div class="add-elements-bar">
			<a href ng-href="(= 'Rbs_Review_Review' | rbsURL:'new' =)">{{ i18n('m.rbs.review.admin.review_create', ['ucf']) }}</a>
		</div>

		<rbs-document-list data-dlid="DLRbsReviewReview"
				model="Rbs_Review_Review" publishable="true" filter-collection="filter">
			<rbs-column name="target" primary="true">
				<a href ng-href="(=doc|rbsURL=)">(= doc.target.label =)</a>
			</rbs-column>
			<rbs-column name="pseudonym"></rbs-column>
			<rbs-column name="promoted">
				(= doc.promoted | rbsBoolean =)
			</rbs-column>
			<rbs-column name="reviewDate" format="date"></rbs-column>
			<rbs-preview style="min-height: 200px">
				<div>
					<h4>(= doc.pseudonym =)</h4>
					<p>{{ i18n(propertyKey('Rbs_Review_Review', 'rating'), ['ucf', 'lab']) }} (= doc.rating =)/100</p>
					<div class="pull-right">
						<span class="text-success"><i class="icon-thumbs-up"></i> (= doc.upvote =)</span>
						<span class="text-warning"><i class="icon-thumbs-down"></i> (= doc.downvote =)</span>
					</div>
					<p ng-bind-html="doc.content.h"></p>
				</div>
			</rbs-preview>
		</rbs-document-list>
	</div>

</div>