<rbs-links-panel title="{{ i18nAttr('m.rbs.admin.contents', ['ucf']) }}">
	<a href="Rbs/Event/News/" class="rbs-panel-link">{{ i18nAttr('m.rbs.event.documents.news-list', ['ucf']) }}</a>
	<a href="Rbs/Event/Event/" class="rbs-panel-link">{{ i18nAttr('m.rbs.event.documents.event-list', ['ucf']) }}</a>
	<a href="Rbs/Event/Category/" class="rbs-panel-link">{{ i18nAttr('m.rbs.event.documents.category-list', ['ucf']) }}</a>
</rbs-links-panel>