<rbs-links-panel title="{{ i18nAttr('m.rbs.admin.admin.contents', ['ucf']) }}">
	<a href="Rbs/Event/News/" class="rbs-panel-link">{{ i18nAttr('m.rbs.event.admin.news_list', ['ucf']) }}</a>
	<a href="Rbs/Event/Event/" class="rbs-panel-link">{{ i18nAttr('m.rbs.event.admin.event_list', ['ucf']) }}</a>
	<a href="Rbs/Event/Category/" class="rbs-panel-link">{{ i18nAttr('m.rbs.event.admin.category_list', ['ucf']) }}</a>
</rbs-links-panel>