<div ng-controller="Rbs_Website_SectionFunctionsController">

	<div rbs-tip="Rbs_Website_SectionFunctionsList">
		{{ i18n('m.rbs.website.admin.section_functions_list_tip', ['ucf']) | raw }}
	</div>

	<div class="page-header">
		<h1>(= section.label =) <small>{{ i18n('m.rbs.website.admin.manage_functions', ['ucf']) }}</small></h1>
	</div>

	<rbs-section-functions-manager section="section"></rbs-section-functions-manager>

</div>