<div class="row">

	<div rbs-aside-column>
		<rbs-default-asides-for-list></rbs-default-asides-for-list>
	</div>

	<div rbs-main-column>
		<rbs-page-header title="{{ i18nAttr('m.rbs.price.admin.price_list', ['ucf']) }}"></rbs-page-header>
		<rbs-document-filter-panel open-by-default="false"
				model="Rbs_Price_Price" filter="filter" ></rbs-document-filter-panel>

		<div class="add-elements-bar">
			<a href ng-href="(= 'Rbs_Price_Price' | rbsURL:'new' =)">{{ i18n('m.rbs.price.admin.price_create', ['ucf']) }}</a>
		</div>

		<rbs-document-list data-dlid="DLRbsPricePrice" model="Rbs_Price_Price" filter-collection="filter" actions="default" activable="false">
			<rbs-column name="boValue" align="right" width="90px">
				<a  ng-href="(=doc|rbsURL=)">(=doc.formattedBoValue=)</a>
			</rbs-column>
			<rbs-column sort="basePrice.boValue" name="basePrice" align="right" width="150px" label="{{ i18nAttr('m.rbs.price.documents.price_baseprice', ['ucf']) }}">
				<del ng-if="doc.formattedBoBaseValue"><a ng-href="(= doc.basePrice|rbsURL =)">(=doc.formattedBoBaseValue=)</a></del>
				<a ng-if="!doc.formattedBoBaseValue" href="(= doc | rbsURL:'discount' =)?basePriceId=(=doc.id=)" class="btn btn-default btn-xs">{{ i18nAttr('m.rbs.catalog.admin.price_create_discount') }}</a>
			</rbs-column>
			<rbs-column name="sku" sort="sku.code"><a href="(= doc.sku | rbsURL =)">(= doc.sku.label =)</a></rbs-column>
			<rbs-column name="webStore" sort="webStore.label">(=doc.webStore.label=)</rbs-column>
			<rbs-column name="startActivation">(= doc.startActivation | rbsDateTime =)</rbs-column>
			<rbs-column name="endActivation">(= doc.endActivation | rbsDateTime =)</rbs-column>
		</rbs-document-list>
	</div>

</div>