<p>
	<a href="" data-ng-href="(= document | rbsURL =)">
		<strong>(= document.label =)</strong><br/><small>(= document.sku.code =)</small>
	</a>
</p>
<p data-ng-if="document.visuals.length > 0">
	<img data-rbs-storage-image="document.visuals[0].id" data-thumbnail="M"/>
</p>
<p data-ng-if="document.visuals.length > 1">
	<img data-ng-repeat="v in document.visuals" data-ng-if="! $first" data-rbs-storage-image="v.id" data-thumbnail="S"/>
</p>