<html>
<body>
	<h3>Un nouveau message sur le document "{{ documentLabel }}"</h3>
	<p>
		L'utilisateur {{ authorName }} a laissé un message vous mentionnant : <br />
		{{ message }}
	</p>
</body>
</html>