<div data-ng-controller="Rbs_Admin_NotificationsController">

	<div class="page-header">
		<h2>{{ i18n('m.rbs.admin.admin.notifications', ['ucf']) }}</h2>
	</div>

	<rbs-document-list data-dlid="RbsAdminNotificationsList"
	                   collection="notifications"
	                   extend="dlExt"
	                   on-reload="reloadNotifications">

		<rbs-column name="message" label="Message">
			<button type="button" class="btn btn-default btn-xs pull-right" ng-click="extend.markAsRead(doc)"><i class="icon-ok"></i></button>
			(= doc.message =)
		</rbs-column>

		<rbs-action name="markAsRead" selection="+" icon="icon-ok" label="Mark as read"></rbs-action>
	</rbs-document-list>

</div>
