<div>

	<rbs-workspace-config menu="Rbs_Theme">
		<rbs-breadcrumb-config>
			<location href="(= 'Rbs_Theme'|rbsURL:'home' =)">{{ i18n('m.rbs.theme.admin.js.module-name', ['ucf']) }}</location>
		</rbs-breadcrumb-config>
	</rbs-workspace-config>

	<page-header title="{{ i18nAttr('m.rbs.theme.document.theme-list', ['ucf']) }}"></page-header>
	<search-filters model="Rbs_Theme_Theme" filter-query="query" text-search="textSearch"></search-filters>

	<div>
		<a href ng-href="(= 'Rbs_Theme_Theme' | documentURL:'new' =)">{{ i18n('m.rbs.theme.document.theme-create', ['ucf']) }}</a>
	</div>

	<rbs-document-list data-dlid="DLTheme1"
	               model="Rbs_Theme_Theme"
	               activable="true"
	               filter-query="query">
		<column name="label" label="Nom" primary="true"></column>
		<column name="themes" label="Modèles">
			<a href ng-href="(= doc | documentURL:'tree' =)">{{ i18n('m.rbs.theme.document.theme-list-pagetemplates', ['ucf']) }} <i class="icon-circle-arrow-right"></i></a>
		</column>
	</rbs-document-list>

</div>