<rbs-links-panel title="{{ i18nAttr('m.rbs.admin.admin.contents', ['ucf']) }}">
	<a rbs-active-route="" href="Rbs/Storelocator/Store/" rbs-panel-link="">{{ i18nAttr('m.rbs.storelocator.admin.store_list', ['ucf']) }}</a>
	<a rbs-active-route="" href="Rbs/Storelocator/CommercialSign/" rbs-panel-link="">{{ i18nAttr('m.rbs.storelocator.admin.commercialsign_list', ['ucf']) }}</a>
	<a rbs-active-route="" href="Rbs/Storelocator/Service/" rbs-panel-link="">{{ i18nAttr('m.rbs.storelocator.admin.service_list', ['ucf']) }}</a>
</rbs-links-panel>