<form name="form" ng-submit="submit()" novalidate="">

	<rbs-field-text
		label="{{ i18nAttr(propertyKey('Rbs_Mail_Mail', 'subject'), ['ucf']) }}"
		property="subject">
	</rbs-field-text>

	<rbs-field-text
		label="{{ i18nAttr(propertyKey('Rbs_Mail_Mail', 'senderName'), ['ucf']) }}"
		property="senderName">
	</rbs-field-text>

	<rbs-field-text
		label="{{ i18nAttr(propertyKey('Rbs_Mail_Mail', 'senderMail'), ['ucf']) }}"
		property="senderMail">
	</rbs-field-text>

	<rbs-form-button-bar></rbs-form-button-bar>
</form>