<div class="row">

	<div rbs-full-width>
		<rbs-page-header title="{{ i18nAttr('m.rbs.mail.admin.mail_list', ['ucf']) }}"></rbs-page-header>
		<rbs-document-filter-panel open-by-default="false"
			model="Rbs_Mail_Mail" filter="filter" ></rbs-document-filter-panel>

		<rbs-document-list data-dlid="DLRbsMailMail"
			model="Rbs_Mail_Mail" filter-collection="filter">
			<rbs-column name="label" primary="true"></rbs-column>
			<rbs-column name="code"></rbs-column>
			<rbs-column name="websites">
				<span ng-repeat="website in doc.websites">(= website.label =)<span ng-if="! $last">, </span></span>
			</rbs-column>
			<rbs-preview style="min-height: 200px">
				<div>
					<h4>(= doc.senderName =) &lt;(= doc.senderMail =)&gt;</h4>
					<h3>(= doc.subject =)</h3>
					<p ng-bind-html="doc.editableContent"></p>
				</div>
			</rbs-preview>
		</rbs-document-list>
	</div>

</div>