<div class="document-form">
	<rbs-workspace-config>
		<rbs-breadcrumb-config>
			<location href="(= 'Rbs_Simpleform'|rbsURL:'home' =)">{{ i18nAttr('m.rbs.simpleform.admin.module_name', ['ucf']) }}</location>
			<location href="(= 'Rbs_Simpleform'|rbsURL:'home' =)">{{ i18nAttr('m.rbs.simpleform.admin.form_list', ['ucf']) }}</location>
			<location>{{ i18nAttr('m.rbs.simpleform.admin.field_list', ['ucf']) }}</location>
		</rbs-breadcrumb-config>
	</rbs-workspace-config>

	<page-header document="document" sub-title="{{ i18nAttr('m.rbs.simpleform.documents.field', ['ucf']) }}"></page-header>

	<div class="rbs-document-editor rbs-document-editor-rbs-simpleform-field"></div>
</div>