{# Thematics. #}

{% block rbsCommerceIconCart %}
	<span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span>
{% endblock rbsCommerceIconCart %}

{% block rbsCommerceIconShipping %}
	<span class="glyphicon glyphicon-plane" aria-hidden="true"></span>
{% endblock rbsCommerceIconShipping %}

{% block rbsCommerceIconBilling %}
	<span class="glyphicon glyphicon-credit-card" aria-hidden="true"></span>
{% endblock rbsCommerceIconBilling %}