<form name="form" ng-submit="submit()" novalidate="">

	<rbs-field-text
		property="title" required="true"
		label="{{ i18nAttr('m.rbs.catalog.document.product.title', ['ucf']) }}"
		input-class="input-block-level">
	</rbs-field-text>

	<form-button-bar></form-button-bar>

</form>