<rbs-links-panel title="{{ i18nAttr('m.rbs.catalog.documents.product.cross-selling', ['ucf']) }}">
	<a url-match-class="" class="list-group-item" href="Rbs/Catalog/Product/(= document.id =)/CrossSellingProductLists/" >{{ i18nAttr('m.rbs.catalog.documents.crosssellingproductlist.crossselling-lists', ['ucf']) }}</a>
</rbs-links-panel>