<rbs-links-panel title="{{ i18nAttr('m.rbs.catalog.documents.product.section-variant', ['ucf']) }}">
	<a ng-if="document.variantGroup" url-match-class="" class="list-group-item" href="Rbs/Catalog/VariantGroup/(= document.variantGroup.id =)">{{ i18nAttr('m.rbs.catalog.documents.variantgroup', ['ucf']) }}</a>
	<a ng-if="! document.variantGroup" url-match-class="" class="list-group-item" href="Rbs/Catalog/VariantGroup/new?productId=(= document.id =)">{{ i18nAttr('m.rbs.catalog.documents.variantgroup', ['ucf']) }}</a>
</rbs-links-panel>