<form name="form" ng-submit="submit()" transform-layout="true" novalidate="">

	<rbs-field-text property="title" required="true" input-class="input-block-level"
		label="{{ i18nAttr('m.rbs.brand.document.brand.title', ['ucf']) }}">
	</rbs-field-text>

	<rbs-field-rich-text property="description" required="false" input-class="input-block-level"
		label="{{ i18nAttr('m.rbs.brand.document.brand.description', ['ucf']) }}">
	</rbs-field-rich-text>

	<rbs-field-url property="websiteUrl" required="false" input-class="input-block-level"
		label="{{ i18nAttr('m.rbs.brand.document.brand.websiteurl', ['ucf']) }}">
	</rbs-field-url>

	<form-button-bar></form-button-bar>

</form>