<div class="document-form">
	<page-header document="document" sub-title="{{ i18nAttr('m.rbs.brand.document.brand', ['ucf']) }}"></page-header>

	<rbs-workspace-config>
		<rbs-breadcrumb-config>
			<location href="(= 'Rbs_Brand'|rbsURL:'home' =)">Marques</location>
		</rbs-breadcrumb-config>
	</rbs-workspace-config>

	<div class="rbs-document-editor rbs-document-editor-rbs-brand-brand"></div>
</div>