<div class="document-form" data-ng-controller="Rbs_Brand_Brand_FormController">
	<page-header document="document" sub-title="{{ i18nAttr('m.rbs.brand.document.brand', ['ucf']) }}"></page-header>
	<div class="document-editor editor-rbs-brand-brand"
		document="document"
		section="section"
		on-save="onSave(document)"
		on-cancel="onCancel()">
	</div>
</div>