<div class="document-form">
	<page-header document="document" sub-title="{{ i18nAttr('m.rbs.catalog.documents.productlistitem', ['ucf']) }}"></page-header>
	<div class="rbs-document-editor rbs-document-editor-rbs-catalog-product-list-item"></div>
</div>