<div class="row">

	<rbs-workspace-config>
		<rbs-breadcrumb-config>
			<rbs-location href="(= 'Rbs_Stock'|rbsURL:'home' =)">{{ i18n('m.rbs.stock.admin.module_name', ['ucf']) }}</rbs-location>
			<rbs-location href="(= 'Rbs_Stock_InventoryEntry'|rbsURL:'list' =)">{{ i18n('m.rbs.stock.admin.inventoryentry_list', ['ucf']) }}</rbs-location>
		</rbs-breadcrumb-config>
	</rbs-workspace-config>

	<div rbs-aside-column>
		<rbs-aside-editor-menu></rbs-aside-editor-menu>
	</div>

	<div class="document-form" rbs-main-column>
		<rbs-page-header document="document" sub-title="{{ i18nAttr(modelKey('Rbs_Stock_InventoryEntry'), ['ucf']) }}"></rbs-page-header>
		<div class="rbs-document-editor rbs-document-editor-rbs-stock-inventory-entry"></div>
	</div>

</div>