<div>
	<ul class="nav nav-list">
		<li class="nav-header">{{ i18n('m.rbs.admin.contents', ['ucf']) }}</li>
		<li><a href="Rbs/Order/Order/"><i class="icon-list-alt"></i> {{ i18n('m.rbs.order.admin.js.order-list', ['ucf']) }}</a></li>
		<li><a href="Rbs/Order/Invoice/"><i class="icon-list-alt"></i> {{ i18n('m.rbs.order.admin.js.invoice-list', ['ucf']) }}</a></li>
		<li><a href="Rbs/Order/Process/"><i class="icon-list-alt"></i> {{ i18n('m.rbs.order.admin.js.process-list', ['ucf']) }}</a></li>
	</ul>
</div>