<rbs-links-panel title="{{ i18nAttr('m.rbs.admin.admin.contents', ['ucf']) }}" icon="icon-list-alt">
	<a href="Rbs/Order/Order/" class="rbs-panel-link">{{ i18n('m.rbs.order.admin.js.order-list', ['ucf']) }}</a>
	<a href="Rbs/Order/Invoice/" class="rbs-panel-link">{{ i18n('m.rbs.order.admin.js.invoice-list', ['ucf']) }}</a>
	<a href="Rbs/Order/Process/" class="rbs-panel-link">{{ i18n('m.rbs.order.admin.js.process-list', ['ucf']) }}</a>
</rbs-links-panel>