{% block rbsUserUse %}
	{% use 'Rbs_User/user-directives.twig' %}
	{{ block('rbsUserChangePassword') }}
{% endblock rbsUserUse %}

<div data-rbs-user-change-password="" data-cache-key="{{ blockId }}">
</div>