{% block rbsUserUse %}
	{% use 'Rbs_User/user-directives.twig' %}
	{{ block('rbsUserCreateAccount') }}
{% endblock rbsUserUse %}

<div data-rbs-user-create-account="" data-cache-key="{{ blockId }}"
		data-confirmation-page="{{ parameters.confirmationPage }}">
</div>
