{% block rbsUserUse %}
	{% use 'Rbs_User/user-directives.twig' %}
	{{ block('rbsUserAccount') }}
{% endblock rbsUserUse %}

{% block rbsUserUserDataCache %}
	<script type="text/javascript">
		window.__change['{{ blockId }}'] = {{ userData | json_encode | raw}};
	</script>
{% endblock rbsUserUserDataCache %}

<div data-rbs-user-account="" data-cache-key="{{ blockId }}">
</div>