{% block rbsUserUse %}
	{% use 'Rbs_User/user-directives.twig' %}
	{{ block('rbsUserResetPassword') }}
{% endblock rbsUserUse %}

<div data-rbs-user-reset-password="" data-cache-key="{{ blockId }}">
</div>