<div ng-controller="Rbs_Admin_DashboardController" class="dashboard">

	<div class="row-fluid indicators">
		<div ng-repeat="ind in indicators" class="span(= 12/indicators.length =) indicator indicator-(= ind.style =)">
			<div class="indicator-inner">
				<div class="value pull-left">(= ind.value | number =)</div>
				<div class="title">
					<div ng-bind-html="ind.label"></div>
					<div class="message" ng-bind-html="ind.message"></div>
				</div>
			</div>
		</div>
	</div>

	<hr/>

	<div class="small-indicators">
		<img ng-src="(= user.profile.avatar =)" style="width: 62px; height: 62px;"/>
		<span ng-click="showNotifications($event)">
			<i class="icon-exclamation-sign"></i>
			<div>Notifications</div>
			<div class="value">(= notifications.pagination.count =)</div>
		</span>
		<span ng-click="showTasks($event)">
			<i class="icon-tasks"></i>
			<div>Tâches</div>
			<div class="value"><i class="icon-spinner icon-spin" ng-if="! tasks"></i>(= tasks.pagination.count =)</div>
		</span>

		<span ng-repeat="tag in dashboardSettings.tags" style="border-bottom: 3px solid #0088cc;" ng-click="showTaggedDocuments(tag, $event)">
			<i class="icon-tag"></i>
			<div ng-bind="tag.label"></div>
			<div class="value" ng-bind="tag.documentCount | number"></div>
		</span>

		<span class="settings" ng-click="showDashboardSettings($event)">
			<i class="icon-cog"></i>
		</span>
	</div>
	<div id="chgDashboardEmbedContainer"></div>

</div>