<div class="dashboard">
	<div class="jumbotron">
		<h1>Bienvenue sur Change !</h1>
		<p>
			Change est une plateforme e-commerce nativement cross-canal dédiée aux retailers.
		</p>
		<p>
			Pour plus d'information, visitez <a href="http://www.change-commerce.com" onclick="window.open(this.href); return false;" hreflang="fr">notre site</a>.
		</p>
	</div>
</div>