<header class="clearfix">
	<button ng-click="closeEmbeddedModal()" class="close pull-right" style="margin-left:30px;" type="button">×</button>
	<h3><i class="icon-exclamation-sign"></i> {{ i18n('m.rbs.admin.dashboard.notifications', ['ucf']) }}</h3>
</header>

<div class="btn-group">
	<button type="button" class="btn btn-default" ng-class="{active: notificationType == 'new'}" data-ng-click="notificationType = 'new'">{{ i18n('m.rbs.admin.dashboard.notification-new', ['ucf']) }}</button>
	<button type="button" class="btn btn-default" ng-class="{active: notificationType == 'read'}" data-ng-click="notificationType = 'read'">{{ i18n('m.rbs.admin.dashboard.notification-read', ['ucf']) }}</button>
</div>

<rbs-document-list data-dlid="DLRbsDashboardNotificationsList"
	model="Rbs_Notification_Notification"
	load-query="notificationQuery"
	selectable="false"
	extend="notificationList"
	quick-actions=""
	actions=""
	modification-date="false">
	<column name="message">
		(= doc.message =)
		<div class="pull-right">
			<button ng-if="extend.getNotificationType() === 'new'" type="button" class="btn btn-sm btn-success" ng-click="extend.readNotification(doc)" ng-disabled="doc.disableButton"><i class="icon-ok"></i></button>
			<button type="button" class="btn btn-sm btn-danger" ng-click="extend.deleteNotification(doc)" ng-disabled="doc.disableButton"><i class="icon-ban-circle"></i></button>
		</div>
	</column>
	<column name="creationDate" format="date"></column>
</rbs-document-list>
