<header class="clearfix">
	<button ng-click="closeEmbeddedModal()" class="close pull-right" style="margin-left:30px;" type="button">×</button>
	<h3>{{ i18n('m.rbs.admin.admin.dashboard_settings', ['ucf']) }}</h3>
</header>

<fieldset>
	<legend>{{ i18n('m.rbs.admin.admin.dashboard_settings_tags', ['ucf']) }}</legend>
	<rbs-field-picker-multiple property="dashboardSettings.tags" accepted-model="Rbs_Tag_Tag"></rbs-field-picker-multiple>
</fieldset>

<div class="form-actions">
	<button class="btn btn-primary" type="button" ng-click="saveSettings()">{{ i18n('m.rbs.admin.admin.save', ['ucf']) }}</button>
</div>
