<header class="clearfix">
	<button ng-click="closeEmbeddedModal()" class="close pull-right" style="margin-left:30px;" type="button">×</button>
	<h3><i class="icon-tasks"></i> {{ i18n('m.rbs.admin.admin.dashboard_task_tasks_in_progress', ['ucf']) }}</h3>
</header>

<rbs-document-list data-dlid="DLRbsDashboardTasksList"
                   model="Rbs_Workflow_Task"
                   collection="tasks"
                   selectable="false"
                   extend="taskList"
                   on-reload="reloadTasks()"
                   quick-actions=""
                   actions="">
	<column name="label">
		<div class="pull-right" ng-if="doc.status=='EN'">
			<button type="button" class="btn btn-sm btn-success" ng-click="extend.resolveTask(doc)"><i class="icon-ok"></i></button>
			<button type="button" class="btn btn-sm btn-danger" ng-click="extend.rejectTask(doc)"><i class="icon-ban-circle"></i></button>
		</div>
		(= doc.label =)
	</column>
	<column name="taskCode"></column>
	<column name="status">
		<span class="label label-success" ng-if="doc.status=='FI'">{{ i18n('m.rbs.admin.admin.dashboard_task_end') }}</span>
		<span class="label" ng-if="doc.status=='EN'">{{ i18n('m.rbs.admin.admin.dashboard_task_to_execute') }}</span>
	</column>
	<column name="document">
		<a href ng-href="(= doc.document | documentURL =)">(= doc.document.label =)</a>
		<i class="icon-rbs-navigate-to"></i>
	</column>
</rbs-document-list>
