<div class="document-form">
	<page-header document="document" sub-title="{{ i18nAttr('m.rbs.elasticsearch.documents.facet', ['ucf']) }}"></page-header>

	<rbs-workspace-config>
		<rbs-breadcrumb-config>
			<location href="(= 'Rbs_Elasticsearch'|rbsURL:'home' =)">{{ i18n('m.rbs.elasticsearch.admin.js.module-name', ['ucf']) }}</location>
			<location href="(= 'Rbs_Elasticsearch_FacetGroup'|rbsURL:'list' =)">{{ i18n('m.rbs.elasticsearch.admin.js.facetgroup-list', ['ucf']) }}</location>
		</rbs-breadcrumb-config>
	</rbs-workspace-config>

	<div class="rbs-document-editor rbs-document-editor-rbs-elasticsearch-facet"></div>
</div>