<form name="form" ng-submit="submit()" novalidate="">

	<rbs-field-text
		property="title"
		required="true"
		label="{{ i18nAttr(propertyKey('Rbs_Simpleform_Form', 'title'), ['ucf']) }}">
	</rbs-field-text>

	<form-button-bar></form-button-bar>

</form>