<div class="row">

	<rbs-workspace-config menu="Rbs_Simpleform">
		<rbs-breadcrumb-config>
			<rbs-location
					href="(= 'Rbs_Simpleform'|rbsURL:'home' =)">{{ i18n('m.rbs.simpleform.admin.module_name', ['ucf']) }}</rbs-location>
		</rbs-breadcrumb-config>
	</rbs-workspace-config>

	<div rbs-aside-column>
		<rbs-default-asides-for-list></rbs-default-asides-for-list>
	</div>

	<div rbs-main-column>
		<rbs-page-header title="{{ i18nAttr('m.rbs.simpleform.admin.form_list', ['ucf']) }}"></rbs-page-header>
		<rbs-document-filter-panel open-by-default="false"
				model="Rbs_Simpleform_Form" filter="filter" ></rbs-document-filter-panel>

		<div class="add-elements-bar">
			<a href ng-href="(= 'Rbs_Simpleform_Form' | rbsURL:'new' =)">{{ i18n('m.rbs.simpleform.admin.form_create', ['ucf']) }}</a>
		</div>

		<rbs-document-list data-dlid="DLCollection1" model="Rbs_Simpleform_Form" filter-collection="filter">
			<rbs-column name="label" primary="true"></rbs-column>
		</rbs-document-list>
	</div>

</div>