<div class="document-form" data-ng-controller="Change_Media_Image_FormController">
	<page-header document="document" sub-title="{{ i18n('m.change.media.document.image.document-name', ['ucf', 'attr']) }}"></page-header>
	<div class="document-editor editor-change-media-image"
		document="document"
		section="section"
		on-save="onSave(document)"
		on-cancel="onCancel()">
	</div>
</div>