<div class="document-form" data-ng-controller="Change_Catalog_Shop_FormController">
	<page-header document="document" sub-title="{{ i18nAttr('m.change.catalog.document.shop', ['ucf']) }}"></page-header>
	<div class="document-editor editor-change-catalog-shop"
		document="document"
		section="section"
		on-save="onSave(document)"
		on-cancel="onCancel()">
	</div>
</div>