<ul class="nav nav-pills">
	<li draggable="true" class="menu-item-function"><a href="javascript:;">
		<i class="icon-print"></i> {{ i18n('m.change.website.document.menu.function-print-page', ['ucf']) }}
	</a></li>
	<li draggable="true" class="menu-item-function"><a href="javascript:;">
		<i class="icon-hand-right"></i> {{ i18n('m.change.website.document.menu.function-go-to-content', ['ucf']) }}
	</a></li>
	<li draggable="true" class="menu-item-function"><a href="javascript:;">
		<i class="icon-star"></i> {{ i18n('m.change.website.document.menu.function-bookmark-page', ['ucf']) }}
	</a></li>
</ul>