<ul class="nav nav-pills">
	<li draggable="true" class="menu-item-function"><a href="javascript:;"><i class="icon-print"></i> Imprimer la page</a></li>
	<li draggable="true" class="menu-item-function"><a href="javascript:;"><i class="icon-hand-right"></i> Aller au contenu</a></li>
	<li draggable="true" class="menu-item-function"><a href="javascript:;"><i class="icon-star"></i> Ajouter la page aux favoris</a></li>
</ul>