<form name="form" data-ng-submit="submit()" novalidate="">

	<rbs-field-text property="title"
			label="{{ i18nAttr('m.rbs.geo.documents.addressfield.title', ['ucf']) }}"
			input-class="input-block-level">
	</rbs-field-text>

	<form-button-bar></form-button-bar>

</form>