<form name="form" data-ng-submit="submit()" transform-layout="true" novalidate="">

	<rbs-field-text property="title"
			label="{{ i18nAttr('m.rbs.geo.document.addressfield.title', ['ucf']) }}"
			input-class="input-block-level">
	</rbs-field-text>

	<form-button-bar></form-button-bar>

</form>