<div data-ng-controller="Rbs_Timeline_Message_ListController">
	<page-header title="{{ i18nAttr('m.rbs.timeline.document.message-list', ['ucf']) }}"></page-header>
	<search-filters model="Rbs_Timeline_Message" filter-query="query" text-search="textSearch"></search-filters>

	<rbs-document-list data-dlid="DLRbsMessage1"
	                   model="Rbs_Timeline_Message"
	                   filter-query="query">

		<column name="avatar" align='center'>
			<img ng-src="(= doc.avatar =)" style="width:64px; height:64px;">
		</column>
		<column name="message" primary="true">
			(= doc.message.h |  ellipsis:20 =)
		</column>
		<column name="identifier">
			@(= identifier =)
		</column>
		<preview>
			(= doc.message.h =)
		</preview>
	</rbs-document-list>
</div>