<div>
	<rbs-field-document-select label="{{ i18nAttr('m.rbs.discount.admin.discount_free_shipping_mode', ['ucf']) }}"
			property="parametersShippingMode" value-ids="true"
		accepted-model="Rbs_Shipping_Mode" ng-model="parameters.shippingMode">
	</rbs-field-document-select>
</div>