<rbs-links-panel title="{{ i18nAttr('m.rbs.admin.admin.contents', ['ucf']) }}">
	<a rbs-active-route="" href="Rbs/Discount/Discount/" rbs-panel-link="">{{ i18n('m.rbs.discount.admin.discount_list', ['ucf']) }}</a>
	<a rbs-active-route="" href="Rbs/Discount/Coupon/" rbs-panel-link="">{{ i18n('m.rbs.discount.admin.coupon_list', ['ucf']) }}</a>
</rbs-links-panel>
