<div>
	<rbs-field-float label="{{ i18nAttr('m.rbs.discount.admin.discount_rows_fixed_amount', ['ucf']) }}"
			property="parametersAmount" ng-model="parameters.amount"  required="true">
	</rbs-field-float>
	<rbs-field-boolean label="{{ i18nAttr('m.rbs.discount.admin.discount_rows_fixed_with_tax', ['ucf']) }}"
			property="parametersAmount" ng-model="parameters.withTax" required="true">
	</rbs-field-boolean>
</div>