<div>
	<rbs-field-float label="{{ i18nAttr('m.rbs.discount.admin.discount_rows_percent_value', ['ucf']) }}"
			property="parametersPercent" ng-model="parameters.percent" required="true">
	</rbs-field-float>
</div>