<div>
	<div class="panel panel-default">
		<div class="panel-heading">{{ i18n('m.rbs.commerce.front.amount_to_pay', ['ucf']) }}</div>
		<div class="panel-body price">(= transaction.common.amount | rbsFormatPrice:transaction.common.currencyCode =)</div>
	</div>

	<p class="clearfix">
		<button class="btn btn-lg btn-primary pull-right" type="button" data-ng-click="confirmOrder()">
			{{ i18n('m.rbs.commerce.front.confirm_order', ['ucf']) }}
		</button>
	</p>
</div>