<div class="row">

	<rbs-workspace-config>
		<rbs-breadcrumb-config>
			<location href="(= 'Rbs_User'|rbsURL:'home' =)">{{ i18n('m.rbs.user.admin.user_list', ['ucf']) }}</location>
			<location href="(= 'Rbs_User_Group'|rbsURL:'list' =)">{{ i18n('m.rbs.user.admin.group_list', ['ucf']) }}</location>
		</rbs-breadcrumb-config>
	</rbs-workspace-config>

	<div rbs-aside-column>
		<rbs-aside-editor-menu></rbs-aside-editor-menu>
		<rbs-aside template="Document/Rbs/User/Group/group-users-aside-menu.twig"></rbs-aside>
	</div>

	<div class="document-form" rbs-main-column>
		<page-header document="document" sub-title="{{ i18nAttr(modelKey('Rbs_User_Group'), ['ucf']) }}"></page-header>
		<div class="rbs-document-editor rbs-document-editor-rbs-user-group"></div>
	</div>

</div>