<rbs-links-panel>
	<a rbs-active-route="" class="list-group-item" href="" ng-href="(= document | documentURL:'groupUsers' =)">{{ i18nAttr('m.rbs.user.admin.users_in_group', ['ucf']) }}</a>
</rbs-links-panel>