<div class="document-form">

	<rbs-workspace-config>
		<rbs-breadcrumb-config>
			<location href="(= 'Rbs_Geo'|rbsURL:'home' =)">{{ i18n('m.rbs.geo.admin.js.module-name', ['ucf']) }}</location>
			<location href="(= 'Rbs_Geo_AddressFields'|rbsURL:'list' =)">{{ i18n('m.rbs.geo.admin.js.addressfields-list', ['ucf']) }}</location>
		</rbs-breadcrumb-config>
	</rbs-workspace-config>

	<page-header document="document" sub-title="{{ i18nAttr('m.rbs.geo.documents.addressfields', ['ucf']) }}"></page-header>
	<div class="rbs-document-editor rbs-document-editor-rbs-geo-address-fields"></div>
</div>