<div data-ng-controller="{{ query.model }}_ListController">

	<div data-ng-init="_isEmbeded = true"></div>

	<header class="clearfix">
		<button data-ng-click="closeSelector()" class="close pull-right" style="margin-left:30px;" type="button" auto-focus>×</button>
		<h3>(=selectorTitle=)</h3>
	</header>

	<div class="btn-toolbar" data-ng-switch="DL.enabledViewModes.length > 1">

		<form class="form-search pull-right" data-ng-submit="textSearch = search || '...'">
			<div class="input-append">
				<input type="text" class="input-medium search-query" placeholder="Rechercher..." data-ng-model="search"/>
				<button type="submit" class="btn" title="Rechercher">
					<i class="icon-search"></i>
				</button>
			</div>
		</form>

		<div class="btn-group" data-ng-switch-when="true">
			<button type="button" data-ng-repeat="vm in DL.enabledViewModes" data-ng-class="{active: DL.isViewMode(vm)}" class="btn" title="(=DL.availableViewModes[vm].label=)" data-ng-click="DL.setViewMode(vm)"><i class="(=DL.availableViewModes[vm].icon=)"></i></button>
		</div>
	</div>
	<div class="clearfix"></div>

	<search-filters model="{{ query.model }}" query="DL.query" text-search="textSearch"></search-filters>

	<div data-ng-switch="DL.loading">

		<div data-ng-switch-when="true" class="rbsc-loading-indicator" style="">
			Chargement en cours...<br/>
			<small>Merci de bien vouloir patienter quelques instants :)</small>
		</div>

		<div data-ng-switch-default>

			<div class="alert alert-info" data-ng-show="DL.documents.length == 0">
				<h4>Cette liste est vide.</h4>
				<div ng-show="DL.query">Essayez de modifier vos paramètres de recherche pour trouver l'élément que vous shouhaitez.</div>
			</div>

			<div data-ng-switch="DL.viewMode" class="document-list-view-mode-(=DL.viewMode=)">

				<ul data-ng-switch-when="thumbnails" data-ng-class="{'thumbnails-info': DL.thumbnailsInfo}" class="thumbnail-grid clearfix">
					<li data-ng-repeat="doc in DL.documents"
					    data-ng-class="{selected: doc.selected, warning: doc.publicationStatus!='PUBLISHABLE'}">
						<div class="img-preview" data-ng-class="doc.status" data-ng-click="doc.selected = ! doc.selected">
							<img data-ng-src="(=doc.imgSrc=)">
							<div class="thumbnail-label" title="(=doc.fileName=)">(=doc.label | ellipsis:16:'center'=)</div>
							<div class="caption">
								<h4><status data-ng-model="doc.status" class="small"/> (=doc.label=)</h4>
								<dl class="dl-horizontal">
									<dt>Fichier</dt>
									<dd>(=doc.fileName=)</dd>
									<dt>Taille</dt>
									<dd>(=doc.width | number=) &times; (=doc.height | number=)</dd>
									<dt>Poids</dt>
									<dd data-ng-bind-html-unsafe="doc.fileSize | fileSize"></dd>
									<dt>Auteur</dt>
									<dd>(=doc.author | emptyLabel=)</dd>
								</dl>
							</div>
						</div>
					</li>
				</ul>

				<ul data-ng-switch-when="small-thumbnails" data-ng-class="{'thumbnails-info': DL.thumbnailsInfo}" class="thumbnail-grid small-thumbnails clearfix">
					<li data-ng-repeat="doc in DL.documents"
					    data-ng-class="{selected: doc.selected, warning: doc.publicationStatus!='PUBLISHABLE'}">
						<div class="img-preview" data-ng-class="doc.status" data-ng-click="doc.selected = ! doc.selected">
							<img data-ng-src="(=doc.imgSrc=)">
							<div class="thumbnail-label" title="(=doc.label=)">(=doc.label | ellipsis:14:'center'=)</div>
						</div>
					</li>
				</ul>

				<table
					data-ng-show="DL.documents.length" class="document-list table table-condensed table-bordered table-striped table-hover data-ng-cloak"
					data-ng-switch-when="list">
					<thead>
						<tr>
							<th style="text-align: center; width: 30px"	data-ng-class="{true:'sorted', false:''}[DL.isSortedOn('status')]">
								<a href="javascript:;" data-ng-click="DL.toggleSort('status')">
									&Eacute;tat
									<i class="column-sort-indicator" data-ng-class="{true:'icon-sort-down', false:'icon-sort-up'}[DL.sort.descending]" data-ng-show="DL.isSortedOn('status')"></i>
								</a>
							</th>
							<th	data-ng-class="{true:'sorted', false:''}[DL.isSortedOn('label')]">
								<a href="javascript:;" data-ng-click="DL.toggleSort('label')">
									Libellé
									<i class="column-sort-indicator" data-ng-class="{true:'icon-sort-down', false:'icon-sort-up'}[DL.sort.descending]" data-ng-show="DL.isSortedOn('label')"></i>
								</a>
							</th>
							<th>ID</th>
						</tr>
					</thead>

					<tbody>
						<tr data-ng-repeat="doc in DL.documents" data-ng-class="{selected: doc.selected, warning: doc.publicationStatus!='PUBLISHABLE'}">
							<td style="text-align: center">
								<status data-ng-model="doc"/>
							</td>
							<td data-ng-class="{true:'sorted', false:''}[DL.isSortedOn('label')]">
								{% if (query.multiple) %}
								<span class="pull-right">
									<button type="button" class="btn btn-mini" data-ng-click="replaceWithDocument(doc)"><i class="icon-arrow-right" title="Remplacer par cet élément"></i></button>
								</span>
								{% endif %}
								<a href="javascript:;" data-ng-click="selectDocument(doc)">(=doc.label=)</a>
							</td>
							<td>(=doc.id=)</td>
						</tr>
					</tbody>
				</table>

			</div>

			<footer class="row-fluid rbsc-list-footer" data-ng-show="DL.documents.length" data-mask="(=DL.loading=)">
				<div class="span12">
					<pagination-toolbar document-list="DL" class="pull-right"></pagination-toolbar>
					<div class="btn-toolbar">
						<div class="btn-virtual-group" data-ng-show="DL.isThumbnailsView() || DL.isSmallThumbnailsView()">
							<button
								data-ng-disabled="DL.isSelectionEmpty()"
								class="btn btn-primary"
								type="button"
								data-ng-click="selectDocuments(DL.selectedDocuments);closeSelector()"
								title="Ajouter les éléments sélectionnés ci-dessus et fermer le sélecteur"><i class="icon-plus icon-white"></i> puis fermer</button>
							<div class="btn-group">
								<button
									data-ng-disabled="DL.isSelectionEmpty()"
									class="btn"
									type="button"
									data-ng-click="replaceWithDocuments(DL.selectedDocuments)"
									title="Remplacer les valeurs dans le formulaire par les éléments sélectionnés ci-dessus"><i class="icon-arrow-right"></i></button>
								<button
									data-ng-disabled="DL.isSelectionEmpty()"
									class="btn"
									type="button"
									data-ng-click="selectDocuments(DL.selectedDocuments)"
									title="Ajouter les éléments sélectionnés ci-dessus"><i class="icon-plus"></i></button>
							</div>
						</div>
						<button class="btn btn-inverse" type="button" data-ng-click="closeSelector();createDocument()"><i class="icon-white icon-plus"></i> Créer</button>
						<button class="btn" type="button" data-ng-click="closeSelector()">Fermer</button>
					</div>
				</div>
			</footer>

		</div>
	</div>

</div>