<dl class="dl-horizontal">
	{% for group in productPresentation.attributesConfiguration %}
		{% for item in group.items %}
			<dt>
				{{ item.title }}
				{% if item['description'] is defined %}
					<div class="small">{{ item.description|richText }}</div>
				{% endif %}
			</dt>
			<dd>{% include item.template %}</dd>
		{% endfor %}
	{% endfor %}
</dl>