<table class="table table-striped table-bordered">
	<tbody>
		{% for group in attributesConfig %}
			<tr>
				<th colspan="2">{{ group.title }}</th>
			</tr>
			{% for item in group.items %}
				<tr>
					<td class="col-xs-6 col-sm-5 col-md-4 col-lg-3">
						{{ item.title }}
						{% if item['description'] is defined %}
							<div class="small">{{ item.description|richText }}</div>
						{% endif %}
					</td>
					<td class="col-xs-6 col-sm-7 col-md-8 col-lg-9">{% include item.template %}</td>
				</tr>
			{% endfor %}
		{% endfor %}
	</tbody>
</table>