{% block descriptionTitle %}
	<h2>{{ i18n('m.rbs.catalog.front.full_description', ['ucf']) }}</h2>
{% endblock %}

{% block description %}
	<div itemprop="description">
		{{ productPresentation.general.description|richText }}
	</div>
{% endblock %}

{% if parameters.attributesDisplayMode and not(productPresentation.attributesConfiguration is empty) %}
	{% block attributesTitle %}
		<h2>{{ i18n('m.rbs.catalog.front.attributes', ['ucf']) }}</h2>
	{% endblock %}

	{% block attributes %}
		{% if parameters.attributesDisplayMode == 'accordion' %}
			{% include 'Rbs_Catalog/Blocks/Product/attributes-accordion.twig' %}
		{% elseif parameters.attributesDisplayMode == 'flat' %}
			{% include 'Rbs_Catalog/Blocks/Product/attributes-flat.twig' %}
		{% elseif parameters.attributesDisplayMode == 'table' %}
			{% include 'Rbs_Catalog/Blocks/Product/attributes-table.twig' %}
		{% elseif parameters.attributesDisplayMode == 'tabs' %}
			{% include 'Rbs_Catalog/Blocks/Product/attributes-tabs.twig' %}
		{# For development and tests only... #}
		{% elseif parameters.attributesDisplayMode == 'all' %}
			{% include 'Rbs_Catalog/Blocks/Product/attributes-accordion.twig' %}
			{% include 'Rbs_Catalog/Blocks/Product/attributes-flat.twig' %}
			{% include 'Rbs_Catalog/Blocks/Product/attributes-table.twig' %}
			{% include 'Rbs_Catalog/Blocks/Product/attributes-tabs.twig' %}
		{% endif %}
	{% endblock %}
{% endif %}