{% block description %}
	<div data-ng-if="productData | rbsCatalogGetAttribute:'description'" >
		<h2>{{ i18n('m.rbs.catalog.front.full_description', ['ucf']) }}</h2>
		<div itemprop="description" data-rbs-catalog-attribute-value="" data-attribute="productData | rbsCatalogGetAttribute:'description'"></div>
	</div>
{% endblock %}

{% if parameters.attributesDisplayMode %}
	<div data-rbs-catalog-section-attributes="" data-product-data="productData"
			data-visibility="specifications" data-display-mode="{{ parameters.attributesDisplayMode }}" data-block-id="{{ blockId }}">
	</div>
{% endif %}
