<script type="text/javascript">
	window.__change['{{ blockId }}'] = {{ productData | json_encode | raw}};
</script>
<article itemscope="" itemtype="http://schema.org/Product" class="product-details"
	data-ng-controller="RbsCatalogVariantProductController" data-cache-key="{{ blockId }}">
	{% include 'Rbs_Catalog/Blocks/Product/loading.twig' %}
	<div class="row">
		<div class="col-sm-12">
			<header>
				{% include 'Rbs_Catalog/Blocks/Product/header.twig' %}
			</header>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-6 col-md-8">
			{% include 'Rbs_Catalog/Blocks/Product/visuals.twig' %}
		</div>
		<div class="col-sm-6 col-md-4">
			{% include 'Rbs_Catalog/Blocks/Product/offer-variant.twig' %}
		</div>
	</div>
	<div class="row">
		<div class="col-sm-12">
			{% include 'Rbs_Catalog/Blocks/Product/description.twig' %}
		</div>
	</div>
</article>