<div data-ng-show="productLoading" data-ng-cloak="" class="product-loading">
	<div class="product-loading-indicator">
		<p><img alt="" src="{{ resourceURL('Theme/Rbs/Base/img/loading.gif') }}" /></p>
		<p><span class="label label-default">{{ i18n('m.rbs.catalog.front.loading_data', ['ucf', 'etc']) }}</span></p>
	</div>
</div>