{% if parameters.webStoreId %}
	<div itemprop="offers" itemscope="" itemtype="http://schema.org/Offer">
		{% block variants %}
			<div data-rbs-catalog-variant-selector="" data-product-data="productData" data-ajax-data="productAjaxData"
				data-ajax-params="productAjaxParams">
			</div>

			<div data-ng-hide="productData.stock.sku" data-ng-cloak="" class="alert warning">{{ i18n('m.rbs.catalog.front.please_configure_axes', ['ucf']) }}</div>
		{% endblock%}

		{% block availability %}
			<div data-ng-show="productData.stock.sku" data-rbs-catalog-product-availability=""></div>
		{% endblock %}

		{% block prices %}
			<div data-rbs-catalog-product-price=""
				data-display-without-tax="{{ parameters.displayPricesWithoutTax }}"
				data-display-with-tax="{{ parameters.displayPricesWithTax }}">
			</div>
		{% endblock %}

		{% block addToCart %}
			<div data-rbs-catalog-add-variant-product-to-cart="" data-modal-id="addToCartConfirmationModal-{{ blockId }}"></div>
		{% endblock %}
	</div>
{% endif %}