<h1>{{ i18n('m.rbs.order.front.my_orders', ['ucf']) }}</h1>

<h2>{{ i18n('m.rbs.order.front.canceled_orders', ['ucf']) }}</h2>

{% if paginator and paginator.totalCount %}
	{% set orderPresentations = paginator.items %}
	{% include 'Rbs_Order/order-list.twig' %}

	{% set pageCount = paginator.pageCount %}
	{% set pageNumber = paginator.pageNumber %}
	{% include 'Rbs_Generic/pagination.twig' %}
{% endif %}

<p>
	<a href="{{ currentURL({'mode': 'default'}) }}">
		{{ i18n('m.rbs.order.front.view_all_orders', ['ucf']) }}
	</a>
</p>