<p>
	<a href="" data-ng-href="(= document | rbsURL =)">
		<strong>(= document.label =)</strong>
	</a>
	{{ i18n('m.rbs.website.admin.topic_in_website', ['ucf']) }}
	<a class="a-inline" href="" data-ng-href="(= document.website | rbsURL =)">
		<strong>(= document.website.label =)</strong>
	</a>
</p>