<div class="row">

	<div rbs-aside-column>
		<rbs-default-asides-for-list></rbs-default-asides-for-list>
	</div>

	<div rbs-main-column>
		<rbs-page-header title="{{ i18nAttr('m.rbs.elasticsearch.admin.fulltext_list', ['ucf']) }}"></rbs-page-header>
		<rbs-document-filter-panel open-by-default="false"
				model="Rbs_Elasticsearch_FullText" filter="filter" ></rbs-document-filter-panel>

		<div class="add-elements-bar">
			{% for newDocumentLink in attributes['newDocumentLinks'] %}
				<a href ng-href="(= '{{ newDocumentLink.modelName }}' | rbsURL:'new' =)">{{ newDocumentLink.label }}</a>
			{% endfor %}
		</div>

		<rbs-document-list data-dlid="DLRbsElasticsearchFullText"
				model="Rbs_Elasticsearch_FullText" filter-collection="filter" activable="true">
			<rbs-column name="label" primary="true"></rbs-column>
			<rbs-column name="website.label"></rbs-column>
			<rbs-column name="analysisLCID"></rbs-column>
		</rbs-document-list>
	</div>

</div>