<div class="document-form" data-ng-controller="Rbs_Catalog_Price_FormController">
	<page-header document="document" sub-title="{{ i18nAttr('m.rbs.catalog.document.price', ['ucf']) }}"></page-header>
	<div class="document-editor editor-rbs-catalog-price"
		document="document"
		section="section"
		on-save="onSave(document)"
		on-cancel="onCancel()">
	</div>
</div>