<rbs-links-panel title="{{ i18nAttr('m.rbs.admin.admin.contents', ['ucf']) }}" icon="icon-list-alt">
	<a rbs-active-route="" href="Rbs/User/User/" class="rbs-panel-link" icon="icon-user">{{ i18n('m.rbs.user.admin.user_list', ['ucf']) }}</a>
	<a rbs-active-route="" href="Rbs/User/Group/" class="rbs-panel-link" icon="icon-group">{{ i18n('m.rbs.user.admin.group_list', ['ucf']) }}</a>
</rbs-links-panel>