<nav>
	{% if parameters.showTitle == true %}
		<h3>
			{% if root.url %}<a href="{{ root.url }}">{% endif %}{{ root.label }}{% if root.url %}</a>{% endif %}
		</h3>
	{% endif %}
	{% if root.hasChild %}
		<ul class="nav">
		{% for child in root.children %}
			<li{% if child.isInPath or child.isCurrent %} class="active"{% endif %}>
				<a href="{{ child.url }}">{{ child.label }}</a>
			</li>
		{% endfor %}
		</ul>
	{% endif %}
</nav>