<div class="row">

	<rbs-workspace-config>
		<rbs-breadcrumb-config>
			<location href="(= 'Rbs_Event'|rbsURL:'home' =)">{{ i18n('m.rbs.event.admin.module_name', ['ucf']) }}</location>
			<location href="(= 'Rbs_Event_Category'|rbsURL:'list' =)">{{ i18nAttr('m.rbs.event.admin.category_list', ['ucf']) }}</location>
		</rbs-breadcrumb-config>
	</rbs-workspace-config>

	<div rbs-aside-column>
		<rbs-default-asides-for-list></rbs-default-asides-for-list>
	</div>

	<div rbs-main-column>
		<page-header title="{{ i18nAttr('m.rbs.event.admin.category_list', ['ucf']) }}"></page-header>
		<rbs-document-filter-panel open-by-default="false"
				model="Rbs_Event_Category" filter="filter" ></rbs-document-filter-panel>

		<div class="add-elements-bar">
			<a href ng-href="(= 'Rbs_Event_Category' | rbsURL:'new' =)">
				{{ i18n('m.rbs.event.admin.category_create', ['ucf']) }}
			</a>
		</div>

		<rbs-document-list data-dlid="DLCollection1" model="Rbs_Event_Category" filter-collection="filter" publishable="true">
			<column name="label" primary="true"></column>
		</rbs-document-list>
	</div>

</div>