<div class="row">

	<div rbs-aside-column>
		<rbs-default-asides-for-list></rbs-default-asides-for-list>
	</div>

	<div rbs-main-column>
		<rbs-page-header title="{{ i18nAttr('m.rbs.event.admin.category_list', ['ucf']) }}"></rbs-page-header>
		<rbs-document-filter-panel open-by-default="false"
				model="Rbs_Event_Category" filter="filter" ></rbs-document-filter-panel>
		<div class="add-elements-bar">
			<a href ng-href="(= 'Rbs_Event_Category' | rbsURL:'new' =)">
				{{ i18n('m.rbs.event.admin.category_create', ['ucf']) }}
			</a>
		</div>

		<rbs-document-list data-dlid="DLCollection1" model="Rbs_Event_Category" filter-collection="filter" publishable="true">
			<rbs-column name="label" primary="true"></rbs-column>
		</rbs-document-list>
	</div>

</div>