<div>

	<ul class="nav nav-list">
		<li class="nav-header">{{ i18n('m.rbs.admin.contents', ['ucf']) }}</li>
		<li><a href="Rbs/User/User/"><i class="icon-user"></i> {{ i18nAttr('m.rbs.user.document.user-list', ['ucf']) }}</a></li>
		<li><a href="Rbs/User/Group/"><i class="icon-group"></i> {{ i18nAttr('m.rbs.user.document.group-list', ['ucf']) }}</a></li>
	</ul>

</div>