<rbs-links-panel title="{{ i18nAttr('m.rbs.admin.admin.contents', ['ucf']) }}" icon="icon-list-alt">
	<a href="Rbs/User/User/" class="rbs-panel-link" icon="icon-user">{{ i18n('m.rbs.user.documents.user-list', ['ucf']) }}</a>
	<a href="Rbs/User/Group/" class="rbs-panel-link" icon="icon-group">{{ i18n('m.rbs.user.documents.group-list', ['ucf']) }}</a>
</rbs-links-panel>