{% block descriptionTitle %}
	<h2>{{ i18n('m.rbs.catalog.fo.full-description', ['ucf']) }}</h2>
{% endblock %}

{% block description %}
	<div itemprop="description">
		{{ product.currentLocalization.description|richText }}
	</div>
{% endblock %}

{% if attributesDisplayMode and not(attributesConfig is empty) %}
	{% block attributesTitle %}
		<h2>{{ i18n('m.rbs.catalog.fo.attributes', ['ucf']) }}</h2>
	{% endblock %}

	{% block attributes %}
		{% if attributesDisplayMode == 'accordion' %}
			{% include 'Rbs_Catalog/Blocks/Product/attributes-accordion.twig' %}
		{% elseif attributesDisplayMode == 'flat' %}
			{% include 'Rbs_Catalog/Blocks/Product/attributes-flat.twig' %}
		{% elseif attributesDisplayMode == 'table' %}
			{% include 'Rbs_Catalog/Blocks/Product/attributes-table.twig' %}
		{% elseif attributesDisplayMode == 'tabs' %}
			{% include 'Rbs_Catalog/Blocks/Product/attributes-tabs.twig' %}
		{# For development and tests only... #}
		{% elseif attributesDisplayMode == 'all' %}
			{% include 'Rbs_Catalog/Blocks/Product/attributes-accordion.twig' %}
			{% include 'Rbs_Catalog/Blocks/Product/attributes-flat.twig' %}
			{% include 'Rbs_Catalog/Blocks/Product/attributes-table.twig' %}
			{% include 'Rbs_Catalog/Blocks/Product/attributes-tabs.twig' %}
		{% endif %}
	{% endblock %}
{% endif %}