<div data-ng-controller="Rbs_User_User_PopoverPreviewController">
	<div class="media-body well well-small">
		<img style="width: 64px; height: 64px;" class="media-object" data-ng-src="(= profile.avatar =)" />
		<h4 class="media-heading">(= document.pseudonym =) <small ng-if="document.identifier">@(= document.identifier =)</small></h4>
	</div>
</div>