<div class="document-form">

	<rbs-workspace-config>
		<rbs-breadcrumb-config>
			<location href="(= 'Rbs_Geo'|rbsURL:'home' =)">{{ i18n('m.rbs.geo.admin.js.module-name', ['ucf']) }}</location>
			<location href="(= 'Rbs_Geo_Zone'|rbsURL:'list' =)">{{ i18n('m.rbs.geo.admin.js.zone-list', ['ucf']) }}</location>
		</rbs-breadcrumb-config>
	</rbs-workspace-config>

	<page-header document="document" sub-title="{{ i18nAttr(modelKey('Rbs_Geo_Zone'), ['ucf']) }}"></page-header>
	<div class="rbs-document-editor rbs-document-editor-rbs-geo-zone"></div>

</div>