<form name="form" ng-submit="submit()" novalidate="">

	<rbs-field-text
			property="alt"
			label="{{ i18nAttr('m.rbs.media.documents.image.alt', ['ucf']) }}">
	</rbs-field-text>

	<form-button-bar></form-button-bar>

</form>