<div data-ng-controller="Rbs_Media_Image_ListController">
	<page-header sub-title="{{ i18nAttr('m.rbs.media.document.image-list', ['ucf']) }}"></page-header>
	<search-filters model="Rbs_Media_Image" query="query" text-search="textSearch"></search-filters>

	<div>
		<a href="Rbs/Media/Image/new">{{ i18n('m.rbs.media.document.image-create', ['ucf']) }}</a>
	</div>

	<document-list data-dlid="DLRbsMediaImage" publishable="true" model="Rbs_Media_Image" query="query">
		<column name="path" thumbnail="XS"></column>
		<column name="label" primary="true"></column>

		<preview>
			<img rbs-storage-image="(= doc.document.path =)" thumbnail="M" class="pull-left img-polaroid margin-right"/>
			<h4>(= doc.document.label =)</h4>
			<todo>Ajouter d'autres caractéristiques de l'image</todo>
		</preview>

		<grid-item>
			<img rbs-storage-image="(= doc.path =)" thumbnail="L"/>
		</grid-item>

	</document-list>
</div>