<rbs-document-list data-dlid="DLDocumentPicker{{ query.model }}"
               model="{{ query.model }}"
               filter-query="query" extend="picker" actions="">
	<column name="path" thumbnail="XS" thumbnail-path="doc"></column>
	<column name="label" primary="true">
		{% if (query.multiple) %}
		<span class="pull-right">
			<!--TODO localization-->
			<button type="button" class="btn btn-xs" ng-click="extend.replaceWithDocument(doc)"><i class="icon-arrow-right" title="Remplacer par cet élément"></i></button>
		</span>
		{% endif %}
		<a href="javascript:;" ng-click="extend.selectDocument(doc)">(=doc.label=)</a>
	</column>
	<preview>
		<img rbs-storage-image="doc.path" thumbnail="M" class="pull-left img-polaroid margin-right"/>
		<h4>(= doc.label =)</h4>
		<rbs-todo>Ajouter d'autres caractéristiques de l'image</rbs-todo>
	</preview>
</rbs-document-list>