<div data-ng-controller="Rbs_Timeline_Resume_Controller">
	<page-header title="{{ i18nAttr('m.rbs.timeline.document.resume', ['ucf']) }}"></page-header>

	<div class="media">
		<img style="width: 128px; height: 128px;" class="media-object" data-ng-src="">
		<div class="media-body well well-small">
			<h4 class="media-heading">(= document.pseudonym =) <small>@(= document.identifier =)</small></h4>
			<p>{{ i18n('m.rbs.user.document.user.email', ['ucf', 'lab']) }} (= document.email =)</p>
		</div>
	</div>
</div>