<form name="form" ng-submit="submit()" novalidate="">

	<rbs-field-text
		label="{{ i18nAttr('m.rbs.seo.documents.documentseo.meta-title', ['ucf']) }}"
		property="defaultMetaTitle">
	</rbs-field-text>

	<rbs-field-text
		label="{{ i18nAttr('m.rbs.seo.documents.documentseo.meta-title', ['ucf']) }}"
		property="defaultMetaDescription">
	</rbs-field-text>

	<rbs-field-text
		label="{{ i18nAttr('m.rbs.seo.documents.documentseo.meta-title', ['ucf']) }}"
		property="defaultMetaKeywords">
	</rbs-field-text>

	<form-button-bar></form-button-bar>
</form>