<form class="form-horizontal" novalidate ng-submit="login()" ng-controller="Change_Users_User_LoginController">
	<div class="control-group">
		<label class="control-label" for="username">{{ i18n('m.change.users.document.user.login') }}</label>
		<div class="controls">
			<input type="text" id="username" name="username" ng-model="username" auto-focus=""/>
		</div>
	</div>
	<div class="control-group">
		<label class="control-label" for="password">{{ i18n('m.change.users.document.user.password') }}</label>
		<div class="controls">
			<input type="password" id="password" name="password" ng-model="password"/>
		</div>
	</div>
	<div class="control-group">
		<div class="controls">
			<button type="submit" class="btn">Connexion</button>
		</div>
	</div>
</form>