<div>

	<ul class="nav nav-list">
		<li class="nav-header">Contenus</li>
		<li><a href="Change/Users/User"><i class="icon-user"></i> Utilisateurs</a></li>
		<!--li><a href="Change/Users/Group"><i class="icon-group"></i> Groupes</a></li-->
	</ul>

</div>