<div class="document-form">
	<page-header document="document" sub-title="{{ i18nAttr('m.rbs.theme.document.pagetemplate', ['ucf']) }}"></page-header>
	<div class="document-editor editor-rbs-theme-page-template"
		document="document"
		section="section"
		on-save="onSave(document)"
		on-cancel="onCancel()">
	</div>
</div>