<div data-ng-controller="Rbs_Theme_PageTemplate_ListController">
	<page-header sub-title="{{ i18nAttr('m.rbs.theme.document.pagetemplate-list', ['ucf']) }}"></page-header>

	<search-filters model="Rbs_Theme_PageTemplate" query="query" text-search="textSearch"></search-filters>

	<div>
		<a href="Rbs/Theme/PageTemplate/new">{{ i18n('m.rbs.theme.document.pagetemplate-create', ['ucf']) }}</a>
	</div>

	<document-list data-dlid="DLThemePageTemplate1"
	               publishable="true"
	               model="Rbs_Theme_PageTemplate"
	               query="query" parent-property="theme">
		<column name="label" label="Nom" primary="true"></column>
	</document-list>
</div>