<div class="document-form" data-ng-controller="Rbs_Collection_Collection_FormController">
	<page-header document="document" sub-title="{{ i18nAttr('m.rbs.collection.document.collection', ['ucf']) }}"></page-header>
	<div class="document-editor editor-change-collection-collection"
		document="document"
		section="section"
		on-save="onSave(document)"
		on-cancel="onCancel()">
	</div>
</div>