<div data-ng-controller="Rbs_Collection_Collection_ListController">
	<page-header title="{{ i18nAttr('m.rbs.collection.document.collection-list', ['ucf']) }}"></page-header>
	<search-filters model="Rbs_Collection_Collection" query="query" text-search="textSearch"></search-filters>
	<div>
		<a href="Rbs/Collection/Collection/new">{{ i18n('m.rbs.collection.document.collection-create', ['ucf']) }}</a>
	</div>

	<document-list data-dlid="DLCollection1"
	               publishable="true"
	               model="Rbs_Collection_Collection"
	               query="query">
		<column name="label" primary="true"></column>
		<column name="code"></column>
	</document-list>
</div>