<div class="document-form">
	<page-header document="document" sub-title="{{ i18nAttr('m.rbs.payment.document.connector', ['ucf']) }}"></page-header>

	<rbs-workspace-config>
		<rbs-breadcrumb-config>
			<location href="(= 'Rbs_Payment'|rbsURL:'home' =)">{{ i18n('m.rbs.payment.admin.js.module-name', ['ucf']) }}</location>
			<location href="(= 'Rbs_Payment_Connector'|rbsURL:'list' =)">{{ i18n('m.rbs.payment.admin.js.connector-list', ['ucf']) }}</location>
		</rbs-breadcrumb-config>
	</rbs-workspace-config>

	<div class="rbs-document-editor rbs-document-editor-rbs-payment-connector"></div>
</div>