<rbs-links-panel title="{{ i18nAttr('m.rbs.admin.admin.contents', ['ucf']) }}">
	<a rbs-active-route="" href="Rbs/Tag/Tag/" rbs-panel-link="">{{ i18n('m.rbs.tag.admin.common_tags', ['ucf']) }}</a>
	<a rbs-active-route="" href="Rbs/Tag/MyTags/" rbs-panel-link="">{{ i18n('m.rbs.tag.admin.my_tags', ['ucf']) }}</a>
</rbs-links-panel>
