<div class="panel panel-default">
	<div class="panel-heading">
		<h3 class="panel-title"><i class="icon-search"></i> {{ i18n('m.rbs.tag.admin.find', ['ucf']) }}</h3>
	</div>
	<rbs-tag-filter></rbs-tag-filter>
	<div class="panel-footer">
		<a href="Rbs/Tag">{{ i18n('m.rbs.tag.admin.manage_tags', ['ucf']) }} <i class="icon-circle-arrow-right"></i></a>
	</div>
</div>