<div class="alert alert-info">
	Réorganisez les éléments en faisant glisser les symboles <i class="icon-reorder"></i> disponibles sur chaque ligne.
</div>

<token-list items="documents" class="rows" readonly="true"></token-list>

<div class="form-actions">
	<button type="button" class="btn" data-ng-click="useAlphabeticalSort()">Tri alphabétique</button>
	<button type="button" class="btn" data-ng-click="reverseSort()">Inverser</button>

	<button type="button" class="btn pull-right btn-primary" data-ng-click="save()" data-ng-disabled="isUnchanged()"><i class="icon-ok"></i> Valider</button>
	<button type="button" class="btn pull-right" data-ng-click="revert()" data-ng-disabled="isUnchanged()"><i class="icon-undo"></i> Annuler</button>
</div>