<div data-ng-controller="Change_Media_MainMenuController">
	<ul class="nav nav-list">
		<li class="nav-header">{{ i18n('m.change.admin.contents', ['ucf']) }}</li>
		<li><a href="Change/Media/Image"><i class="icon-home"></i> {{ i18n('m.change.media.document.image.document-list-name', ['ucf']) }}</a></li>
	</ul>
</div>