# TODO #

<div class="panel panel-default">
	<div class="panel-heading">Code promotionnel</div>
	<div class="panel-body form-horizontal">
		<div class="form-group no-bottom-margin">
			<label for="codeCoupon" class="col-sm-6 col-md-4 control-label">Saisissez votre code</label>
			<div class="col-sm-6 col-md-8">
				<div class="input-group">
					<input type="text" class="form-control" id="codeCoupon" />
					<span class="input-group-btn">
						<button class="btn btn-primary" type="button">OK</button>
					</span>
				</div>
			</div>
		</div>
		<hr />
		<div class="form-group no-bottom-margin">
			<label for="codeCoupon" class="col-sm-6 col-md-4 control-label">Code coupon appliqué</label>
			<div class="col-sm-6 col-md-8">
				<p class="form-control-static">
					XFRDT-55 <button class="btn btn-default btn-xs">Retirer</button>
				</p>
			</div>
		</div>
	</div>
</div>

<div class="panel panel-default">
	<div class="panel-heading">Récapitulatif des montants</div>
	<dl class="dl-horizontal">
		<dt>Total TTC</dt>
		<dd><span class="price">85,00 €</span></dd>
		<dt>Coupon</dt>
		<dd><span class="price">-10,00 €</span></dd>
		<dt>Net à payer</dt>
		<dd><span class="price">75,00 €</span></dd>
	</dl>
</div>

<div class="panel panel-default">
	<div class="panel-heading">Moyen de paiement</div>
	<div class="panel-body">
		Parmi la liste ci-dessous, sélectionnez celui que vous souhaitez utiliser.
	</div>
	<div class="list-group">
		<a href="{{ currentURL() }}" class="list-group-item active">
			Paiement par chèque<br />
			<small>L'expédition ne sera faite qu'après réception du chèque.</small>
		</a>
		<a href="{{ currentURL() }}" class="list-group-item">
			<img src="http://site36.intportgchange.fr/media/frontoffice/p_CHOIXPAIEMENT_cb.gif?cv=78" />
			<img src="http://site36.intportgchange.fr/media/frontoffice/p_CHOIXPAIEMENT_visa.gif?cv=78" />
			<img src="http://site36.intportgchange.fr/media/frontoffice/p_CHOIXPAIEMENT_master.gif?cv=78" />
		</a>
	</div>
</div>

(Si paiement différé)
<div class="panel panel-default">
	<div class="panel-heading">Instructions de paiement</div>
	<dl class="dl-horizontal">
		<dt>Ordre du chèque</dt>
		<dd>RBS</dd>
		<dt>Montant</dt>
		<dd>75,00 €</dd>
		<dt>Adresse d'envoi</dt>
		<dd>
			<address class="no-bottom-margin">
				<strong>Twitter, Inc.</strong><br />
				795 Folsom Ave, Suite 600<br />
				San Francisco, CA 94107<br />
				<abbr title="Phone">P:</abbr> (123) 456-7890
			</address>
		</dd>
	</dl>
</div>
<button class="btn btn-lg btn-primary pull-right">Confirmer la commande</button>

<br /><br />

(Si paiement par carte dans le site)
<div class="panel panel-default">
	<div class="panel-heading">Données bancaires</div>
	<div class="panel-body">
		-- formulaire intégré --
	</div>
</div>

(Si paiement par carte hors site) <br />
<button class="btn btn-lg btn-primary pull-right">Payer</button>