<div class="document-form">
	<page-header document="document" sub-title="{{ i18nAttr(modelKey('Rbs_Collection_Item'), ['ucf']) }}"></page-header>
	<div class="rbs-document-editor rbs-document-editor-rbs-collection-item"></div>
</div>