<div class="document-form" data-ng-controller="Rbs_Website_Menu_FormController">
	<page-header document="document" sub-title="{{ i18nAttr('m.rbs.website.document.menu', ['ucf']) }}"></page-header>
	<div class="document-editor editor-change-website-menu"
		document="document"
		section="section"
		on-save="onSave(document)"
		on-cancel="onCancel()">
	</div>
</div>