<div class="document-form">

	<page-header document="document" sub-title="{{ i18nAttr(modelKey('Rbs_Website_Menu'), ['ucf']) }}"></page-header>

	<rbs-workspace-config>
		<rbs-breadcrumb-config>
			<location href="(= 'Rbs_Website'|rbsURL:'home' =)">{{ i18nAttr('m.rbs.website.admin.js.module-name', ['ucf']) }}</location>
			<location href="(= 'Rbs_Website_Menu'|rbsURL:'list' =)">{{ i18nAttr('m.rbs.website.documents.menu-list', ['ucf']) }}</location>
		</rbs-breadcrumb-config>
	</rbs-workspace-config>

	<div class="rbs-document-editor rbs-document-editor-rbs-website-menu"></div>

</div>