<form name="form" ng-submit="submit()" novalidate="">

	<rbs-field-text
		label="{{ i18nAttr(propertyKey('Rbs_Seo_DocumentSeo', 'metaTitle'), ['ucf']) }}"
		property="metaTitle">
	</rbs-field-text>

	<rbs-field-text
		label="{{ i18nAttr(propertyKey('Rbs_Seo_DocumentSeo', 'metaDescription'), ['ucf']) }}"
		property="metaDescription">
	</rbs-field-text>

	<rbs-field-text
		label="{{ i18nAttr(propertyKey('Rbs_Seo_DocumentSeo', 'metaKeywords'), ['ucf']) }}"
		property="metaKeywords">
	</rbs-field-text>

	<rbs-form-button-bar></rbs-form-button-bar>
</form>