<div class="row">

	<div rbs-aside-column>
		<div class="rbs-aside-block" ng-show="document.target">
			<h3 class="panel-title">{{ i18n(propertyKey('Rbs_Seo_DocumentSeo', 'target'), ['ucf']) }}</h3>
			<rbs-document-preview document="document.target"></rbs-document-preview>
		</div>

		<rbs-aside-editor-menu></rbs-aside-editor-menu>
	</div>

	<div class="document-form" rbs-main-column>

		<rbs-page-header document="document" sub-title="{{ i18nAttr(modelKey('Rbs_Seo_DocumentSeo'), ['ucf']) }}"></rbs-page-header>

		<div ng-switch="editMode">
			<rbs-document-editor ng-switch-when="translate" rbs-document-editor-translate-deprecated="" rbs-document-editor-rbs-seo-document-seo-translate="" ></rbs-document-editor>
			<rbs-document-editor ng-switch-default="" rbs-document-editor-rbs-seo-document-seo=""></rbs-document-editor>
		</div>
	</div>

</div>