<div class="row">

	<div rbs-aside-column>
		<rbs-default-asides-for-list></rbs-default-asides-for-list>
	</div>

	<div rbs-main-column>
		<rbs-page-header title="{{ i18nAttr('m.rbs.seo.documents.documentseo_list', ['ucf']) }}"></rbs-page-header>
		<rbs-document-filter-panel open-by-default="false"
				model="Rbs_Seo_DocumentSeo" filter="filter" ></rbs-document-filter-panel>

		<div rbs-tip="Rbs_Seo_DocumentSeoList">
			{{ i18n('m.rbs.seo.admin.documentseo_list_help') | raw }}
		</div>

		<rbs-document-list data-dlid="DLCollection1" model="Rbs_Seo_DocumentSeo" filter-collection="filter" correction="true">
			<rbs-column name="label" primary="true" label="{{ i18n(propertyKey('Rbs_Seo_DocumentSeo', 'target'), ['ucf']) }}"></rbs-column>
			<rbs-column name="targetModelLabel" label="{{ i18n('m.rbs.seo.documents.documentseo_target_model', ['ucf']) }}"></rbs-column>
		</rbs-document-list>
	</div>

</div>