{% block rbsSocialUse %}
	{% include 'Rbs_Social/social-buttons-directive.twig' %}
{% endblock rbsSocialUse %}

<div data-rbs-social-buttons="" data-shared-title="{{ sharedTitle }}" data-shared-url="{{ sharedUrl }}"></div>