<div class="row">

	<div rbs-aside-column>
		<rbs-default-asides-for-editor id="rbsWebsitePageDefaultAsides"></rbs-default-asides-for-editor>
	</div>
	<div rbs-main-column>
		<div class="document-form">
			<rbs-page-header sub-title="{{ i18nAttr(modelKey('Rbs_Theme_Template'), ['ucf']) }}"></rbs-page-header>

			<rbs-document-editor rbs-document-editor-rbs-theme-template=""></rbs-document-editor>
		</div>
	</div>

</div>