<div class="row">
	<rbs-workspace-config menu="Rbs_Elasticsearch">
		<rbs-breadcrumb-config>
			<rbs-location href="(= 'Rbs_Elasticsearch'|rbsURL:'home' =)">{{ i18n('m.rbs.elasticsearch.admin.module_name', ['ucf']) }}</rbs-location>
			<rbs-location href="(= 'Rbs_Elasticsearch_Facet'|rbsURL:'list' =)">{{ i18n('m.rbs.elasticsearch.admin.facet_list', ['ucf']) }}</rbs-location>
		</rbs-breadcrumb-config>
	</rbs-workspace-config>

	<div rbs-aside-column>
		<rbs-default-asides-for-list></rbs-default-asides-for-list>
	</div>
	<div rbs-main-column>

		<rbs-page-header title="{{ i18nAttr('m.rbs.elasticsearch.admin.facet_list', ['ucf']) }}"></rbs-page-header>

		<rbs-document-filter-panel open-by-default="false"
				model="Rbs_Elasticsearch_Facet" filter="filter" ></rbs-document-filter-panel>

		<rbs-document-list data-dlid="DLRbsElasticsearchFacet" model="Rbs_Elasticsearch_Facet" filter-collection="filter">
			<rbs-column name="label" primary="true"></rbs-column>
			<rbs-column name="fieldName"></rbs-column>
			<rbs-column name="facetType"></rbs-column>
		</rbs-document-list>
	</div>
</div>