<div class="row">

	<div class="document-form" rbs-full-width>
		<rbs-page-header document="document" sub-title="{{ i18nAttr(modelKey('Rbs_Order_Order'), ['ucf']) }}"></rbs-page-header>
		<rbs-document-editor rbs-document-editor-rbs-order-order=""></rbs-document-editor>
	</div>

</div>