<table class="table table-bordered table-condensed table-striped">
	<tr>
		<th>{{ i18n('m.rbs.order.admin.order_shipping_mode', ['ucf']) }}</th>
		<th>{{ i18n('m.rbs.order.admin.order_shipping_lines', ['ucf']) }}</th>
		<th>&nbsp;</th>
	</tr>
	<tr ng-repeat="shipping in shippingData" ng-show="shipping.lines.length > 0">
		<td>(=shippingDetails[shipping.id].label=)</td>
		<td>(=shipping.lines.join(', ')=)</td>
		<td><a class="icon-envelope" title="{{ i18nAttr('m.rbs.order.admin.order_shipping_address', ['ucf']) }}" ng-click="editShippingAddress(shipping.id)"></a></td>
	</tr>
</table>
<div ng-show="showShippingAddressUI">
	<h4><a href="javascript:;" ng-click="showShippingAddressUI = !showShippingAddressUI"><i ng-class="{true: 'icon-chevron-up', false: 'icon-chevron-down'}[showShippingAddressUI]"></i> {{ i18nAttr('m.rbs.order.admin.order_shipping_address', ['ucf', 'lab']) }} (=shippingDetails[editedShippingMode.id].label=)</a></h4>
	<div rbs-order-address=""
		address-documents="addressDocuments"
		address-fields="editedShippingMode.addressFields"
		address="editedShippingMode.address">
	</div>
</div>
