<rbs-links-panel title="{{ i18nAttr('m.rbs.catalog.admin.product_cross_selling', ['ucf']) }}">
	<a url-match-class="" class="list-group-item" href="Rbs/Catalog/Product/(= document.id =)/CrossSellingProductLists/" >{{ i18nAttr('m.rbs.catalog.admin.crosssellingproductlist_crossselling_lists', ['ucf']) }}</a>
</rbs-links-panel>