<rbs-links-panel title="{{ i18nAttr('m.rbs.catalog.admin.product_cross_selling', ['ucf']) }}">
	<a url-match-class="" class="list-group-item" href="(= document | rbsURL:'cross-selling-lists' =)" >{{ i18nAttr('m.rbs.catalog.admin.crosssellingproductlist_crossselling_lists', ['ucf']) }}</a>
</rbs-links-panel>