<div class="row">

	<rbs-workspace-config>
		<rbs-breadcrumb-config>
			<rbs-location href="(= 'Rbs_Order'|rbsURL:'home' =)">{{ i18n('m.rbs.order.admin.module_name', ['ucf']) }}</rbs-location>
			<rbs-location href="(= 'Rbs_Order_Expedition'|rbsURL:'list' =)">{{ i18n('m.rbs.order.admin.expedition_list', ['ucf']) }}</rbs-location>
		</rbs-breadcrumb-config>
	</rbs-workspace-config>

	<div rbs-aside-column>
		<rbs-default-asides-for-editor></rbs-default-asides-for-editor>
	</div>

	<div class="document-form" rbs-main-column>
		<page-header document="document" sub-title="{{ i18nAttr(modelKey('Rbs_Order_Expedition'), ['ucf']) }}"></page-header>

		<div class="rbs-document-editor rbs-document-editor-rbs-order-expedition"></div>
	</div>

</div>