<div class="document-form" data-ng-controller="Change_Theme_Theme_FormController">

	<page-header document="document" sub-title="Thème"></page-header>

	<div class="document-editor editor-change-theme-theme"
		document="document"
		section="section"
		on-save="onSave(document)"
		on-cancel="onCancel()">
	</div>

</div>