<div class="row">
	<div class="not-editable-zone col-md-2">shortStore</div>
	<div class="not-editable-zone col-md-2">switchLang</div>
	<div class="col-md-4"></div>
	<div class="not-editable-zone col-md-2">accountShort</div>
	<div class="not-editable-zone col-md-2">shortCart</div>
</div>
<div class="row">
	<div class="not-editable-zone col-md-12">mainMenu</div>
</div>
<div class="row">
	<div class="not-editable-zone col-md-9">thread</div>
	<div class="not-editable-zone col-md-3">search</div>
</div>
<div class="row">
	<div class="not-editable-cell col-md-3">
		<div class="not-editable-zone">contextualMenu</div>
		<div data-editable-zone-id="sidebarContent"></div>
	</div>
	<div data-editable-zone-id="mainContent" class="col-md-9"></div>
</div>
<div class="row">
	<div class="not-editable-zone col-md-3">storeSelector</div>
	<div class="col-md-9"></div>
</div>
