<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
{% for headLine in pageResult.head %}
	{{ headLine|raw }}
{% endfor %}
	<link rel="icon" type="image/png" href="Theme/Rbs/Base/img/favicon.png" />
	<link rel="stylesheet" href="Theme/Rbs/Base/css/screen.css" type="text/css" />
	<script src="Theme/Rbs/Base/js/bootstrap.min.js" type="text/javascript"></script>
</head>
<body>
<header>
	<div class="navbar navbar-fixed-top">
		<div class="navbar-inner">
			<div class="container">
				<a class="brand logo" href="/">
					<img src="Theme/Rbs/Base/img/logo.png" alt="" />
				</a>
			</div>
		</div>
	</div>
</header>
<section id="subintro">
	<div class="jumbotron subhead" id="overview">
		<div class="container">
			<div class="row">
				<div class="span12">
					<div class="centered">
						<h3>Erreur</h3>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<section id="maincontent">
<!-- mainContent -->
</section>
</body>
</html>