<div ng-controller="Rbs_Media_Menu_Controller">
	<div class="nav-list">

		<form class="rbs-form-simple-filter" filter="filterTags"></form>

		<!--div>
			<button ng-animate="'menu-animate'" ng-repeat="tag in tags | filter:filterTags | orderBy:'count':true" class="tag tag-menu (= tag.color =)" type="button"><span class="text">(= tag.label =)</span><span class="count">(= tag.count | number =)</span></button>
		</div-->

		<!--div>
			<button ng-animate="'menu-animate'" ng-repeat="tag in tags | filter:filterTags | orderBy:'count':true" class="btn btn-small btn-block" type="button" style="text-align: left; padding-left: 5px">
				<i class="icon-circle" style="color: #a4c644;"></i>
				(= tag.label =)
			</button>
		</div-->

		<div>
			<span ng-animate="'scale-animation'" rbs-tag="tag" ng-repeat="tag in tags | filter:{'label':filterTags} | orderBy:'label'"></span>
		</div>

		<hr/>

		<a href="Rbs/Tag">Gérer les étiquettes <i class="icon-circle-arrow-right"></i></a>
	</div>
</div>