<div>
	<ul class="nav nav-list">
		<li class="nav-header">{{ i18n('m.rbs.admin.contents', ['ucf']) }}</li>
		<li><a href="Rbs/Media/Image"><i class="icon-home"></i> {{ i18n('m.rbs.media.document.image-list', ['ucf']) }}</a></li>
	</ul>
</div>