<rbs-links-panel title="{{ i18nAttr('m.rbs.seo.admin.module_name', ['ucf']) }}">
	<a rbs-active-route="" href="Rbs/Seo/DocumentSeo/" class="rbs-panel-link">{{ i18nAttr('m.rbs.seo.documents.documentseo_list', ['ucf']) }}</a>
	<a rbs-active-route="" href="Rbs/Seo/ModelConfiguration/" class="rbs-panel-link">{{ i18nAttr('m.rbs.seo.documents.modelconfiguration_list', ['ucf']) }}</a>
	<a rbs-active-route="" href="Rbs/Seo/Sitemap/" class="rbs-panel-link">{{ i18nAttr('m.rbs.seo.documents.sitemapconfiguration_list', ['ucf']) }}</a>
</rbs-links-panel>
