{% extends 'Rbs_Geo/Blocks/manage-addresses-list.twig' %}
{% block defaultAddresses %}
	<p>
	<div data-ng-show="address.default.shipping">
		<span class="glyphicon glyphicon-plane"></span>
		{{ i18n('m.rbs.commerce.front.by_shipping_default', ['ucf']) }}
	</div>
	<button data-ng-hide="address.default.shipping" class="btn btn-sm btn-default"
			data-ng-click="setDefaultAddress(address, 'shipping')">
		<span class="glyphicon glyphicon-plane text-muted"></span>
		{{ i18n('m.rbs.commerce.front.button_set_shipping_default', ['ucf']) }}
	</button>
	</p>

	<p>
	<div data-ng-show="address.default.billing">
		<span class="glyphicon glyphicon-credit-card"></span>
		{{ i18n('m.rbs.commerce.front.by_billing_default', ['ucf']) }}
	</div>
	<button data-ng-hide="address.default.billing" class="btn btn-sm btn-default"
			data-ng-click="setDefaultAddress(address, 'billing')">
		<span class="glyphicon glyphicon-credit-card text-muted"></span>
		{{ i18n('m.rbs.commerce.front.button_set_billing_default', ['ucf']) }}
	</button>
	</p>
{% endblock %}