<h2>{{ i18n('m.rbs.commerce.front.payment_confirmation', ['ucf']) }}</h2>

<div class="panel panel-success">
	<div class="panel-heading">{{ i18n('m.rbs.commerce.front.payment_done', ['ucf']) }}</div>
	<div class="panel-body">{{ i18n('m.rbs.commerce.front.payment_confirmation_success', ['ucf']) }}</div>
</div>