<div class="document-form" data-ng-controller="Rbs_Geo_TerritorialUnit_FormController">
	<page-header document="document" sub-title="{{ i18nAttr('m.rbs.geo.document.territorialunit', ['ucf']) }}"></page-header>
	<div class="document-editor editor-rbs-geo-territorialunit"
		document="document"
		section="section"
		on-save="onSave(document)"
		on-cancel="onCancel()">
	</div>
</div>