<rbs-links-panel title="{{ i18nAttr('m.rbs.seo.admin.js.module-name', ['ucf']) }}" icon="icon-list-alt">
	<a href="Rbs/Seo/DocumentSeo/" class="rbs-panel-link" icon="icon-bar-chart">{{ i18nAttr('m.rbs.seo.documents.documentseo-list', ['ucf']) }}</a>
	<a href="Rbs/Seo/Configuration/"><i class="icon-bar-chart"></i> {{ i18nAttr('m.rbs.seo.admin.configuration', ['ucf']) }}</a>
</rbs-links-panel>
