<div>
	<ul class="nav nav-list">
		<li class="nav-header">{{ i18nAttr('m.rbs.seo.admin.js.module-name', ['ucf']) }}</li>
		<li><a href="Rbs/Seo/DocumentSeo/"><i class="icon-list-alt"></i> {{ i18nAttr('m.rbs.seo.documents.documentseo-list', ['ucf']) }}</a></li>
	</ul>
</div>