<ul class="nav nav-pills">
	<li draggable="true" class="menu-item-function"><a href="javascript:;">
		<i class="icon-print"></i> {{ i18n('m.rbs.website.admin.menu_function_print_page', ['ucf']) }}
	</a></li>
	<li draggable="true" class="menu-item-function"><a href="javascript:;">
		<i class="icon-hand-right"></i> {{ i18n('m.rbs.website.admin.menu_function_go_to_content', ['ucf']) }}
	</a></li>
	<li draggable="true" class="menu-item-function"><a href="javascript:;">
		<i class="icon-star"></i> {{ i18n('m.rbs.website.admin.menu_function_bookmark_page', ['ucf']) }}
	</a></li>
</ul>