<div class="document-form">

	<rbs-workspace-config menu="Rbs_Price">
		<rbs-breadcrumb-config>
			<location href="(= 'Rbs_Price'|rbsURL:'home' =)">{{ i18n('m.rbs.price.admin.js.module-name', ['ucf']) }}</location>
			<location href="(= 'Rbs_Price_Tax'|rbsURL:'list' =)">{{ i18n('m.rbs.price.admin.js.tax-list', ['ucf']) }}</location>
		</rbs-breadcrumb-config>
	</rbs-workspace-config>

	<page-header document="document" sub-title="{{ i18nAttr(modelKey('Rbs_Price_Tax'), ['ucf']) }}"></page-header>
	<div class="rbs-document-editor rbs-document-editor-rbs-price-tax"></div>

</div>