<div>

	<rbs-workspace-config menu="Rbs_Price">
		<rbs-breadcrumb-config>
			<location href="(= 'Rbs_Price'|rbsURL:'home' =)">{{ i18n('m.rbs.price.admin.js.module-name', ['ucf']) }}</location>
			<location href="(= 'Rbs_Price_Tax'|rbsURL:'list' =)">{{ i18n('m.rbs.price.admin.js.tax-list', ['ucf']) }}</location>
		</rbs-breadcrumb-config>
	</rbs-workspace-config>

	<page-header title="{{ i18nAttr('m.rbs.price.admin.js.tax-list', ['ucf']) }}"></page-header>
	<search-filters model="Rbs_Price_Tax" filter-query="query" text-search="textSearch"></search-filters>

	<div class="add-elements-bar">
		<a href ng-href="(= 'Rbs_Price_Tax' | documentURL:'new' =)">{{ i18n('m.rbs.price.admin.js.tax-create', ['ucf']) }}</a>
	</div>

	<rbs-document-list data-dlid="DLRbsPriceTax"
	               model="Rbs_Price_Tax"
	               filter-query="query">
		<column name="label" primary="true"></column>
	</rbs-document-list>

</div>