<div>
	<ul class="nav nav-list">
		<li class="nav-header">{{ i18n('m.rbs.admin.contents', ['ucf']) }}</li>
		<li><a href="Rbs/Store/WebStore/"><i class="icon-list-alt"></i> {{ i18n('m.rbs.store.documents.webstore-list', ['ucf']) }}</a></li>
	</ul>
</div>