<rbs-links-panel title="{{ i18nAttr('m.rbs.admin.contents', ['ucf']) }}" icon="icon-list-alt">
	<a href="Rbs/Store/WebStore/" class="rbs-panel-link">{{ i18n('m.rbs.store.documents.webstore-list', ['ucf']) }}</a>
</rbs-links-panel>
