<!DOCTYPE html>
<html>
<head>
{% for headLine in pageResult.head %}
		{{ headLine|raw }}
{% endfor %}
	<link rel="icon" type="image/png" href="Theme/Change/Default/img/favicon.png" />
	<link rel="stylesheet" href="Theme/Change/Default/css/bootstrap.min.css" type="text/css" />
	<link rel="stylesheet" href="Theme/Change/Default/css/bootstrap-responsive.min.css" type="text/css" />
	<script src="Theme/Change/Default/js/bootstrap.min.js" type="text/javascript"></script>
</head>
<body>
<!-- zoneEditable1 -->
</body>
</html>