<!DOCTYPE html>
<html>
<head>
{% for headLine in pageResult.head %}
		{{ headLine|raw }}
{% endfor %}
	<link rel="icon" type="image/png" href="Theme/Change/Default/img/favicon.png"/>
	<link rel="stylesheet" href="Theme/Change/Default/css/bootstrap.min.css"/>
	<link rel="stylesheet" href="Theme/Change/Default/css/bootstrap-responsive.min.css"/>
</head>
<body>
<!-- zoneEditable1 -->
</body>
</html>