<nav id="mp-menu" class="mp-menu" ng-controller="Rbs_MainMenu_Controller">
	<div class="mp-level">
		<h2>{{ i18n('m.rbs.admin.admin.main_menu', ['ucf']) }}</h2>
		<a class="mp-back" href="javascript:;">{{ i18n('m.rbs.admin.admin.close') }} <i class="icon icon-remove"></i></a>
		<ul>
			<li><a href="./"><i class="pull-right icon icon-large icon-tasks"></i> {{ i18n('m.rbs.admin.admin.dashboard', ['ucf']) }}</a></li>
			<li ng-repeat="s in menu.sections | orderBy:'index'">
				<a href="javascript:;" class="category"><i class="pull-right icon-large icon (= s.icon =)"></i><i class="icon icon-chevron-left"></i> (= s.label =)</a>
				<div class="mp-level">
					<h2><i class="icon (= s.icon =)"></i> (= s.label =)</h2>
					<a class="mp-back" href="javascript:;">{{ i18n('m.rbs.admin.admin.main_menu', ['ucf']) }} <i class="icon icon-chevron-right"></i></a>
					<ul>
						<li class="repeat-animation" ng-repeat="m in menu.entries | filter:{'section':s.code} | filter:filterModules"><a href ng-href="(= m.url =)" ng-bind-html="m.label"></a></li>
					</ul>
				</div>
			</li>
		</ul>

	</div>
</nav>