<div>
	<div class="form-group">
		<label class="control-label (= labelClass =)" for="Rbs_Website_Richtext_contentType">{{ i18n('m.rbs.website.admin.richtext_content', ['ucf']) }}</label>
		<div class="controls (= controlsClass =)">
			<rbs-rich-text-input id="Rbs_Website_Richtext_content" ng-model="blockParameters.content"></rbs-rich-text-input>
		</div>
	</div>
</div>