<div class="row" ng-controller="Rbs_Theme_HeaderController">
	<div rbs-aside-column>
		<rbs-default-asides-for-list></rbs-default-asides-for-list>
	</div>
	<div rbs-main-column>
		<nav class="navbar navbar-default" role="navigation">
			<form class="navbar-form navbar-left">
				<div class="form-group">
					<select ng-model="currentTheme" ng-options="t.label for t in themes" class="form-control"></select>
				</div>
			</form>
			<ul class="nav navbar-nav" ng-if="currentTheme">
				<li class="active"><a href ng-href="(= currentTheme | rbsURL:'pagetemplates' =)"><i class="icon-file-text"></i> {{ i18n('m.rbs.theme.admin.theme_page_templates', ['ucf']) }}</a></li>
				<li><a href ng-href="(= currentTheme | rbsURL:'mailtemplates' =)"><i class="icon-envelope"></i> {{ i18n('m.rbs.theme.admin.theme_mail_templates', ['ucf']) }}</a></li>
			</ul>
		</nav>

		<div ng-controller="Rbs_Theme_PageTemplatesController">
			<div rbs-full-width>
				<rbs-document-list data-dlid="DLThemePageTemplate1" model="Rbs_Theme_Template" filter-query="query" load-query="listLoadQuery"
						activable="true" correction="true" filter-collection="filter">
					<rbs-column name="label" primary="true"></rbs-column>
				</rbs-document-list>
			</div>
		</div>
	</div>
</div>