<div class="row">

	<div rbs-aside-column>
		<rbs-default-asides-for-editor></rbs-default-asides-for-editor>
		<rbs-links-panel>
			<a rbs-active-route="" rbs-panel-link="" href ng-href="(= document | rbsURL:'tree' =)">{{ i18nAttr('m.rbs.theme.admin.template_list', ['ucf']) }}</a>
		</rbs-links-panel>

	</div>

	<div class="document-form" rbs-main-column>
		<rbs-page-header document="document" sub-title="{{ i18nAttr(modelKey('Rbs_Theme_Theme'), ['ucf']) }}"></rbs-page-header>
		<rbs-document-editor rbs-document-editor-rbs-theme-theme=""></rbs-document-editor>
	</div>

</div>