<div class="row">

	<rbs-workspace-config menu="Rbs_Theme">
		<rbs-breadcrumb-config>
			<location href="(= 'Rbs_Theme'|rbsURL:'home' =)">{{ i18n('m.rbs.theme.admin.module_name', ['ucf']) }}</location>
		</rbs-breadcrumb-config>
	</rbs-workspace-config>

	<div rbs-aside-column>
		<rbs-default-asides-for-list></rbs-default-asides-for-list>
	</div>

	<div rbs-main-column>
		<page-header title="{{ i18nAttr('m.rbs.theme.admin.theme_list', ['ucf']) }}"></page-header>
		<search-filters model="Rbs_Theme_Theme" filter-query="query" text-search="textSearch"></search-filters>

		<rbs-document-list data-dlid="DLRbsThemeList" model="Rbs_Theme_Theme" activable="true" filter-query="query">
			<column name="label" primary="true"></column>
			<column name="themes" label="{{ i18nAttr('m.rbs.theme.admin.pagetemplate_list', ['ucf']) }}">
				<a href ng-href="(= doc | documentURL:'tree' =)">{{ i18n('m.rbs.theme.admin.theme_list_pagetemplates', ['ucf']) }} <i class="icon-circle-arrow-right"></i></a>
			</column>
		</rbs-document-list>
	</div>

</div>