<div ng-controller="Rbs_Theme_PageTemplatesController">

	<div rbs-full-width>

		<rbs-document-list data-dlid="DLThemePageTemplate1" model="Rbs_Theme_Template" filter-query="query" load-query="listLoadQuery"
			activable="true" correction="true" filter-collection="filter" parent-property="theme">
			<rbs-column name="label" primary="true"></rbs-column>
		</rbs-document-list>
	</div>
</div>