<div ng-controller="Rbs_Theme_PageTemplatesController">

	<div rbs-full-width>

		<rbs-document-list data-dlid="DLThemeTemplate1" model="Rbs_Theme_Template" collection="listLoadQuery"
			activable="true" correction="true" filter-collection="filter" parent-property="theme">
			<rbs-column name="label" primary="true"></rbs-column>
		</rbs-document-list>
	</div>
</div>