<div class="panel panel-default" ng-controller="Rbs_Media_Menu_Controller">

	<div class="panel-heading">
		<h3 class="panel-title">{{ i18n('m.rbs.admin.admin.menu_title', ['ucf']) }}</h3>
	</div>

	<div class="panel-body">
		{{ i18n('m.rbs.admin.admin.menu_contents') }}
	</div>

	<div class="panel-footer">
		<a href="" ng-href="(=document.url()=)"><i class="icon-circle-arrow-left"></i> {{ i18n('m.rbs.admin.admin.back_to_editor', ['ucf']) }}</a>
	</div>

</div>