<div>
	<ul class="nav nav-list">
		<li class="nav-header">{{ i18n('m.rbs.admin.workflow.menu-title', ['ucf']) }}</li>
	</ul>

	<div class="nav-list">{{ i18n('m.rbs.admin.workflow.menu-contents') }}</div>

	<ul class="nav nav-list">
		<li><a href="" ng-href="(=document.url()=)">
			<i class="icon-circle-arrow-left"></i> {{ i18n('m.rbs.admin.workflow.back-to-editor', ['ucf']) }}
		</a></li>
	</ul>
</div>