<div>
	<ul class="nav nav-list">
		<li class="nav-header">{{ i18n('m.rbs.admin.contents', ['ucf']) }}</li>
		<li><a href="Rbs/Payment/Connector/"><i class="icon-list-alt"></i> {{ i18n('m.rbs.payment.admin.js.connector-list', ['ucf']) }}</a></li>
		<li><a href="Rbs/Payment/Transaction/"><i class="icon-list-alt"></i> {{ i18n('m.rbs.payment.admin.js.transaction-list', ['ucf']) }}</a></li>
	</ul>
</div>