<div>
	<rbs-field-text label="{{ i18nAttr('m.rbs.simpleform.admin.field_parameters_place_holder', ['ucf']) }}"
		property="document.parameters.placeHolder">
		<div class="help-block">{{ i18nAttr('m.rbs.simpleform.admin.field_parameters_place_holder_help', ['ucf']) }}</div>
	</rbs-field-text>

	<rbs-field-rich-text label="{{ i18nAttr('m.rbs.simpleform.documents.field_helptext', ['ucf']) }}"
		property="document.helpText">
	</rbs-field-rich-text>
</div>