<div class="navbar navbar-inverse" id="mainNavbar">
    <div class="navbar-inner">
        <div class="container">
            <a class="brand" href="home" title="Retourner à l'écran d'accueil"><img src="Change/Admin/img/logo-rbs-change@2x.png" width="170" height="30" alt="Logo de RBS Change"></a> <a
                    class="btn btn-navbar" data-toggle="collapse"
                    data-target=".nav-collapse"> <span class="icon-bar"></span> <span
                        class="icon-bar"></span> <span class="icon-bar"></span>
            </a>
            <ul class="nav notifications">
                <li class="dropdown">
                </li>
            </ul>

            <ul class="nav">
                <li><a href="Change/Website/Website" data-ui-search="accueil,home,wysiwyg,éditeur,editeur,rubriques">Sites et pages</a></li>
                <li><a href="Change/Theme/PageTemplate" data-ui-search="thèmes,modèles,templates">Thèmes</a></li>
            </ul>

            <div class="nav-collapse">

                <form action="javascript:;" data-toggle="dropdown" onsubmit="$.rbschange.navigation.go('search/' + $('#globalSearchInput').val()); return false;" class="navbar-search pull-left">
                    <input accesskey="4" type="text" placeholder="Rechercher..." class="search-query span2" id="globalSearchInput" value=""/>
                    <ul class="dropdown-menu" id="globalSearchInputDropDown" style="z-index:3000"></ul>
                </form>

                <ul class="nav pull-right">
                    <li class="dropdown"><a data-toggle="dropdown"
                                            class="dropdown-toggle" href="javascript:;"><i class="icon-user"></i> (= user.label =) <b class="caret"></b></a>
                        <ul class="dropdown-menu">
	                        <li><a href ng-href="(= user.url() =)" data-ui-search="profile"><i class="icon-user"></i> Profil</a></li>
	                        <li><a href="javascript:;" data-ng-click="logout()" data-ui-search="logout"><i class="icon-signout"></i> Déconnexion</a></li>
                        </ul>
                    </li>
                </ul>

                <ul class="nav pull-right">
                    <li class="dropdown"><a data-toggle="dropdown"
                                            class="dropdown-toggle" href="javascript:;">Outils <b class="caret"></b></a>
                        <ul class="dropdown-menu">
	                        <li><a href="Change/Users/User"><i class="icon-user"></i> Utilisateurs</a></li>
	                        <li class="divider"></li>
                            <li><a href="javascript:;" full-screen-toggle><i class="icon-fullscreen"></i> Mode plein écran</a></li>
                            <li class="divider"></li>
                            <li><a href="about" data-ui-search="about,info,version,rbs,change"><i class="icon-info-sign"></i> &Agrave; propos de RBS Change</a></li>
                        </ul>
                    </li>
                </ul>

            </div>
        </div>
    </div>
</div>
