<div data-ng-controller="Rbs_Website_SectionFunctionsController">
	<page-header sub-title="{{ i18nAttr('m.rbs.website.document.sectionpagefunction-list', ['ucf']) }}"></page-header>

	<div>
		<a href ng-href="(= document | documentURL:'tree' =)"><i class="icon-arrow-left"></i> Retourner à (= document.label =)</a>
	</div>

	<div rbs-tip="Rbs_Website_SectionFunctionsList">
		{{ i18n('m.rbs.website.document.sectionpagefunction.section-functions-list-tip', ['ucf']) }}
	</div>

	<div class="well well-small">
		<h4>Ajouter des fonctions à cette section</h4>

		<select class="input-block-level" size="10"
		        ng-model="selectedFunction"
		        ng-options="func.code as func.label+' ('+func.code+') ('+func.usage+')' for func in allFunctions">
			<option value="">Sélectionner une fonction...</option>
		</select>

		<div ng-show="selectedFunction">
			<div class="alert alert-danger margin-top" ng-show="isFunctionAlreadyUsed(selectedFunction)">
				Cette fonction est déjà présente dans cette section.
			</div>

			<div ng-hide="isFunctionAlreadyUsed(selectedFunction)">
				<div class="alert alert-danger margin-top" ng-show="pagesForFunction.length == 0">
					Aucune page ne remplit la fonction sélectionnée.
				</div>

				<div ng-show="pagesForFunction.length">
					<h5>Liste des pages remplissant la fonction choisie :</h5>
					<select class="input-block-level" size="10"
					        ng-model="selectedPage"
					        ng-options="page.label+' ('+page.website+')' for page in pagesForFunction">
					</select>
					<div>
						La page peut aussi remplir les fonctions suivantes :
						<select class="input-block-level" size="10"
						        multiple="multiple"
						        ng-model="extraFunctions"
						        ng-options="func.code as func.label+' ('+func.code+') ('+func.usage+')' for func in selectedPage.functions">
						</select>
					</div>
				</div>
			</div>
		</div>

		<button ng-disabled="! selectedFunction || ! selectedPage" type="button" class="btn btn-success" ng-click="addSectionFunction(selectedFunction, selectedPage, extraFunctions)">Ajouter</button>

	</div>


	<div class="well well-small" ng-hide="indexFunctionExists">
		Page d'index :
		<div class="document-picker-single" ng-model="toto.indexPage" accepted-model="Rbs_Website_Page"></div>
		<button ng-disabled="! toto.indexPage" type="button" class="btn btn-success" ng-click="setIndexPage(toto.indexPage)">Définir</button>
	</div>


	<rbs-document-list data-dlid="DLRbsWebsiteSectionFunctions"
	                   model="Rbs_Website_SectionPageFunction"
	                   filter-query="query"
	                   collection="sectionPageFunctionList"
	                   disable-pagination="true"
	                   actions="delete"
	                   on-reload="reload()">

		<quick-actions>[action delete]</quick-actions>

		<column name="functionCode" primary="true" converter-params="Rbs_Website_AvailablePageFunctions" converter="collection">
			<strong ng-if="doc.functionCode == 'Rbs_Website_Section'">{{ i18n('m.rbs.website.functions.index-page', ['ucf']) }}</strong>
			<strong ng-if="doc.functionCode != 'Rbs_Website_Section'">(= converted(doc.functionCode) =)</strong><br/>
			<em class="muted">(= doc.functionCode =)</em>
		</column>
		<column name="page.label">
			<span ng-if="doc.page">(= doc.page.label =)</span>
			<span ng-if="! doc.page"><i class="icon-warning-sign"></i> Aucune page définie</span>
		</column>

	</rbs-document-list>

</div>