<form name="form" ng-submit="submit()" novalidate="">

	<rbs-field-text
			property="title"
			label="{{ i18nAttr(propertyKey('Rbs_Geo_Country', 'title'), ['ucf']) }}"
			input-class="input-block-level">
	</rbs-field-text>

	<form-button-bar></form-button-bar>

</form>