<div data-ng-controller="Rbs_Geo_Country_ListController">
	<page-header sub-title="{{ i18nAttr('m.rbs.geo.document.country-list', ['ucf']) }}"></page-header>
	<search-filters model="Rbs_Geo_Country" query="query" text-search="textSearch"></search-filters>

	<div>
		<a href="Rbs/Geo/Country/new">{{ i18n('m.rbs.geo.document.country-create', ['ucf']) }}</a>
	</div>

	<document-list data-dlid="DLGeoCountry" publishable="false" model="Rbs_Geo_Country" query="query">
		<column name="label" label="{{ i18n('m.rbs.geo.document.country.label', ['ucf']) }}" primary="true"></column>
	</document-list>
</div>