<div class="document-form" data-ng-controller="Change_Brand_Brand_FormController">
	<page-header document="document" sub-title="{{ i18nAttr('m.change.brand.document.brand.document-name', ['ucf']) }}"></page-header>
	<div class="document-editor editor-change-brand-brand"
		document="document"
		section="section"
		on-save="onSave(document)"
		on-cancel="onCancel()">
	</div>
</div>