<div class="row">

	<rbs-workspace-config menu="Rbs_Price">
		<rbs-breadcrumb-config>
			<location href="(= 'Rbs_Price'|rbsURL:'home' =)">{{ i18n('m.rbs.price.admin.module_name', ['ucf']) }}</location>
			<location href="(= 'Rbs_Price_Fee'|rbsURL:'list' =)">{{ i18n('m.rbs.price.admin.fee_list', ['ucf']) }}</location>
		</rbs-breadcrumb-config>
	</rbs-workspace-config>

	<div rbs-aside-column>
		<rbs-default-asides-for-editor></rbs-default-asides-for-editor>
	</div>

	<div class="document-form" rbs-main-column>
		<page-header document="document" sub-title="{{ i18nAttr(modelKey('Rbs_Price_Fee'), ['ucf']) }}"></page-header>
		<div class="rbs-document-editor rbs-document-editor-rbs-price-fee"></div>
	</div>
</div>