<div data-ng-controller="Rbs_Website_FunctionalPage_ListController">
	<page-header title="{{ i18nAttr('m.rbs.website.document.functionalpage-list', ['ucf']) }}"></page-header>

	<div rbs-tip="Rbs_Website_FunctionalPageListHeader">
		{{ i18n('m.rbs.website.document.functionalpage.functional-page-list-help') }}
	</div>

	<search-filters model="Rbs_Website_FunctionalPage" filter-query="query" text-search="textSearch"></search-filters>

	<div>
		<a href ng-href="(= 'Rbs_Website_FunctionalPage' | documentURL:'new' =)">{{ i18n('m.rbs.website.document.functionalpage-create', ['ucf']) }}</a>
	</div>

	<rbs-document-list data-dlid="DLRbsWebsiteFunctionalPage"
	                   publishable="true"
	                   model="Rbs_Website_FunctionalPage"
	                   filter-query="query"
	                   actions="default">

		<column name="icon" width="30px" align="center">
			<span class="iconoverlay">
				<i class="icon-2x icon-file"></i>
			</span>
		</column>

		<column name="label" primary="true">
			<strong><a href ng-href="(= doc | documentURL:'editor' =)">(=doc.label=)</a></strong>
		</column>

		<column name="allowedFunctionsCode">
			<div ng-if="doc.allowedFunctionsCode">
				<div class="label" ng-repeat="func in doc.allowedFunctionsCode">(= func =)</div>
			</div>
			<div ng-if="! doc.allowedFunctionsCode">
				<a href ng-href="(= doc|documentURL:'form' =)?section=functions"><i class="icon-cog"></i> {{ i18n('m.rbs.website.document.functionalpage.configure-functions', ['ucf']) }}</a>
			</div>
		</column>

	</rbs-document-list>
</div>