<rbs-links-panel title="{{ i18nAttr('m.rbs.timeline.admin.message_list') }}" icon="icon-comment-alt">
	<a url-match-class="" class="list-group-item" href="javascript:;" ng-href="(= document | rbsURL:'timeline' =)">{{ i18nAttr('m.rbs.timeline.admin.message_list') }}</a>
</rbs-links-panel>