<div>
	<div class="leave-message">
		<div data-rbs-tip="RbsTimelineMentionUsers" class="margin-top">
			{{ i18n('m.rbs.timeline.admin.leave_a_message_helper', ['ucf']) | raw }}
		</div>
		<rbs-rich-text-input ng-model="data.newMessage" context-key="(= 'timeline_' + document.id + '_newMessage' =)"
			class="input-block-level" profile="Admin">
		</rbs-rich-text-input>
		<p class="btn-toolbar margin-top">
			<button type="button" data-ng-click="sendMessage()" data-ng-disabled="!canSendMessage()" class="btn btn-primary">
				<i class="icon-ok"></i> {{ i18n('m.rbs.timeline.admin.leave_a_message_submit', ['ucf']) }}
			</button>
		</p>
	</div>
	<hr/>
	<div>
		<div data-role="message-list">
			<rbs-timeline-message ng-repeat="message in timelineMessages" message="message"></rbs-timeline-message>
		</div>
	</div>
</div>