<div class="row" data-ng-controller="RbsChangeTimelineController" data-ng-init="model = '{{ query.model }}'">
	<div data-rbs-aside-column="">
		<div class="rbs-aside-block" data-ng-show="document">
			<h3 class="panel-title">{{ i18n('m.rbs.timeline.admin.concerned_document', ['ucf']) }}</h3>
			<rbs-document-preview document="document"></rbs-document-preview>
		</div>
	</div>
	<div data-rbs-main-column>
		<rbs-page-header sub-title="Discussion"></rbs-page-header>
		<div data-rbs-timeline=""></div>
	</div>
</div>