<rbs-links-panel title="{{ i18n('m.rbs.admin.admin.administration', ['ucf']) }}" icon="icon-cog">
	<a rbs-active-route="" href="Rbs/Elasticsearch/FullText/" rbs-panel-link="">{{ i18n('m.rbs.elasticsearch.admin.fulltext_list', ['ucf']) }}</a>
	<a rbs-active-route="" href="Rbs/Elasticsearch/Facet/" rbs-panel-link="">{{ i18n('m.rbs.elasticsearch.admin.facet_list', ['ucf']) }}</a>
	<a rbs-active-route="" href="Rbs/Elasticsearch/FacetGroup/" rbs-panel-link="">{{ i18n('m.rbs.elasticsearch.admin.facetgroup_list', ['ucf']) }}</a>
</rbs-links-panel>