<rbs-links-panel title="{{ i18n('m.rbs.admin.admin.administration', ['ucf']) }}" icon="icon-cog">
	<a rbs-active-route="" href="Rbs/Elasticsearch/Index/" rbs-panel-link="">{{ i18n('m.rbs.elasticsearch.admin.index_list', ['ucf']) }}</a>
	<a rbs-active-route="" href="Rbs/Elasticsearch/Facet/" rbs-panel-link="">{{ i18n('m.rbs.elasticsearch.admin.facet_list', ['ucf']) }}</a>
</rbs-links-panel>