<rbs-links-panel title="{{ i18nAttr('m.rbs.admin.admin.contents', ['ucf']) }}" icon="icon-list-alt">
	<a rbs-active-route="" href="Rbs/Elasticsearch/FullText/" class="rbs-panel-link">{{ i18n('m.rbs.elasticsearch.admin.fulltext_list', ['ucf']) }}</a>
</rbs-links-panel>

<rbs-links-panel title="{{ i18n('m.rbs.admin.admin.administration', ['ucf']) }}" icon="icon-cog">
	<a rbs-active-route="" href="Rbs/Elasticsearch/FacetGroup/" class="rbs-panel-link">{{ i18n('m.rbs.elasticsearch.admin.facetgroup_list', ['ucf']) }}</a>
</rbs-links-panel>