<form name="form" ng-submit="submit()" novalidate="">

	<rbs-field-text property="title" label="{{ i18nAttr(propertyKey('Rbs_Geo_Country', 'title'), ['ucf']) }}">
	</rbs-field-text>

	<rbs-form-button-bar></rbs-form-button-bar>

</form>