<div class="row">
	<div data-rbs-aside-column="">
		{% include '@Rbs_Admin/view/asides.twig' %}
		{% include '@Rbs_Admin/view/links.twig' %}
	</div>

	<div data-rbs-main-column="">
		<rbs-page-header title="{{ i18nAttr('m.rbs.geo.admin.country_list', ['ucf']) }}"></rbs-page-header>
		<rbs-document-filter-panel open-by-default="false"
				model="Rbs_Geo_Country" filter="filter" ></rbs-document-filter-panel>

		<div class="add-elements-bar">
			<div class="add-elements-bar">
				{% for newDocumentLink in attributes['newDocumentLinks'] %}
					<a href="javascript:;" data-ng-href="(= '{{ newDocumentLink.modelName }}' | rbsURL:'new' =)">
						{{ newDocumentLink.label }}
					</a>
				{% endfor %}
			</div>
		</div>

		<rbs-document-list data-dlid="DLGeoCountry" model="Rbs_Geo_Country" filter-collection="filter" activable="true">
			<rbs-column name="label" primary="true"></rbs-column>
			<rbs-column name="code"></rbs-column>
		</rbs-document-list>
	</div>
</div>