<rbs-links-panel title="{{ i18nAttr('m.rbs.admin.admin.contents', ['ucf']) }}" icon="icon-list-alt">
	<a href="Rbs/Payment/Connector/" class="rbs-panel-link">{{ i18n('m.rbs.payment.admin.connector_list', ['ucf']) }}</a>
	<a href="Rbs/Payment/Transaction/" class="rbs-panel-link">{{ i18n('m.rbs.payment.admin.transaction_list', ['ucf']) }}</a>
</rbs-links-panel>