<div class="document-form">
	<page-header document="document" sub-title="{{ i18nAttr(modelKey('Rbs_Website_Topic'), ['ucf']) }}"></page-header>

	<rbs-workspace-config>
		<rbs-breadcrumb-config>
			<location href="(= 'Rbs_Website'|rbsURL:'home' =)">{{ i18n('m.rbs.website.admin.module_name', ['ucf']) }}</location>
			<location href="(= 'Rbs_Website_Topic'|rbsURL:'nav' =)">{{ i18n('m.rbs.website.admin.topic_list', ['ucf']) }}</location>
		</rbs-breadcrumb-config>
	</rbs-workspace-config>

	<div ng-switch="editMode">
		<div ng-switch-when="translate" class="rbs-document-editor rbs-document-editor-translate rbs-document-editor-rbs-website-topic-translate"></div>
		<div ng-switch-default="" class="rbs-document-editor rbs-document-editor-rbs-website-topic"></div>
	</div>
</div>