<div class="row">

	<div rbs-aside-column>
		<rbs-default-asides-for-editor></rbs-default-asides-for-editor>
		<rbs-links-panel>
			<a rbs-active-route="" rbs-panel-link="" href ng-href="(= document | rbsURL:'tree' =)">{{ i18nAttr('m.rbs.website.admin.website_go_to_tree', ['ucf']) }}</a>
		</rbs-links-panel>
	</div>

	<div class="document-form" rbs-main-column>
		<rbs-page-header document="document" sub-title="{{ i18nAttr(modelKey('Rbs_Website_Topic'), ['ucf']) }}"></rbs-page-header>
		<div ng-switch="editMode">
			<rbs-document-editor ng-switch-when="translate" rbs-document-editor-translate="" rbs-document-editor-rbs-website-topic-translate=""></rbs-document-editor>
			<rbs-document-editor ng-switch-default="" rbs-document-editor-rbs-website-topic=""></rbs-document-editor>
		</div>
	</div>

</div>