<div{% if parameters.alignment != 'fill' %} class="text-{{ parameters.alignment }}"{% endif %}>
	<img src="{{ src }}" alt="{{ alt }}" style="{% if parameters.alignment != 'fill' %}max-{% endif %}width: 100%;" />
</div>