<!-- formDefinition, blockId -->
<form role="form" ng-controller="controller{{ blockId }}" ng-submit="submitForm($event)" name="addressForm">
	<div class="form-group" ng-repeat="field in formDefinition.rows" ng-class="{'required': field.required}">
		<label class="control-label" for="(= field.id =)" ng-bind="field.title"></label>
		<div data-ng-switch="field.values">
			<input data-ng-switch-when="undefined" type="text" class="form-control" id="(= field.id =)" name="(= field.name =)"
					ng-model="formDefinition.rows[$index].value" ng-required="field.required">
			<select data-ng-switch-default class="form-control" id="(= field.id =)"
					ng-model="formDefinition.rows[$index].value" ng-required="field.required"
					name="(= field.name =)" data-ng-options="option.value as option.title  for (key , option) in field.values">
			</select>
		</div>

		<!-- span class="help-block">A block of help text that breaks onto a new line and may extend beyond one line.</span -->
	</div>
	<button type="submit" class="btn btn-primary" data-ng-disabled="addressForm.$invalid">Submit</button>
</form>

<script type="text/javascript">
	window.ChangeBlocksControllers.controller{{ blockId}} =  function ($scope) {
		$scope.formDefinition = {{ formDefinition|json_encode }};
		$scope.submitForm = function(event) {
			event.target.submit();
		}
	};
</script>