<form name="form" ng-submit="submit()" novalidate="">

	<rbs-field-text
			property="title"
			label="{{ i18nAttr(propertyKey('Rbs_Collection_Item', 'title'), ['ucf']) }}">
	</rbs-field-text>

	<form-button-bar></form-button-bar>

</form>