<form name="form" ng-submit="submit()" novalidate="">

	<rbs-field-text
			property="title" required="true"
			label="{{ i18nAttr(propertyKey('Rbs_Website_Topic', 'title'), ['ucf']) }}">
	</rbs-field-text>

	<rbs-field-text
			property="pathPart"
			label="{{ i18nAttr(propertyKey('Rbs_Website_Topic', 'pathPart'), ['ucf']) }}">
	</rbs-field-text>

	<form-button-bar></form-button-bar>
</form>