<form name="form" ng-submit="submit()" novalidate="">

	<rbs-field-text
			property="title" required="true"
			label="{{ i18nAttr('m.rbs.website.document.topic.title', ['ucf']) }}">
	</rbs-field-text>

	<rbs-field-text
			property="pathPart"
			label="{{ i18nAttr('m.rbs.website.document.topic.pathPart', ['ucf']) }}">
	</rbs-field-text>

	<form-button-bar></form-button-bar>
</form>