<div>
	<div class="form-group">
		<label class="control-label (= labelClass =)" for="Rbs_Mail_Richtext_contentType">
			{{ i18n('m.rbs.mail.admin.richtext_content', ['ucf']) }}
		</label>
		<div class="controls (= controlsClass =)">
			<rbs-rich-text-input id="Rbs_Mail_Richtext_content" use-tabs="false" profile="Website"
				ng-model="blockParameters.content"></rbs-rich-text-input>
		</div>
	</div>
</div>