<form name="form" ng-submit="submit()" novalidate="">
	<rbs-field-text property="title" required="true"
		label="{{ i18nAttr(propertyKey('Rbs_Shipping_Mode', 'title'), ['ucf']) }}">
	</rbs-field-text>

	<rbs-field-rich-text property="description" required="false"
		label="{{ i18nAttr(propertyKey('Rbs_Shipping_Mode', 'description'), ['ucf']) }}">
	</rbs-field-rich-text>

	<rbs-form-button-bar></rbs-form-button-bar>
</form>