<div class="row">

	<div rbs-aside-column>
		<rbs-default-asides-for-editor></rbs-default-asides-for-editor>
	</div>

	<div class="document-form" rbs-main-column>
		<rbs-page-header document="document" sub-title="{{ i18nAttr(modelKey('Rbs_Shipping_Mode'), ['ucf']) }}"></rbs-page-header>
		<div ng-switch="editMode">
			<rbs-document-editor ng-switch-when="translate" rbs-document-editor-translate-deprecated="" rbs-document-editor-rbs-shipping-mode-translate=""></rbs-document-editor>
			<rbs-document-editor ng-switch-default="" rbs-document-editor-rbs-shipping-mode=""></rbs-document-editor>
		</div>
	</div>

</div>