<div class="row">

	<rbs-workspace-config>
		<rbs-breadcrumb-config>
			<location href="(= 'Rbs_Shipping'|rbsURL:'home' =)">{{ i18n('m.rbs.shipping.admin.module_name', ['ucf']) }}</location>
			<location href="(= 'Rbs_Shipping_Mode'|rbsURL:'list' =)">{{ i18n('m.rbs.shipping.admin.mode_list', ['ucf']) }}</location>
		</rbs-breadcrumb-config>
	</rbs-workspace-config>

	<div rbs-aside-column>
		<rbs-default-asides-for-editor></rbs-default-asides-for-editor>
	</div>

	<div class="document-form" rbs-main-column>
		<page-header document="document" sub-title="{{ i18nAttr(modelKey('Rbs_Shipping_Mode'), ['ucf']) }}"></page-header>
		<div class="rbs-document-editor rbs-document-editor-rbs-shipping-mode"></div>
	</div>

</div>