<div class="row">

	<rbs-workspace-config>
		<rbs-breadcrumb-config>
			<rbs-location href="(= 'Rbs_Shipping'|rbsURL:'home' =)">{{ i18n('m.rbs.shipping.admin.module_name', ['ucf']) }}</rbs-location>
			<rbs-location href="(= 'Rbs_Shipping_Mode'|rbsURL:'list' =)">{{ i18n('m.rbs.shipping.admin.mode_list', ['ucf']) }}</rbs-location>
		</rbs-breadcrumb-config>
	</rbs-workspace-config>

	<div rbs-aside-column>
		<rbs-default-asides-for-editor></rbs-default-asides-for-editor>
	</div>

	<div class="document-form" rbs-main-column>
		<rbs-page-header document="document" sub-title="{{ i18nAttr(modelKey('Rbs_Shipping_Mode'), ['ucf']) }}"></rbs-page-header>
		<div ng-switch="editMode">
			<div ng-switch-when="translate" class="rbs-document-editor rbs-document-editor-translate rbs-document-editor-rbs-shipping-mode-translate"></div>
			<div ng-switch-default="" class="rbs-document-editor rbs-document-editor-rbs-shipping-mode"></div>
		</div>
	</div>

</div>