<h2 class="comment-toolbar-title">{{ i18n('m.rbs.review.blocks.review-list', ['ucf'], { 'count': rows | length , 'totalCount': totalReviews}) }}</h2>

<ul class="list-unstyled comment-list">
	{% for row in rows %}
		<li>
			{% include 'Rbs_Review/Blocks/review.twig' with { 'review': row } %}
		</li>
	{% endfor %}
</ul>
{% include 'Rbs_Generic/pagination.twig' %}