<div class="document-form">
	<rbs-workspace-config>
		<rbs-breadcrumb-config>
			<location href="(= 'Rbs_Price'|rbsURL:'home' =)">{{ i18n('m.rbs.price.admin.module_name', ['ucf']) }}</location>
			<location href="(= 'Rbs_Price_BillingArea'|rbsURL:'list' =)">{{ i18n('m.rbs.price.admin.billingarea_list', ['ucf']) }}</location>
		</rbs-breadcrumb-config>
	</rbs-workspace-config>

	<page-header document="document" sub-title="{{ i18nAttr(modelKey('Rbs_Price_BillingArea'), ['ucf']) }}"></page-header>
	<div class="rbs-document-editor rbs-document-editor-rbs-price-billing-area"></div>
</div>