<form name="form" data-ng-submit="submit()" data-ng-controller="Rbs_Website_StaticPage_ContentsFormController" novalidate>

	<div class="alert" data-ng-show="document.status == 'PUBLISHABLE'">
		<h4>Cette page est actuellement publiée.</h4>
		Si vous lui apportez des modifications, une <strong>correction</strong> sera créée et les modifications ne seront
		visibles en ligne qu'après <strong>validation de la correction</strong>. Vous pouvez donc modifier tranquillement votre page ;-)<br/>
		<a href="javascript:;">Plus d'info...</a>
	</div>

	<div class="page-header">
		<h2>(=document.label=)</h2>
	</div>

	<structure-editor name="contents"
	                  data-ng-model="document.editableContent"
	                  template="(=pageTemplate=)">
		<a class="btn" href ng-href="(= document | documentURL =)"><i class="icon-edit"></i> Éditer les propriétés</a>
	</structure-editor>

	<form-button-bar></form-button-bar>

</form>
