<div class="row" data-rbs-document-editor-base="" data-model="Rbs_Order_Shipment">
	<div class="col-md-12">
		<rbs-page-header sub-title="{{ i18nAttr(modelKey('Rbs_Order_Shipment'), ['ucf']) }}"></rbs-page-header>
	</div>

	<div data-rbs-aside-column="">
		{% include '@Rbs_Admin/view/asides.twig' %}
		{% include '@Rbs_Admin/view/links.twig' %}
	</div>

	<div class="document-form" data-rbs-main-column="">
		<form data-ng-submit="submit()" data-rbs-document-editor-edit=""
			data-rbs-document-editor-rbs-order-shipment-edit="">
			<fieldset data-rbs-editor-section=""
				data-editor-section-label="{{ i18nAttr('m.rbs.admin.admin.general_properties', ['ucf']) }}">

				{% include '@Rbs_Order/Documents/Shipment/properties.twig' %}
			</fieldset>

			<fieldset data-rbs-editor-section="systeminfo"
				data-editor-section-label="{{ i18nAttr('m.rbs.admin.adminjs.status', ['ucf']) }}"
				data-rbs-document-system-info-section="">
			</fieldset>

			<rbs-document-editor-button-bar>
				<button type="button" data-ng-if="!document.prepared" data-ng-click="validatePreparation($event)"
					class="btn btn-headline btn-success" data-ng-disabled="document.lines.length === 0 || !isUnchanged()">
					<i class="icon-archive"></i>{{ i18n('m.rbs.order.admin.shipment_prepare_button', ['ucf']) | raw }}
				</button>
			</rbs-document-editor-button-bar>
		</form>
	</div>
</div>