<div class="row">

	<div rbs-aside-column>
		<rbs-default-asides-for-editor></rbs-default-asides-for-editor>
	</div>

	<div class="document-form" rbs-main-column>
		<page-header document="document" sub-title="{{ i18nAttr(modelKey('Rbs_Order_Shipment'), ['ucf']) }}"></page-header>
		<rbs-document-editor rbs-document-editor-rbs-order-shipment=""></rbs-document-editor>
	</div>

</div>