<div class="row">
	<div data-rbs-aside-column="">
		{% include '@Rbs_Admin/view/asides.twig' %}
		{% include '@Rbs_Admin/view/links.twig' %}
	</div>

	<div data-rbs-main-column="">
		<rbs-page-header title="{{ i18nAttr('m.rbs.order.admin.shipment_list', ['ucf']) }}"></rbs-page-header>
		<rbs-document-filter-panel open-by-default="false" filter="filter"
			model="Rbs_Order_Shipment"></rbs-document-filter-panel>

		<div class="add-elements-bar">
			{% for newDocumentLink in attributes['newDocumentLinks'] %}
				<a href="javascript:;" data-ng-href="(= '{{ newDocumentLink.modelName }}' | rbsURL:'new' =)">
					{{ newDocumentLink.label }}
				</a>
			{% endfor %}
		</div>

		<rbs-document-list data-dlid="DLRbsOrderShipment" model="Rbs_Order_Shipment" filter-collection="filter">
			<rbs-column name="code" primary="true"></rbs-column>
			<rbs-column name="prepared">
				(= doc.prepared | rbsBoolean =)
			</rbs-column>
			<rbs-column name="shippingModeCode"></rbs-column>
			<rbs-column name="carrierStatus"></rbs-column>
			<rbs-column name="itemCount" label="{{ i18n('m.rbs.order.admin.elements_count_abbr', ['ucf']) }}"></rbs-column>
		</rbs-document-list>
	</div>
</div>