<script type="text/javascript">
	var script{{ blockId }} = {};
</script>

{% import 'Rbs_Catalog/macros.twig' as catalogMacros %}
<article itemscope="" itemtype="http://schema.org/Product" class="product-details">
	<header>
		{% include 'Rbs_Catalog/Blocks/Product/header.twig' %}
	</header>

	<div class="row">
		<div class="col-sm-6 col-md-8">
			{% include 'Rbs_Catalog/Blocks/Product/visuals.twig' %}
		</div>
		<div class="col-sm-6 col-md-4">
			{% include 'Rbs_Catalog/Blocks/Product/offer.twig' %}


			<!-- TODO: handle reviews and rating -->
			<!--<p class="rating">
				<a href="#comments-13450">Soyez le premier à commenter ce produit.</a>
			</p>
			<p itemprop="aggregateRating" itemscope="" itemtype="http://schema.org/Rating" class="rating">
				<meta itemprop="worstRating" content="1" />
				<span itemprop="ratingValue">2,5</span> étoiles sur
				<span itemprop="bestRating">5</span>
				(<a href="#comments-13450"><span itemprop="ratingCount">4</span> avis</a>)
			</p>-->

			<!-- TODO: link sharing -->
			<!--<ul class="list-inline share-list">
				<li>
					<a href="http://site36.intportgchange.fr/fr/partage-de-lien/site-12259.html?title=classic%20(1989)%20de%20Nintendo%2C%20Portables%20%3A%20Site%20de%20d%C3%A9monstration&amp;url=http%3A%2F%2Fsite36.intportgchange.fr%2Ffr%2Fcatalog%2Fclassic-1989%2C13450.html%3FcatalogParam%255BshopId%255D%3D13232" rel="nofollow"><img src="http://site36.intportgchange.fr/publicmedia/formatted/122/51/fr/digg_16x16.png;h=16,w=16.png" alt=""></a>
				</li>
				<li>
					<a href="http://site36.intportgchange.fr/fr/partage-de-lien/site-12261.html?title=classic%20(1989)%20de%20Nintendo%2C%20Portables%20%3A%20Site%20de%20d%C3%A9monstration&amp;url=http%3A%2F%2Fsite36.intportgchange.fr%2Ffr%2Fcatalog%2Fclassic-1989%2C13450.html%3FcatalogParam%255BshopId%255D%3D13232" rel="nofollow"><img src="http://site36.intportgchange.fr/publicmedia/formatted/122/52/fr/facebook_16x16.png;h=16,w=16.png" alt=""></a>
				</li>
				<li>
					<a href="http://site36.intportgchange.fr/fr/partage-de-lien/site-12263.html?title=classic%20(1989)%20de%20Nintendo%2C%20Portables%20%3A%20Site%20de%20d%C3%A9monstration&amp;url=http%3A%2F%2Fsite36.intportgchange.fr%2Ffr%2Fcatalog%2Fclassic-1989%2C13450.html%3FcatalogParam%255BshopId%255D%3D13232" rel="nofollow"><img src="http://site36.intportgchange.fr/publicmedia/formatted/122/53/fr/delicious_16x16.png;h=16,w=16.png" alt=""></a>
				</li>
				<li>
					<a href="http://site36.intportgchange.fr/fr/partage-de-lien/site-12265.html?title=classic%20(1989)%20de%20Nintendo%2C%20Portables%20%3A%20Site%20de%20d%C3%A9monstration&amp;url=http%3A%2F%2Fsite36.intportgchange.fr%2Ffr%2Fcatalog%2Fclassic-1989%2C13450.html%3FcatalogParam%255BshopId%255D%3D13232" rel="nofollow"><img src="http://site36.intportgchange.fr/publicmedia/formatted/122/54/fr/google_16x16.png;h=16,w=16.png" alt=""></a>
				</li>
				<li>
					<a href="http://site36.intportgchange.fr/fr/partage-de-lien/site-12267.html?title=classic%20(1989)%20de%20Nintendo%2C%20Portables%20%3A%20Site%20de%20d%C3%A9monstration&amp;url=http%3A%2F%2Fsite36.intportgchange.fr%2Ffr%2Fcatalog%2Fclassic-1989%2C13450.html%3FcatalogParam%255BshopId%255D%3D13232" rel="nofollow"><img src="http://site36.intportgchange.fr/publicmedia/formatted/122/55/fr/twitter_16x16.png;h=16,w=16.png" alt=""></a>
				</li>
				<li>
					<a href="http://site36.intportgchange.fr/fr/partage-de-lien/site-12269.html?title=classic%20(1989)%20de%20Nintendo%2C%20Portables%20%3A%20Site%20de%20d%C3%A9monstration&amp;url=http%3A%2F%2Fsite36.intportgchange.fr%2Ffr%2Fcatalog%2Fclassic-1989%2C13450.html%3FcatalogParam%255BshopId%255D%3D13232" onclick="accessibleAddToFavorite(this); return false;" rel="nofollow"><img src="http://site36.intportgchange.fr/publicmedia/formatted/122/56/fr/favorites_16x16.png;h=16,w=16.png" alt=""></a>
				</li>
				<li>
					<a href="http://site36.intportgchange.fr/fr/partage-de-lien/site-12271.html?title=classic%20(1989)%20de%20Nintendo%2C%20Portables%20%3A%20Site%20de%20d%C3%A9monstration&amp;url=http%3A%2F%2Fsite36.intportgchange.fr%2Ffr%2Fcatalog%2Fclassic-1989%2C13450.html%3FcatalogParam%255BshopId%255D%3D13232" onclick="accessiblePrint(this); return false;" rel="nofollow"><img src="http://site36.intportgchange.fr/publicmedia/formatted/122/57/fr/print_16x16.png;h=16,w=16.png" alt=""></a>
				</li>
				<li>
					<a href="http://site36.intportgchange.fr/fr/partage-de-lien/site-12273.html?title=classic%20(1989)%20de%20Nintendo%2C%20Portables%20%3A%20Site%20de%20d%C3%A9monstration&amp;url=http%3A%2F%2Fsite36.intportgchange.fr%2Ffr%2Fcatalog%2Fclassic-1989%2C13450.html%3FcatalogParam%255BshopId%255D%3D13232" rel="nofollow"><img src="http://site36.intportgchange.fr/publicmedia/formatted/122/58/fr/email_16x16.png;h=16,w=16.png" alt=""></a>
				</li>
			</ul>-->
		</div>
	</div>

	{% include 'Rbs_Catalog/Blocks/Product/description.twig' %}
</article>