{% import 'Rbs_Catalog/macros.twig' as catalogMacros %}

<h1 id="product-list-title">{{ title }}</h1>
<script type="text/ng-template" id="/addLineToCart.tpl">
	<button name="key" type="button" class="btn btn-primary btn-sm" data-ng-click="addLine()" data-ng-disabled="quantity <= 0">
		<i class="glyphicon glyphicon-shopping-cart"></i> {{ i18n('m.rbs.commerce.front.add_to_cart', ['ucf']) }}
	</button>
</script>

<form action="{{ ajaxURL('Rbs_Commerce', 'AddLineToCart') }}" method="post">
	{% spaceless %}
		<ul class="grid-list grid-list-{{ itemsPerLine }} grid-list-bordered product-list">
			{% for row in rows %}
				{% include 'Rbs_Catalog/product-list-item.twig' %}
			{% endfor %}
		</ul>
	{% endspaceless %}
</form>
{% include 'Rbs_Generic/pagination.twig' %}