<div class="row">
	<div class="not-editable-zone col-md-12">header</div>
</div>
<div class="row">
	<div data-editable-zone-id="mainContent" class="col-sm-12"></div>
</div>
<div class="row">
	<div class="not-editable-zone col-md-12">footer</div>
</div>