<!doctype html>
<html data-ng-app="RbsChangeApp">
	<head>
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
		<!-- headSeo -->
		{% for headline in pageResult.head %}
			{{ headline|raw }}
		{% endfor %}
		<!-- cssHead -->
		<script type="text/javascript">
			window.__change = {{ pageResult.getJsonObjects() | json_encode | raw }};
		</script>
	</head>
	<body class="container">
		<!-- themeSelector -->
		<!-- mainContent -->
		<!-- jsFooter -->
	</body>
</html>