{% block rbsProductreturnReturnListUse %}
	{% use 'Rbs_Productreturn/return-details-templates.twig' %}
{% endblock rbsProductreturnReturnListUse %}

{% block rbsProductreturnReturnListMain %}
	<div data-ng-controller="RbsProductreturnReturnListController">
		{% for return in productReturnsData %}
			{% block returnDetails %}
				{% set showOrderLink = true %}
				{{ block('rbsProductreturnDetails') }}
			{% endblock returnDetails %}

			{% block returnSeparator %}
				{% if not loop.last %}
					<hr />
				{% endif %}
			{% endblock returnSeparator %}
		{% endfor %}
	</div>
{% endblock rbsProductreturnReturnListMain %}

{% block rbsProductreturnReturnListFooter %}
	{% include 'Rbs_Generic/pagination.twig' with {'pageCount': pagination.pageCount, 'pageNumber': pagination.pageNumber, 'blockId': blockId} %}
{% endblock rbsProductreturnReturnListFooter %}