<rbs-links-panel title="{{ i18nAttr('m.rbs.admin.admin.contents', ['ucf']) }}" icon="icon-list-alt">
	<a href ng-href="(= 'Rbs_Price_Price'|rbsURL:'list' =)" class="rbs-panel-link">{{ i18n('m.rbs.price.admin.js.price-list', ['ucf']) }}</a>
	<a href ng-href="(= 'Rbs_Price_Tax'|rbsURL:'list' =)" class="rbs-panel-link">{{ i18n('m.rbs.price.admin.js.tax-list', ['ucf']) }}</a>
	<a href ng-href="(= 'Rbs_Price_BillingArea'|rbsURL:'list' =)" class="rbs-panel-link">{{ i18n('m.rbs.price.admin.js.billingarea-list', ['ucf']) }}</a>
</rbs-links-panel>
