<html>
<body>
	<p>Bonjour,</p>
	<h3>Vous avez fait une demande de création de compte pour le site "{{ website }}"</h3>
	<p>
		Veuillez confirmer votre adresse e-mail en cliquant sur le lien suivant : <br />
		<a href="{{ link }}">{{ link }}</a>
	</p>
	<p>cordialement.</p>
</body>
</html>