<div class="row">
	<div class="not-editable-zone col-md-6">headerTop1</div>
	<div class="not-editable-zone col-md-2">headerTop2</div>
	<div class="not-editable-zone col-md-2">headerTop3</div>
	<div class="not-editable-zone col-md-2">headerTop4</div>
</div>
<div class="row">
	<div class="not-editable-zone col-md-12">headerMiddle1</div>
</div>
<div class="row">
	<div class="not-editable-zone col-md-12">headerBottom1</div>
</div>
<div class="row">
	<div class="not-editable-zone col-md-9">contentTop1</div>
	<div class="not-editable-zone col-md-3">contentTop2</div>
</div>
<div class="row not-editable-row">
	<div class="col-md-3 not-editable-cell">
		<div class="not-editable-zone">contentMiddle1</div>
		<div data-editable-zone-id="sidebarContent"></div>
	</div>
	<div data-editable-zone-id="mainContent" class="col-md-9"></div>
</div>
<div class="row">
	<div class="not-editable-zone col-md-12">footerTop1</div>
</div>
<div class="row">
	<div class="not-editable-row col-md-6">
		<div class="row">
			<div class="not-editable-zone col-md-6">footerMiddle1</div>
			<div class="not-editable-zone col-md-6">footerMiddle2</div>
		</div>
	</div>
	<div class="not-editable-row col-md-6">
		<div class="row">
			<div class="not-editable-zone col-md-6">footerMiddle3</div>
			<div class="not-editable-zone col-md-6">footerMiddle4</div>
		</div>
	</div>
</div>
<div class="row">
	<div class="not-editable-zone col-md-6">footerBottom1</div>
	<div class="not-editable-zone col-md-6">footerBottom2</div>
</div>
