<div class="document-form" data-ng-controller="Rbs_Tag_Tag_FormController">
	<page-header document="document" sub-title="{{ i18nAttr('m.rbs.tag.document.tag', ['ucf']) }}"></page-header>
	<div class="document-editor editor-change-tag-tag"
	     document="document"
	     section="section"
	     on-save="onSave(document)"
	     on-cancel="onCancel()">
	</div>
</div>