<div ng-controller="Rbs_Tag_Tag_MyTagsController">
	<rbs-workspace-config menu="Rbs_Tag">
		<rbs-breadcrumb-config>
			<location href="(= 'Rbs_Tag'|rbsURL:'mytags' =)">{{ i18nAttr('m.rbs.tag.documents.mytags-list', ['ucf']) }}</location>
		</rbs-breadcrumb-config>
	</rbs-workspace-config>

	<page-header title="{{ i18nAttr('m.rbs.tag.documents.mytags-list', ['ucf']) }}"></page-header>
	<search-filters model="Rbs_Tag_Tag" filter-query="query" text-search="textSearch"></search-filters>

	<div class="add-elements-bar">
		<a href ng-href="(= 'Rbs_Tag_Tag' | documentURL:'new' =)">{{ i18n('m.rbs.tag.documents.tag-create', ['ucf']) }}</a>
	</div>

	<rbs-document-list data-dlid="DLRbsTag1"
		               model="Rbs_Tag_Tag"
	                   children-property="children"
	                   use-properties="children userTag"
	                   load-query="myTagsQuery"
	                   filter-query="query">

		<column name="label" primary="true">
			<a href ng-href="(= doc | documentURL:'form' =)"><span rbs-tag="doc"></span></a>
			<span ng-if="doc.children.length > 0" class="badge" title="">(= doc.children.length | number =)</span>
		</column>

		<column name="color" align="center" width="160px">
			<rbs-tag-color-selector ng-model="doc.color" ng-change="save(doc)"></rbs-tag-color-selector>
		</column>

		<column name="module" converter-params="modules" converter="collection"></column>

		<preview>
			<span ng-pluralize="" count="doc.children.length" when="{{ i18nAttr('m.rbs.tag.documents.tag.child-tags-count') }}"></span>
			<span ng-repeat="tag in doc.children"><a href ng-href="(= tag | documentURL:'tree' =)"><span rbs-tag="tag"></span></a></span>
		</preview>

	</rbs-document-list>
</div>