<div class="row" ng-controller="Rbs_Website_HeaderController">

	<div rbs-full-width>

		<nav class="navbar navbar-default" role="navigation">
			<form class="navbar-form navbar-left">
				<div class="form-group">
					<select ng-model="currentWebsite" ng-change="changeWebsite(currentWebsite)" ng-options="w.label for w in websites" class="form-control"></select>
				</div>
			</form>
			<ul class="nav navbar-nav" ng-if="currentWebsite">
				<li ng-class="{'active': view == 'Structure'}"><a href ng-href="(= currentWebsite | rbsURL:'tree' =)"><i class="icon-puzzle-piece"></i> {{ i18n('m.rbs.website.admin.website_structure', ['ucf']) }}</a></li>
				<li ng-class="{'active': view == 'Menus'}"><a href ng-href="(= currentWebsite | rbsURL:'menus' =)"><i class="icon-list-alt"></i> {{ i18n('m.rbs.website.documents.topic_menus', ['ucf']) }}</a></li>
				<li ng-class="{'active': view == 'Functions'}"><a href ng-href="(= currentWebsite | rbsURL:'functions' =)"><i class="icon-wrench"></i> {{ i18n('m.rbs.website.admin.topic_functions', ['ucf']) }}</a></li>
			</ul>
			<ul class="nav navbar-nav navbar-right">
				<li><a href="(= 'Rbs_Website_Website' | rbsURL:'list' =)"><i class="icon-cog"></i> {{ i18n('m.rbs.website.admin.manage_websites') }}</a></li>
			</ul>
		</nav>

		<div ng-if="currentWebsite && view" ng-include="'Document/Rbs/Website/Website/view' + view + '.twig'"></div>

	</div>

</div>