<div class="row">
	<div rbs-aside-column>
		<rbs-default-asides-for-list></rbs-default-asides-for-list>
	</div>
	<div rbs-main-column>
		<rbs-page-header title="{{ i18nAttr('m.rbs.website.admin.website_list', ['ucf']) }}"></rbs-page-header>
		<search-filters model="Rbs_Website_Website" filter-query="query" text-search="textSearch"></search-filters>

		<div class="add-elements-bar">
			<a href ng-href="(= 'Rbs_Website_Website' | rbsURL:'new' =)">{{ i18n('m.rbs.website.admin.website_create', ['ucf']) }}</a>
		</div>

		<rbs-document-list data-dlid="DLWebsite1"
		                   model="Rbs_Website_Website"
		                   publishable="true"
		                   filter-query="query"
		                   actions="default"
		                   use-properties="baseurl">
			<rbs-quick-actions>
				[action default]
				<a rbs-start-navigation="" href target-url="(= doc | rbsURL:'functions':true =)">
					<i class="icon-cog"></i> {{ i18n('m.rbs.website.admin.topic_functions') }}
				</a>
			</rbs-quick-actions>
			<rbs-column name="label" primary="true">
				<span class="pull-right" style="margin-right: 4px;">
					<a class="btn-flat" href ng-href="(= doc|rbsURL:'structure'=)">{{ i18n('m.rbs.website.admin.structure', ['ucf']) }} <i class="icon-circle-arrow-right"></i></a>
				</span>
				<strong><a href ng-href="(= doc|rbsURL:'form'=)">(= doc.label =)</a></strong>
				<small>&mdash; <a href ng-href="(= doc.baseurl =)" target="_blank">(= doc.baseurl =) <i class="icon-external-link-sign"></i></a></small>
			</rbs-column>
		</rbs-document-list>
	</div>

</div>