<div class="document-form">
	<rbs-workspace-config>
		<rbs-breadcrumb-config>
			<location href="(= 'Rbs_Event'|rbsURL:'home' =)">{{ i18nAttr('m.rbs.event.admin.js.module-name', ['ucf']) }}</location>
			<location href="(= 'Rbs_Event_Category'|rbsURL:'list' =)">{{ i18nAttr('m.rbs.event.documents.category-list', ['ucf']) }}</location>
		</rbs-breadcrumb-config>
	</rbs-workspace-config>

	<page-header document="document" sub-title="{{ i18nAttr('m.rbs.event.documents.category', ['ucf']) }}"></page-header>
	<div class="rbs-document-editor rbs-document-editor-rbs-event-category"></div>
</div>