<div class="row">

	<rbs-workspace-config menu="Rbs_Collection">
		<rbs-breadcrumb-config>
			<location href="(= 'Rbs_Collection'|rbsURL:'home' =)">{{ i18n('m.rbs.collection.admin.module_name', ['ucf']) }}</location>
		</rbs-breadcrumb-config>
	</rbs-workspace-config>

	<div rbs-aside-column>
		<rbs-default-asides-for-list></rbs-default-asides-for-list>
	</div>

	<div rbs-main-column>
		<page-header title="{{ i18nAttr('m.rbs.collection.admin.collection_list', ['ucf']) }}"></page-header>
		<search-filters model="Rbs_Collection_Collection" filter-query="query" text-search="textSearch"></search-filters>

		<div class="add-elements-bar">
			<a href ng-href="(= 'Rbs_Collection_Collection' | documentURL:'new' =)">{{ i18n('m.rbs.collection.admin.collection_create', ['ucf']) }}</a>
		</div>

		<rbs-document-list data-dlid="DLCollection1" model="Rbs_Collection_Collection" filter-query="query">
			<column name="label" primary="true"></column>
			<preview>
				<ul style="margin-bottom: 0;">
					<li ng-repeat="item in doc.items">(= item.label =) <span class="muted">((= item.value =))</span></li>
				</ul>
			</preview>
		</rbs-document-list>
	</div>

</div>