<div class="row">
	<div data-rbs-full-width="">
		<rbs-page-header title="{{ i18nAttr('m.rbs.collection.admin.collection_list', ['ucf']) }}"></rbs-page-header>
		<rbs-document-filter-panel open-by-default="false" filter="filter"
			model="Rbs_Collection_Collection"></rbs-document-filter-panel>

		<div class="add-elements-bar">
			{% for newDocumentLink in attributes['newDocumentLinks'] %}
				<a href="javascript:;" data-ng-href="(= '{{ newDocumentLink.modelName }}' | rbsURL:'new' =)">
					{{ newDocumentLink.label }}
				</a>
			{% endfor %}
		</div>

		<rbs-document-list data-dlid="DLRbsCollectionCollection" model="Rbs_Collection_Collection" filter-collection="filter">
			<rbs-column name="label" primary="true"></rbs-column>
			<rbs-preview>
				<ul style="margin-bottom: 0;">
					<li data-ng-repeat="item in doc.items">(= item.label =) <span class="muted">((= item.value =))</span></li>
				</ul>
			</rbs-preview>
		</rbs-document-list>
	</div>
</div>