<form name="form" ng-submit="submit()" novalidate="">

	<rbs-field-text property="title" required="true" input-class="input-block-level"
		label="{{ i18nAttr('m.rbs.catalog.document.attribute.title', ['ucf']) }}">
		<div class="help-block">{{ i18n('m.rbs.catalog.document.attribute.title-help', ['ucf']) }}</div>
	</rbs-field-text>

	<rbs-field-rich-text property="description" input-class="input-block-level"
		label="{{ i18nAttr('m.rbs.catalog.document.attribute.description', ['ucf']) }}">
		<div class="help-block">{{ i18n('m.rbs.catalog.document.attribute.description-help', ['ucf']) }}</div>
	</rbs-field-rich-text>

	<form-button-bar></form-button-bar>
</form>