<div class="document-form" data-ng-controller="Rbs_Catalog_Attribute_FormController">
	<page-header document="document" sub-title="{{ i18nAttr('m.rbs.catalog.document.attribute', ['ucf']) }}"></page-header>
	<div class="document-editor editor-rbs-catalog-attribute" document="document" section="section"
		on-save="onSave(document)" on-cancel="onCancel()">
	</div>
</div>