<div>

	<ul class="nav nav-list">
		<li class="nav-header">Contenus</li>
		<li><a href="Rbs/Tag/UserTags">Vos étiquettes</a></li>
		<li><a href="Rbs/Tag/CommonTags">Étiquettes communes</a></li>
	</ul>

	<rbs-todo>Améliorer ce menu</rbs-todo>

</div>