<rbs-links-panel title="{{ i18nAttr('m.rbs.admin.admin.contents', ['ucf']) }}" icon="icon-list-alt">
	<a href="Rbs/Tag/Tag/" class="rbs-panel-link">{{ i18n('m.rbs.tag.menu.all-tags', ['ucf']) }}</a>
	<a href="Rbs/Tag/MyTags/" class="rbs-panel-link">{{ i18n('m.rbs.tag.menu.my-tags', ['ucf']) }}</a>
</rbs-links-panel>
