<div class="editor-menu">
	<a ng-repeat="entry in entries | orderBy:'index'" class="editor-menu-item" href="(= entry.url=)" rbs-active-route="">
		<span class="badge" ng-class="{'badge-success': entry.corrected.length > 0, 'badge-required': entry.required.length}" ng-if="entry.fields.length">
			(= entry.fields.length =)
		</span>
		(= entry.label =)
	</a>
</div>
