<div class="form-inline">
	<input data-role="input-date" class="form-control" size="16" type="date" data-date-format="{{ i18nAttr('m.rbs.admin.admin.date_selector_format') }}"
		data-date-language="{{ i18nAttr('m.rbs.admin.admin.date_selector_lang') }}"/>
	<span class="input-unit">{{ i18n('m.rbs.admin.admin.date_selector_at') }}</span>

	<input data-role="input-hour" class="form-control" type="number" size="2" value="0" />
	<span class="input-unit">{{ i18n('m.rbs.admin.admin.date_selector_hour_letter') }}</span>
	<input data-role="input-minute" class="form-control" type="number" size="2" value="00" />

	<button class="btn btn-info timezone-selector" type="button" style="margin-left:10px;vertical-align:top;" data-ng-click="openTimeZoneSelector($event)">
		<i class="icon-globe"></i> (=timeZone=)
	</button>
	<div class="timeZoneSelectorContainer"></div>
</div>