<div>
	<input data-role="input-date" class="input-medium" size="16" type="date" data-date-format="{{ i18n('m.rbs.admin.forms.date-selector-format') }}" data-date-language="{{ i18n('m.rbs.admin.forms.date-selector-lang') }}"/>
	<span class="input-unit">{{ i18n('m.rbs.admin.forms.date-selector-at') }}</span>

	<input data-role="input-hour" class="input-small" type="number" size="2" value="0" />
	<span class="input-unit">{{ i18n('m.rbs.admin.forms.date-selector-hour-letter') }}</span>
	<input data-role="input-minute" class="input-small" type="number" size="2" value="00" />

	<button class="btn timezone-selector" type="button" style="margin-left:10px" data-ng-click="openTimeZoneSelector($event)">
		<i class="icon-globe"></i> <span title="(=timeZone.label=)">(=timeZone.code=)</span>
	</button>
	<div class="timeZoneSelectorContainer"></div>
</div>