<div>
	<rbs-field-boolean property="active" label="{{ i18nAttr('c.documents.active', ['ucf']) }}">
	</rbs-field-boolean>

	<rbs-field-date property="startActivation" label="{{ i18nAttr('c.documents.startactivation',['ucf']) }}">
	</rbs-field-date>

	<rbs-field-date property="endActivation" label="{{ i18nAttr('c.documents.endactivation',['ucf']) }}">
	</rbs-field-date>
</div>