<ol class="list-inline">
	<li>
		<button type="button" class="btn btn-default btn-xs" data-ng-click="delFilter()"><span class="glyphicon glyphicon-minus"></span></button>
	</li>
	<li>(= filterDefinition.config.label =)</li>
	<li>
		<rbs-switch data-role="filter-value" ng-model="filter.parameters.value" />
	</li>
</ol>