<div class="panel panel-primary">
	<div class="panel-heading" ng-click="toggleFilterPanel()" style="cursor: pointer;">
		<span class="pull-right">
			<i data-ng-hide="showFilter" class="icon-chevron-down"></i>
			<i data-ng-show="showFilter" class="icon-chevron-up"></i>
		</span>
		<h3 class="panel-title"><i class="icon-search"></i> <span>{{ i18n('m.rbs.admin.admin.title', ['ucf']) }}</span>
		</h3>
	</div>
	<form class="search-filters" data-ng-show="showFilter" ng-submit="applyFilter()">
		<div class="panel-body" ng-include="model | rbsCollectionFilterTemplateURL">
		</div>
		<div class="panel-footer">
			<div class="btn-toolbar">
				<button type="submit" class="btn btn-primary"><i class="icon-filter icon-white"></i> {{ i18n('m.rbs.admin.admin.filter', ['ucf']) }}</button>
				<button type="button" class="btn btn-default" ng-click="resetFilter()" >{{ i18n('m.rbs.admin.admin.reset_filter', ['ucf']) }}</button>
			</div>
		</div>
	</form>
</div>