<ol class="list-inline">
	<li>
		<button type="button" class="btn btn-default btn-xs" data-ng-click="delFilter()"><span class="glyphicon glyphicon-minus"></span></button>
	</li>
	<li>(= filterDefinition.config.label =)</li>
	<li>
		<select class="form-control" data-ng-model="filter.parameters.operator">
			<option value="eq">{{ i18n('m.rbs.admin.admin.equals') }}</option>
			<option value="neq">{{ i18n('m.rbs.admin.admin.isdifferentof') }}</option>
			<option value="isNull">{{ i18n('m.rbs.admin.admin.isnull') }}</option>
		</select>
	</li>
	<li ng-show="filter.parameters.operator != 'isNull'">
		<div class="rbs-document-picker-single"
				ng-model="filter.parameters.value" value-ids="true"
				accepted-model="(= filterDefinition.config.documentType =)"
				embed-in="#searchFiltersDocumentPickerEmbedContainer(=filter.name=)"
				input-css-class="input-small" allow-creation="false" allow-edition="false"></div>
		<div id="searchFiltersDocumentPickerEmbedContainer(=filter.name=)"></div>
		<div class="btn-group" ng-show="filterDefinition.config.possibleValues">
			<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">{{ i18n('m.rbs.admin.admin.possible_values') }} <span class="caret"></span></button></button>
			<ul class="dropdown-menu pull-right">
				<li data-ng-repeat="opt in filterDefinition.config.possibleValues">
					<a href ng-bind="opt.label" data-ng-click="filter.parameters.value = opt.value"></a>
				</li>
			</ul>
		</div>
	</li>
</ol>