<ol class="list-inline">
	<li>
		<button type="button" class="btn btn-default btn-xs" data-ng-click="delFilter()"><span class="glyphicon glyphicon-minus"></span></button>
	</li>
	<li>(= filterDefinition.config.label =)</li>
	<li>
		<select class="form-control" data-ng-model="filter.parameters.operator">
			<option value="eq">{{ i18n('m.rbs.admin.admin.equals') }}</option>
			<option value="neq">{{ i18n('m.rbs.admin.admin.isdifferentof') }}</option>
		</select>
	</li>
	<li>
		<div class="document-picker-single"
				ng-model="filter.parameters.value" value-ids="true"
				accepted-model="(= filterDefinition.config.documentType =)"
				embed-in="#searchFiltersDocumentPickerEmbedContainer(=filter.name=)"
				input-css-class="input-small" allow-creation="false" allow-edition="false"></div>
		<div id="searchFiltersDocumentPickerEmbedContainer(=filter.name=)"></div>
	</li>
	<li ng-show="filterDefinition.config.possibleValues">
		<select class="form-control" ng-model="filter.parameters.value"
				data-role="filter-value"
				ng-options="o.value as o.label for o in filterDefinition.config.possibleValues"></select>
	</li>
</ol>