<div>
	<img ng-src="(= imageSrc =)" class="img-thumbnail" title="{{ i18nAttr('m.rbs.admin.admin.click_to_select_another_image', ['ucf']) }}" ng-click="choose()" style="cursor: pointer; width: (= previewWidth =)px; height: (= previewHeight =)px; display: block;"/>
	<div>
		<button ng-show="loading" type="button" class="btn btn-default" disabled="disabled"><i class="icon-spinner icon-spin"></i> Lecture...</button>
		<span ng-show="fileSize && fileName">
			(= fileName =) &mdash; (= imageWidth =) &times; (= imageHeight =) &mdash; <span ng-bind-html="fileSize | rbsFileSize"></span>
		</span>
	</div>
	<input type="file" accept="(= fileAccept =)" name="file" style="text-indent: -3000px;opacity: 0; visibility: hidden; position: absolute;"/>
</div>