<div class="page-header">

	<form data-ng-show="! document" class="form-search pull-right" data-ng-submit="textSearch = search || '...'">
		<div class="input-append">
			<input type="text" class="input-medium search-query" placeholder="{{ i18nAttr('m.rbs.admin.search', ['ucf', 'etc']) }}" data-ng-model="search"/>
			<button type="submit" class="btn" title="{{ i18nAttr('m.rbs.admin.search', ['ucf']) }}">
				<i class="icon-search"></i>
			</button>
		</div>
	</form>

	<h2>
		<div class="btn-toolbar pull-right">
			<!--button type="button" class="btn btn-small btn-success"
				data-role="view-correction"
				ng-if="document.hasCorrection()"
				title="Date de la correction : (=document.meta('correction.creationDate') | date:'medium'=)"
				ng-click="openCorrectionViewer()">{{ i18n('m.rbs.admin.correction', ['ucf']) }} <span class="badge">(= document.META$.correction.propertiesNames.length =)</span></button-->
			<button type="button" class="btn" ng-if="document" ng-click="toggleDocumentInfo()" ng-class="{'btn-success': document.publicationStatus=='PUBLISHABLE', 'active': showDocumentInfo}">
				<status class="small" ng-model="document"></status>
				<span ng-if="document.hasCorrection()">
					{{ i18n('m.rbs.admin.correction', ['ucf']) }}
					<span class="badge">(= document.META$.correction.propertiesNames.length =)</span>
				</span>
				<span ng-if="! document.hasCorrection()">
					(= document.publicationStatus | statusLabel =)
				</span>
				<i ng-class="{true: 'icon-chevron-up', false: 'icon-chevron-down'}[showDocumentInfo]"></i>
			</button>
		</div>

		(= document.label || currentFolder.label || title =)
		<small>(=subTitle=)</small>
	</h2>

	<div ng-if="showDocumentInfo" class="rbs-document-workflow-actions" document="document" on-close="toggleDocumentInfo()"></div>

	<div class="embedded-content"></div>

</div>
