<div class="rbs-rich-text-input-inner-selector">
	<button type="button" class="close pull-right" ng-click="closeSelector('link')">&times;</button>
	<h4>{{ i18n("m.rbs.admin.richtext.select-document-to-link") }}</h4>
	<rbs-model-selector filter="{publishable:true}" model="selectedModel"></rbs-model-selector>
	<rbs-document-list display="list" model="(= selectedModel.name =)" toolbar="false" extend="picker">
		<column name="label" label="{{ i18nAttr('m.rbs.generic.document.label', ['ucf']) }}" >
			<a href="javascript:;" ng-click="extend.insertDocumentLink(doc, $event)">(= doc.label =)</a>
		</column>
	</rbs-document-list>
</div>