<div class="input-group">
	<input class="form-control" type="number" min="0" ng-model="durationInterval" ng-disabled="disable"/>
	<span class="input-group-addon contains-input">
		<select class="form-control" ng-model="durationType"
			ng-options="key as value for (key, value) in durations" ng-disabled="disable">
			<option value="">{{ i18n('m.rbs.admin.timeinterval.choose-type', ['ucf']) }}</option>
		</select>
	</span>
</div>