<label class="control-label">(= label =)</label>
<div class="controls">
	<div class="input-prepend">
		<span class="add-on">{{ i18n('m.rbs.admin.timeinterval.days', ['ucf']) }}</span>
		<input class="input-mini" type="number" min="0" data-ng-model="days" />
	</div>
	<div class="input-prepend">
		<span class="add-on">{{ i18n('m.rbs.admin.timeinterval.hours', ['ucf']) }}</span>
		<input class="input-mini" type="number" min="0" data-ng-model="hours" />
	</div>
	<div class="input-prepend">
		<span class="add-on">{{ i18n('m.rbs.admin.timeinterval.minutes', ['ucf']) }}</span>
		<input class="input-mini" type="number" min="0" data-ng-model="minutes" />
	</div>
</div>