<rbs-document-list data-dlid="DLDocumentPicker{{ query.model }}"
                   model="{{ query.model }}"
                   filter-query="query" extend="picker" use-properties="color userTag children">
	<rbs-column name="label" primary="true">
		<a href="javascript:;" ng-click="extend.selectDocument(doc)"><span rbs-tag="doc"></span></a>
		<span ng-if="doc.children.length > 0" class="badge" title="">(= doc.children.length | number =)</span>
	</rbs-column>
</rbs-document-list>
