<form method="post" action="Action/Change_Users/Login">
	<input type="text" name="origin" value="{{ parameters.origin }}">
	<h2>Connectez-vous</h2>
	<input type="text" name="login" class="input-block-level" placeholder="Identifiant">
	<input type="password" name="password" class="input-block-level" placeholder="Mot de passe">
	<label class="checkbox"><input type="checkbox" value="remember-me"> Rester connecté</label>
	<button class="btn btn-large btn-primary" type="submit">Se connecter</button>
</form>