<div data-ng-controller="Rbs_Admin_ClipboardController">

	<div class="page-header">
		<h2>Presse-papier Change</h2>
	</div>

	<rbs-document-list data-dlid="RbsAdminClipboardList"
	                   extend="clipboardList"
	                   collection="clipboardItems">

		<column name="label" primary="true"></column>

		<action name="removeFromClipboard" label="Retirer du Presse-papier" selection="+"></action>
		<action name="clearClipboard" label="Effacer le Presse-papier"></action>

		<quick-actions>
			[action delete] || [action removeFromClipboard]
		</quick-actions>

	</rbs-document-list>

</div>
