<div data-ng-controller="Rbs_User_Group_PublicProfileController">
	<page-header sub-title="{{ i18nAttr('m.rbs.user.admin.public-profile-sub-title', ['ucf']) }}"></page-header>
	<div class="media-body well well-small">
		<h4 class="media-heading">(= document.label =) <small ng-if="document.identifier">@+(= document.identifier =)</small></h4>
		<div class="well">
			<dl class="dl-horizontal">
				<dt>{{ i18n(propertyKey('Rbs_User_Group', 'label'), ['ucf']) }}</dt>
				<dd>(= document.label =)</dd>
				<dt>{{ i18n(propertyKey('Rbs_User_Group', 'realm'), ['ucf']) }}</dt>
				<dd>(= document.realm =)</dd>
			</dl>
		</div>
		<div>
			<h4>{{ i18n('m.rbs.user.documents.user-list', ['ucf']) }}</h4>
			<rbs-document-list data-dlid="DLUser1"
				model="Rbs_User_User"
				modification-date="false"
				load-query="query">
				<column name="pseudonym" primary="true"></column>
				<column name="login"></column>
				<column name="email"></column>
				<quick-actions></quick-actions>
			</rbs-document-list>
		</div>
	</div>

</div>