<div class="document-form">
	<rbs-page-header document="document" sub-title="{{ i18nAttr(modelKey('Rbs_Catalog_ProductListItem'), ['ucf']) }}"></rbs-page-header>
	<rbs-document-editor rbs-document-editor-rbs-catalog-product-list-item=""></rbs-document-editor>
</div>