<nav>
	<ul class="breadcrumb">
		<li><a href="{{ canonicalURL(website) }}">{{ i18n('m.rbs.website.front.home',['ucf']) }}</a></li>
	{% for item in thread %}
		<li{% if loop.last %} class="active"{% endif %}>
			{% if item.hasUrl %}<a href="{{ item.url }}">{% endif %}
				{{ item.title }}
			{% if item.hasUrl %}</a>{% endif %}
		</li>
	{% endfor %}
	</ul>
</nav>