<div class="embed-responsive embed-responsive-16by9">
	<iframe class="embed-responsive-item" src="{{ parameters.url }}" {% if parameters.getParameter('height') %}height="{{ parameters.height }}"{% endif %} {% if parameters.getParameter('width') %}width="{{ parameters.width }}"{% else %}width="100%"{% endif %}></iframe>
</div>