<rbs-links-panel title="{{ i18nAttr('m.rbs.admin.admin.contents', ['ucf']) }}" icon="icon-list-alt">
	<a href="Rbs/Review/Review/" class="rbs-panel-link" icon="icon-bar-chart">{{ i18nAttr('m.rbs.review.admin.review_list', ['ucf']) }}</a>
</rbs-links-panel>
