<form name="form" ng-submit="submit()" novalidate="">

	<rbs-field-text
		label="{{ i18nAttr(propertyKey('Rbs_Seo_ModelConfiguration', 'defaultMetaTitle'), ['ucf']) }}"
		property="defaultMetaTitle">
	</rbs-field-text>

	<rbs-field-text
		label="{{ i18nAttr(propertyKey('Rbs_Seo_ModelConfiguration', 'defaultMetaDescription'), ['ucf']) }}"
		property="defaultMetaDescription">
	</rbs-field-text>

	<rbs-field-text
		label="{{ i18nAttr(propertyKey('Rbs_Seo_ModelConfiguration', 'defaultMetaKeywords'), ['ucf']) }}"
		property="defaultMetaKeywords">
	</rbs-field-text>

	<rbs-form-button-bar></rbs-form-button-bar>
</form>