<div class="document-form">
	<rbs-page-header document="document" sub-title="{{ i18nAttr(modelKey('Rbs_Seo_ModelConfiguration'), ['ucf']) }}"></rbs-page-header>

	<rbs-workspace-config>
		<rbs-breadcrumb-config>
			<rbs-location href="(= 'Rbs_Seo'|rbsURL:'home' =)">{{ i18nAttr('m.rbs.seo.admin.module_name', ['ucf']) }}</rbs-location>
			<rbs-location href="(= 'Rbs_Seo_ModelConfiguration'|rbsURL:'list' =)">{{ i18nAttr('m.rbs.seo.documents.modelconfiguration_list', ['ucf']) }}</rbs-location>
		</rbs-breadcrumb-config>
	</rbs-workspace-config>

	<div ng-switch="editMode">
		<div ng-switch-when="translate" class="rbs-document-editor rbs-document-editor-translate rbs-document-editor-rbs-seo-model-configuration-translate"></div>
		<div ng-switch-default="" class="rbs-document-editor rbs-document-editor-rbs-seo-model-configuration"></div>
	</div>
</div>