<rbs-links-panel title="{{ i18nAttr('m.rbs.admin.admin.contents', ['ucf']) }}" icon="icon-list-alt">
	<a href="Rbs/Timeline/Message/" class="rbs-panel-link">{{ i18n('m.rbs.timeline.admin.message_list', ['ucf']) }}</a>
</rbs-links-panel>
