<div>

	<ul class="nav nav-list">
		<li class="nav-header">{{ i18nAttr('m.rbs.timeline.admin.message-list', ['ucf']) }}</li>
		<li><a href="Rbs/Timeline/Message"><i class="icon-comments"></i> {{ i18nAttr('m.rbs.timeline.admin.message-list', ['ucf']) }}</a></li>
	</ul>

</div>