<div class="row">
	<div data-rbs-full-width="">
		<rbs-page-header title="{{ i18nAttr('m.rbs.discount.admin.coupon_list', ['ucf']) }}"></rbs-page-header>
		<rbs-document-filter-panel open-by-default="false" model="Rbs_Discount_Coupon" filter="filter" ></rbs-document-filter-panel>
		<rbs-document-list data-dlid="DLRbsDiscountCouponAll" model="Rbs_Discount_Coupon" filter-collection="filter"
				activable="true" actions="">
			<quick-actions></quick-actions>
			<rbs-column name="label" primary="true">(= doc.label =)</rbs-column>
			<rbs-column name="code"></rbs-column>
			<rbs-column name="orderProcess">(= doc.orderProcess.label =)</rbs-column>
		</rbs-document-list>
	</div>
</div>