<rbs-document-list data-dlid="DLDocumentPicker{{ query.model }}"
               publishable="true"
               model="{{ query.model }}"
               filter-query="query" extend="picker" actions="">
	<column name="label" label="Libellé"><!--TODO localization-->
		{% if (query.multiple) %}
		<span class="pull-right">
			<!--TODO localization-->
			<button type="button" class="btn btn-mini" ng-click="extend.replaceWithDocument(doc)"><i class="icon-arrow-right" title="Remplacer par cet élément"></i></button>
		</span>
		{% endif %}
		<a href="javascript:;" ng-click="extend.selectDocument(doc)">(=doc.label=)</a>
	</column>
</rbs-document-list>