<ul class="breadcrumb notop">
	<li><a href=".">{{ i18n('m.change.website.fo.home',['ucf']) }}</a></li>
{% for item in thread %}
	<li>
		<span class="divider">{{ parameters.separator }}</span>
		{% if item.hasUrl %}<a href="{{ item.url }}">{% endif %}
			{{ item.label }}
		{% if item.hasUrl %}</a>{% endif %}
	</li>
{% endfor %}
</ul>