<div class="document-form" data-ng-controller="Change_Users_User_FormController">
	<page-header document="document" sub-title="{{ i18nAttr('m.change.users.document.user', ['ucf']) }}"></page-header>
	<div class="document-editor editor-change-users-user"
		document="document"
		section="section"
		on-save="onSave(document)"
		on-cancel="onCancel()">
	</div>
</div>