<div data-ng-controller="Rbs_Users_User_ListController">
	<page-header title="{{ i18nAttr('m.rbs.users.document.user-list', ['ucf']) }}"></page-header>
	<search-filters model="Rbs_Users_User" query="query" text-search="textSearch"></search-filters>
	<div>
		<a href="Rbs/Users/User/new">{{ i18n('m.rbs.users.document.user-create', ['ucf']) }}</a>
	</div>

	<document-list data-dlid="DLUsers1"
	               publishable="true"
	               model="Rbs_Users_User"
	               query="query">
		<column name="label" label="Nom" primary="true"></column>
	</document-list>
</div>