<div class="document-form">
	<page-header document="document" sub-title="{{ i18nAttr(modelKey('Rbs_Price_Price'), ['ucf']) }}"></page-header>

	<rbs-workspace-config>
		<rbs-breadcrumb-config>
			<location href="(= 'Rbs_Price'|rbsURL:'home' =)">{{ i18n('m.rbs.price.admin.js.module-name', ['ucf']) }}</location>
			<location href="(= 'Rbs_Price_Price'|rbsURL:'list' =)">{{ i18n('m.rbs.price.admin.js.price-list', ['ucf']) }}</location>
		</rbs-breadcrumb-config>
	</rbs-workspace-config>

	<div class="rbs-document-editor rbs-document-editor-rbs-price-price"></div>
</div>