<h1>{{ form.currentLocalization.title }}</h1>
<div class="text-success">{{ form.currentLocalization.confirmationMessage|richText }}</div>
<p><a href="{{ currentURL({('success-' ~ blockId): null}) }}">{{ i18n('m.rbs.simpleform.front.back_to_form', ['ucf']) }}</a></p>