<div data-ng-controller="Change_Catalog_MainMenuController">
	<ul class="nav nav-list">
		<li class="nav-header">{{ i18n('m.change.admin.contents', ['ucf']) }}</li>
		<li><a href="Change/Catalog/Category"><i class="icon-home"></i> {{ i18n('m.change.catalog.document.category.document-list-name', ['ucf']) }}</a></li>
		<li><a href="Change/Catalog/Product"><i class="icon-list-alt"></i> {{ i18n('m.change.catalog.document.product.document-list-name', ['ucf']) }}</a></li>
		<li><a href="Change/Brand/Brand"><i class="icon-list-alt"></i> {{ i18n('m.change.brand.document.brand.document-list-name', ['ucf']) }}</a></li>
	</ul>
</div>