<div class="document-form">
	<page-header document="document" sub-title="{{ i18nAttr('m.rbs.catalog.documents.crosssellingproductlist.title', ['ucf']) }}"></page-header>

	<div class="rbs-document-editor rbs-document-editor-rbs-catalog-cross-selling-product-list"></div>
</div>