<form class="form-inline">
	<div class="input-group">
		<input type="text" class="form-control input-small" />
		<span class="input-group-btn">
			<button type="submit" class="btn btn-primary btn-small"><i class="glyphicon glyphicon-search"></i></button>
		</span>
	</div>
</form>