<div class="dropdown switch-language">
	<a href="#" data-toggle="dropdown" class="dropdown-toggle">
		<i class="glyphicon glyphicon-comment"></i> FR <b class="caret"></b>
	</a>
	<ul class="dropdown-menu">
		<li><a href="#">FR</a></li>
		<li><a href="#">EN</a></li>
		<li><a href="#">DE</a></li>
		<li><a href="#">JP</a></li>
	</ul>
</div>