<h4>Corrections</h4>

<h5>Principe</h5>
<p>
	Les documents publiés (visibles sur le site web), peuvent être modifiés dans l'interface d'administration de Change
	sans que les changements ne soient immédiatement visibles en ligne. Ce mécanisme permet de faire
	<strong>valider les	changements avant leur publication</strong>.
</p>

<h5>Fonctionnement</h5>
<p>
	Lorsque vous modifiez un document publié, <strong>une Correction est créée</strong> pour le document en question.
	Dans l'interface de Change, les modifications apparaissent dans le formulaire d'édition du Document, bien qu'elles
	ne soient pas encore visibles sur le site web.
<p>
<p>
	L'interface affichée ici vous permet de gérer les corrections <em>via</em> les actions suivantes :
</p>
<ul>
	<li><strong>Voir les propriétés qui ont été modifiées</strong>, avec leurs valeurs actuelle et corrigée ;</li>
	<li><strong>Appliquer immédiatement</strong> la Correction sur le Document ;</li>
	<li><strong>Planifier l'application</strong> de la Correction sur le Document à une date future ;</li>
	<li><strong>Supprimer</strong> la Correction, c'est-à-dire revenir aux données actuellement publiées ;</li>
	<li><strong>Annuler</strong> la correction sur certaines propriétés.</li>	
</ul>