<h4>&Eacute;tats des documents</h4>

<dl>

	<dt><div class="bullet-status DRAFT"></div> Brouillon</dt>
	<dd style="margin-left: 25px; margin-bottom: 10px;">Le document est à l'état de brouillon : il n'a encore jamais été publié sur le site web.</dd>

	<dt><div class="bullet-status PUBLISHABLE"></div> Publiable</dt>
	<dd style="margin-left: 25px; margin-bottom: 10px;">Le document est prêt pour être affiché sur le site web.</dd>

	<dt><div class="bullet-status VALIDCONTENT"></div> Contenu validé</dt>
	<dd style="margin-left: 25px; margin-bottom: 10px;">Le contenu a été validé.</dd>

	<dt><div class="bullet-status UNPUBLISHABLE"></div> Non publiable</dt>
	<dd style="margin-left: 25px; margin-bottom: 10px;">Le document ne peut pas être affiché sur le site web.</dd>

	<dt><div class="bullet-status FROZEN"></div> Gelé</dt>
	<dd style="margin-left: 25px; margin-bottom: 10px;">Le document a été gelé (désactivé) et n'est plus visible sur le site web.</dd>

	<dt><div class="bullet-status FILED"></div> Archivé</dt>
	<dd style="margin-left: 25px; margin-bottom: 10px;">Le document a été archivé.</dd>

	<dt><div class="bullet-status PUBLISHABLE"><div class="overlay correction">C</div></div> Correction</dt>
	<dd style="margin-left: 25px; margin-bottom: 10px;">Le document dispose d'une correction : il est publié sur le site web, mais une correction a été apportée et cette dernière n'a pas été publiée sur le site web.
	Ainsi, lors de l'édition de ce document dans RBS Change, les données affichées sont celles de la correction : elles peuvent être différentes de celles affichées en ligne.</dd>

	<dt><div class="bullet-status VALIDATION"></div> Validation</dt>
	<dd style="margin-left: 25px">Le document est actuellement dans un processus de validation.</dd>

</dl>